Repository Altinn/app-frontend-react, pull requests merged in 2022-08, with the labels that each got.

#356 Chore/353 upgrade to react router v6
  .gitignore
  src/altinn-app-frontend/__mocks__/constants.ts
  src/altinn-app-frontend/__mocks__/mocks.ts
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/App.test.tsx
  src/altinn-app-frontend/src/App.tsx
  src/altinn-app-frontend/src/common/hooks/index.ts
  src/altinn-app-frontend/src/common/hooks/useApiErrorCheck.ts
  src/altinn-app-frontend/src/common/hooks/useInstanceIdParams.test.tsx
  src/altinn-app-frontend/src/common/hooks/useInstanceIdParams.ts
  src/altinn-app-frontend/src/common/hooks/useProcess.ts
  src/altinn-app-frontend/src/components/base/InstantiationButtonComponent.tsx
  src/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/altinn-app-frontend/src/features/entrypoint/Entrypoint.test.tsx
  src/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/altinn-app-frontend/src/features/feedback/Feedback.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.test.tsx
  src/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.test.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiateContainer.test.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiateContainer.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiationContainer.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/index.ts
  src/altinn-app-frontend/src/features/instantiate/instantiation/instantiationSlice.ts
  src/altinn-app-frontend/src/features/receipt/containers/ReceiptContainer.test.tsx
  src/altinn-app-frontend/src/features/receipt/containers/ReceiptContainer.tsx
  src/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
  src/altinn-app-frontend/src/shared/resources/instanceData/get/getInstanceDataSagas.ts
  src/altinn-app-frontend/src/shared/resources/instanceData/index.d.ts
  src/altinn-app-frontend/src/shared/resources/process/completeProcess/completeProcessSagas.ts
  src/altinn-app-frontend/src/utils/appMetadata.test.ts
  src/altinn-app-frontend/src/utils/appMetadata.ts
  src/altinn-app-frontend/src/utils/appUrlHelper.ts
  src/altinn-app-frontend/src/utils/index.ts
  src/altinn-app-frontend/src/utils/instanceIdRegExp.test.ts
  src/altinn-app-frontend/src/utils/instanceIdRegExp.ts
  src/altinn-app-frontend/testUtils.tsx
  src/package.json
  src/shared/package.json
  src/shared/src/components/Select.tsx
  src/shared/src/components/molecules/AltinnSummaryTable.tsx
  src/shared/src/utils/index.ts
  src/yarn.lock
  test/cypress/e2e/integration/app-frontend/message.js
  test/cypress/e2e/integration/app-frontend/on-entry.js
Labels: area/test, area/instantiation, area/receipt

#354 Redux fixes for #319
  src/altinn-app-frontend/src/features/form/data/formDataSlice.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiateContainer.tsx
  src/altinn-app-frontend/src/utils/validation/validation.ts
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/attachments-in-group.js
  test/cypress/e2e/integration/app-frontend/calculate-page-order.js
  test/cypress/e2e/integration/app-frontend/formatting.js
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/integration/app-frontend/mobile.js
  test/cypress/e2e/integration/app-frontend/options.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/app-frontend.js
  test/cypress/e2e/support/start-app-instance.js
Labels: area/test, area/instantiation

#364 chore: upgrade deps w31
  src/altinn-app-frontend/package.json
  src/package.json
  src/shared/package.json
  src/yarn.lock
  test/cypress/package.json
  test/cypress/yarn.lock
Labels: area/test

#367 Cypress: Fuzzing and redux logging
  .github/workflows/cypress-altinn-app-frontend.yml
  src/altinn-app-frontend/src/store/index.ts
  test/cypress/.gitignore
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/support/index.js
  test/cypress/e2e/support/start-app-instance.js
Labels: area/test

#328 implement text field from design system
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/advanced/AddressComponent.css
  src/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/altinn-app-frontend/src/components/base/InputComponent.test.tsx
  src/altinn-app-frontend/src/components/base/InputComponent.tsx
  src/shared/package.json
  src/yarn.lock
  test/cypress/e2e/integration/app-frontend/message.js
Labels: area/test

#372 Removing complex objects from redux store
  src/altinn-app-frontend/__mocks__/instanceDataStateMock.ts
  src/altinn-app-frontend/__mocks__/validationStateMock.ts
  src/altinn-app-frontend/src/components/base/AttachmentListComponent.test.tsx
  src/altinn-app-frontend/src/components/message/ErrorReport.test.tsx
  src/altinn-app-frontend/src/components/message/ErrorReport.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.test.ts
  src/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.test.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/render.tsx
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  src/shared/src/types/index.ts
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/app-frontend.js
  test/cypress/e2e/support/app.js
  test/cypress/e2e/support/index.d.ts
  test/cypress/e2e/support/index.js
Labels: area/test

#326 Map component
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/base/MapComponent.test.tsx
  src/altinn-app-frontend/src/components/base/MapComponent.tsx
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/components/summary/MapComponentSummary.tsx
  src/altinn-app-frontend/src/components/summary/SummaryComponentSwitch.tsx
  src/altinn-app-frontend/src/features/form/layout/index.ts
  src/altinn-app-frontend/src/global.d.ts
  src/altinn-app-frontend/webpack.common.js
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  src/yarn.lock
  tsconfig.json
Labels: external-contribution-❤️

#384 BugFix: Show menu icon when user doesn't have ssn or org number
  src/shared/src/components/organisms/AltinnAppHeader.test.tsx
  src/shared/src/components/organisms/AltinnAppHeaderMenu.tsx
  src/shared/src/types/index.ts
Labels: external-contribution-❤️

#400 Move delete-row button from edit-group into table
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsTable.test.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.test.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/shared/src/components/molecules/AltinnMobileTable.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.test.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.tsx
  test/cypress/e2e/integration/app-frontend/attachments-in-group.js
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test, area/instantiation

#368 Implement error message from design system
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/message/MessageComponent.test.tsx
  src/altinn-app-frontend/src/components/message/MessageComponent.tsx
  src/altinn-app-frontend/src/utils/render.tsx
  src/altinn-app-frontend/webpack.common.js
  src/yarn.lock
  test/cypress/e2e/integration/app-frontend/validation.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test

#423 Adding an element for the PDF generator to know when the page has loaded
  src/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/altinn-app-frontend/src/features/feedback/Feedback.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiationContainer.tsx
  src/altinn-app-frontend/src/features/receipt/containers/ReceiptContainer.tsx
  src/altinn-app-frontend/src/shared/components/ReadyForPrint.tsx
Labels: area/instantiation, area/receipt
