Repository Altinn/app-frontend-react, pull requests merged in 2022-12, with the labels that each got.

#704 Datepicker-Timestamp update
  schemas/json/layout/layout.schema.v1.json
Labels: kind/other, ignore-for-release

#695 Fix code list with mapping not showing up in summary (repeating group)
  src/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  test/cypress/e2e/integration/app-frontend/summary.js
  test/cypress/e2e/support/navigation.js
Labels: kind/bug, area/test

#694 fix validation issues for oneOf(ref, null) structure
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
Labels: kind/bug

#708 Clicking links in help text pop-up causes it to close
  src/altinn-app-frontend/src/features/form/components/HelpTextContainer.tsx
  src/shared/src/components/AltinnPopover.tsx
Labels: kind/bug

#638 List component
  schemas/json/layout/layout.schema.v1.json
  src/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/altinn-app-frontend/src/components/base/ListComponent.test.tsx
  src/altinn-app-frontend/src/components/base/ListComponent.tsx
  src/altinn-app-frontend/src/components/hooks/index.ts
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/altinn-app-frontend/src/features/form/layout/index.ts
  src/altinn-app-frontend/src/reducers/index.ts
  src/altinn-app-frontend/src/selectors/dataListStateSelector.ts
  src/altinn-app-frontend/src/selectors/getErrors.ts
  src/altinn-app-frontend/src/shared/resources/dataLists/dataListSlice.test.tsx
  src/altinn-app-frontend/src/shared/resources/dataLists/dataListsSlice.ts
  src/altinn-app-frontend/src/shared/resources/dataLists/fetchDataListsSaga.ts
  src/altinn-app-frontend/src/shared/resources/dataLists/index.d.ts
  src/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/altinn-app-frontend/src/shared/resources/options/index.d.ts
  src/altinn-app-frontend/src/utils/appUrlHelper.test.ts
  src/altinn-app-frontend/src/utils/appUrlHelper.ts
  src/altinn-app-frontend/src/utils/dataList.ts
  src/altinn-app-frontend/src/utils/databindings.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  test/cypress/e2e/integration/app-frontend/confirmation.js
  test/cypress/e2e/integration/app-frontend/list-component.js
  test/cypress/e2e/integration/app-frontend/mobile.js
  test/cypress/e2e/integration/app-frontend/receipt.js
  test/cypress/e2e/pageobjects/datalist.js
  test/cypress/e2e/support/index.d.ts
  test/cypress/e2e/support/navigation.js
Labels: external-contribution-❤️, area/test, kind/product-feature

#713 Possibly fixing navigation issue
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.test.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  test/cypress/e2e/integration/app-frontend/calculate-page-order.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: kind/bug, area/test

#723 Fixing CodeQL alerts
  src/altinn-app-frontend/src/utils/rules/rules.test.tsx
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
Labels: kind/other

#725 Improve the display of headers when referenced in summary
  src/altinn-app-frontend/src/components/base/HeaderComponent.tsx
  src/altinn-app-frontend/src/components/summary/HeaderSummary.tsx
  src/altinn-app-frontend/src/components/summary/SummaryComponentSwitch.tsx
Labels: external-contribution-❤️, kind/bug, org/krt

#727 Remove unnecessary extension recommendations for vs-code
  .vscode/extensions.json
Labels: kind/other, ignore-for-release

#650 Use new table component in repeating groups
  babel.config.json
  cypress/README.md
  cypress/e2e/fixtures/allowed-parties.json
  cypress/e2e/fixtures/attachment.json
  cypress/e2e/pageobjects/app-frontend.js
  src/__mocks__/json-schema/complex.json
  src/__mocks__/json-schema/one-of-on-root.json
  src/components/advanced/AddressComponent.md
  src/components/base/DatepickerComponent.css
  src/components/base/FileUpload/FileUploadComponent.css
  src/components/base/FileUpload/FileUploadComponent.md
  src/features/expressions/shared-tests/functions/component/simple-lookup-equals.json
  src/features/expressions/shared-tests/functions/concat/inside-lookup.json
  src/features/expressions/shared-tests/functions/frontendSettings/simple-lookup-equals.json
  src/features/expressions/shared-tests/functions/instanceContext/simple-lookup-equals.json
  src/features/expressions/shared-tests/layout-preprocessor/successful.json
  src/features/form/components/FullWidthWrapper.tsx
  src/features/form/containers/GroupContainer.tsx
  src/features/form/containers/RepeatingGroupTable.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/features/form/containers/RepeatingGroupsTable.test.tsx
  src/styles/shared.css
  tsconfig.json
Labels: area/test, kind/product-feature

#714 Enable expressions for TextResourceBindings and per row in repeating groups
  schemas/json/layout/layout.schema.v1.json
  src/components/shared/index.ts
  src/components/summary/GroupInputSummary.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/features/expressions/index.test.ts
  src/features/expressions/index.ts
  src/features/expressions/useExpressions.ts
  src/features/form/components/RepeatingGroupAddButton.test.tsx
  src/features/form/components/RepeatingGroupAddButton.tsx
  src/features/form/containers/AltinnMobileTableItem.test.tsx
  src/features/form/containers/AltinnMobileTableItem.tsx
  src/features/form/containers/DisplayGroupContainer.tsx
  src/features/form/containers/GroupContainer.tsx
  src/features/form/containers/PanelGroupContainer.tsx
  src/features/form/containers/RepeatingGroupTable.tsx
  src/features/form/containers/RepeatingGroupTableRow.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/features/form/containers/RepeatingGroupsLikertContainer.tsx
  src/features/form/layout/index.ts
  src/features/instantiate/containers/InstanceSelection.tsx
  src/utils/formLayout.ts
  test/e2e/fixtures/texts.json
  test/e2e/integration/app-frontend/group.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: area/test, area/instantiation, kind/product-feature

#755 Limit repeating-group-table content to two lines by default
  src/features/form/containers/RepeatingGroupTable.tsx
  src/features/form/containers/RepeatingGroupTableRow.tsx
Labels: ignore-for-release

#742 Fixing remaining warnings from `eslint`
  src/components/advanced/AddressComponent.tsx
  src/components/base/LikertComponent.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/utils/instanceIdRegExp.ts
Labels: kind/other, ignore-for-release

#757 Running tests on dependency upgrades (again)
  .github/workflows/cypress.yml
  .github/workflows/unit-tests.yml
Labels: kind/other, ignore-for-release

#758 Showing validation error in vscode when using invalid IDs for components
  .eslintrc.json
  schemas/json/layout/layout.schema.v1.json
Labels: kind/bug

#759 Fix `SummaryGroupComponent` showing non-existing validation errors
  src/components/summary/SummaryGroupComponent.tsx
Labels: kind/bug

#762 Adding missing `not` function to expresions JsonSchema
  schemas/json/layout/expression.schema.v1.json
Labels: kind/bug

#745 Hiding components in hidden groups/repeating groups
  src/features/expressions/shared-tests/functions/component/hidden-in-non-repeating-group.json
  src/features/expressions/shared-tests/functions/component/visible-in-non-repeating-group.json
  src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
Labels: kind/product-feature

#765 Allow app text in standard receipt
  src/components/organisms/AltinnReceipt.tsx
  src/components/organisms/AltinnReceiptSimple.tsx
  src/components/presentation/Header.tsx
  src/features/receipt/containers/ReceiptContainer.test.tsx
  src/features/receipt/containers/ReceiptContainer.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/product-feature

#729 Receipt as layoutpage
  schemas/json/layout/layout.schema.v1.json
  src/components/organisms/AltinnReceipt.tsx
  src/components/presentation/Header.test.tsx
  src/features/customReceipt/containers/CustomReceipt.tsx
  src/features/form/layout/formLayoutSlice.test.ts
  src/features/form/layout/formLayoutSlice.ts
  src/features/receipt/containers/ReceiptContainer.test.tsx
  src/features/receipt/containers/ReceiptContainer.tsx
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/layout/AttachmentList/types.d.ts
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/layout/InstanceInformation/types.d.ts
  src/layout/index.ts
  src/layout/layout.d.ts
  src/types/index.ts
  src/types/shared.ts
Labels: area/receipt, kind/product-feature

#793 When a summary component sets display.hideBottomBorder we don't need space for a border
  src/components/summary/SummaryComponent.tsx
Labels: external-contribution-❤️
