Repository Altinn/app-frontend-react, pull requests merged in 2022-06, with the labels that each got.

#186 bug: avoid mutating redux state
  src/altinn-app-frontend/src/components/base/FileUpload/FileUploadComponent.tsx
  src/altinn-app-frontend/src/shared/resources/attachments/attachmentReducer.test.ts
  src/altinn-app-frontend/src/shared/resources/attachments/attachmentReducer.ts
  src/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/altinn-app-frontend/src/store/index.ts
  src/shared/src/utils/language.test.ts
  src/shared/src/utils/language.ts
Labels: area/attachments, area/language

#192 chore: patching of deps w22
  src/altinn-app-frontend/package.json
  src/shared/package.json
  src/yarn.lock
  test/cypress/README.md
  test/cypress/cypress.config.js
  test/cypress/cypress.json
  test/cypress/e2e/integration/app-stateless-anonymous/anonymous.js
  test/cypress/e2e/plugins/index.js
  test/cypress/package.json
  test/cypress/yarn.lock
Labels: area/test

#72 Likert Component
  src/.eslintrc.json
  src/altinn-app-frontend/setupTests.ts
  src/altinn-app-frontend/src/components/GenericComponent.tsx
  src/altinn-app-frontend/src/components/advanced/AddressLabel.tsx
  src/altinn-app-frontend/src/components/base/DatepickerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/LikertComponent.tsx
  src/altinn-app-frontend/src/components/base/NavigationBar.test.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/ControlledRadioGroup.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/RadioButtonsContainerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/RadioButtonsContainerComponent.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/StyledRadio.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/radioButtonsUtils.ts
  src/altinn-app-frontend/src/components/base/RadioButtonsContainerComponent.tsx
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/features/entrypoint/Entrypoint.test.tsx
  src/altinn-app-frontend/src/features/form/components/Label.tsx
  src/altinn-app-frontend/src/features/form/components/Legend.tsx
  src/altinn-app-frontend/src/features/form/components/OptionalIndicator.tsx
  src/altinn-app-frontend/src/features/form/components/RequiredIndicator.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikert.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikertTestUtils.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsLikertContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsTable.test.tsx
  src/altinn-app-frontend/src/features/form/containers/__snapshots__/RepeatingGroupsTable.test.tsx.snap
  src/altinn-app-frontend/src/features/form/layout/index.ts
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.test.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.test.tsx
  src/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/altinn-app-frontend/src/utils/formLayout.ts
  src/altinn-app-frontend/src/utils/validation.ts
  src/altinn-app-frontend/testUtils.tsx
  src/shared/src/components/molecules/AltinnTableBody.tsx
  src/shared/src/components/molecules/AltinnTableHeader.tsx
  src/shared/src/components/molecules/AltinnTableRow.tsx
  src/shared/src/components/organisms/AltinnTable.tsx
  src/shared/src/theme/altinnAppTheme.tsx
Labels: external-contribution-❤️, area/instantiation, area/language

#182 chore: remove need to override config in package json for local testrun
  .github/workflows/cypress-altinn-app-frontend.yml
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/altinn-app-frontend/styleguide.config.js
  src/altinn-app-frontend/webpack.common.js
  src/shared/styleguide.config.js
  src/shared/styleguide.webpack.config.js
  test/cypress/.gitignore
  test/cypress/README.md
  test/cypress/cypress.config.js
  test/cypress/e2e/fixtures/test.pdf
  test/cypress/e2e/fixtures/test.png
  test/cypress/package.json
  test/cypress/scripts/startApp.mjs
  test/cypress/scripts/startAppFrontend.mjs
  test/cypress/scripts/startLocaltest.mjs
  test/cypress/scripts/utils.mjs
  test/cypress/template.env
  test/cypress/yarn.lock
Labels: area/test

#88 feature/10-wcag-skip-blocks
  src/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/altinn-app-frontend/src/components/base/NavigationBar.tsx
  src/altinn-app-frontend/src/components/presentation/Header.test.tsx
  src/altinn-app-frontend/src/components/presentation/Header.tsx
  src/altinn-app-frontend/src/components/presentation/NavBar.test.tsx
  src/altinn-app-frontend/src/components/presentation/NavBar.tsx
  src/altinn-app-frontend/src/features/form/components/MessageBanner.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.test.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/altinn-app-frontend/src/features/form/containers/__snapshots__/Form.test.tsx.snap
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiationContainer.tsx
  src/altinn-app-frontend/src/shared/components/__snapshots__/altinnAppHeader.test.tsx.snap
  src/altinn-app-frontend/src/shared/components/altinnAppHeader.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/altinn-app-frontend/src/shared/containers/__snapshots__/Presentation.test.tsx.snap
  src/shared/src/components/LandmarkShortcuts.test.tsx
  src/shared/src/components/LandmarkShortcuts.tsx
  src/shared/src/components/organisms/AltinnAppHeader.test.tsx
  src/shared/src/components/organisms/AltinnAppHeader.tsx
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  test/cypress/e2e/integration/app-frontend/mobile.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test, area/instantiation

#219 bug: failing to fetch options for anonymous users
  src/altinn-app-frontend/src/shared/resources/profile/profileReducers.ts
  test/cypress/e2e/integration/app-stateless-anonymous/options.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test

#176 feat: soft validations
  src/altinn-app-frontend/__mocks__/validationStateMock.ts
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/setupTests.ts
  src/altinn-app-frontend/src/App.tsx
  src/altinn-app-frontend/src/components/GenericComponent.tsx
  src/altinn-app-frontend/src/components/base/DatepickerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/features/form/components/FullWidthWrapper.tsx
  src/altinn-app-frontend/src/features/form/components/SoftValidations.test.tsx
  src/altinn-app-frontend/src/features/form/components/SoftValidations.tsx
  src/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.test.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.test.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/altinn-app-frontend/src/utils/render.tsx
  src/altinn-app-frontend/src/utils/validation.test.ts
  src/altinn-app-frontend/src/utils/validation.ts
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  src/yarn.lock
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/validation.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test

#187 Bugfix/duplicate validation messages shown
  src/altinn-app-frontend/src/components/advanced/AddressComponent.test.tsx
  src/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/EditWindowComponent.tsx
  src/altinn-app-frontend/src/components/base/LikertComponent.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.test.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/utils/layout/index.test.tsx
  src/altinn-app-frontend/src/utils/layout/index.tsx
Labels: area/test, area/instantiation, area/language

#228 fix flaky cypress test
  test/cypress/e2e/integration/app-frontend/summary.js
Labels: area/test

#83 Application language support
  src/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/altinn-app-frontend/__mocks__/statelessAndAllowAnonymousMock.ts
  src/altinn-app-frontend/__mocks__/uiConfigStateMock.ts
  src/altinn-app-frontend/src/components/base/DropdownComponent.tsx
  src/altinn-app-frontend/src/components/presentation/CloseButton.tsx
  src/altinn-app-frontend/src/components/presentation/LanguageSelector.tsx
  src/altinn-app-frontend/src/components/presentation/NavBar.test.tsx
  src/altinn-app-frontend/src/components/presentation/NavBar.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/features/instantiate/containers/index.test.tsx
  src/altinn-app-frontend/src/selectors/appLanguageStateSelector.test.ts
  src/altinn-app-frontend/src/selectors/appLanguageStateSelector.ts
  src/altinn-app-frontend/src/selectors/getAllowAnonymous.test.ts
  src/altinn-app-frontend/src/selectors/simpleSelectors.ts
  src/altinn-app-frontend/src/services/AppApi.tsx
  src/altinn-app-frontend/src/services/LanguageApi.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.test.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/altinn-app-frontend/src/shared/containers/__snapshots__/Presentation.test.tsx.snap
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.ts
  src/altinn-app-frontend/src/shared/resources/language/languageSlice.ts
  src/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.ts
  src/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourceSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/altinn-app-frontend/src/types/index.ts
  src/shared/src/components/Select.tsx
  src/shared/src/components/index.ts
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  src/shared/src/types/index.ts
Labels: external-contribution-❤️, area/instantiation, area/language

#221 Progress component
  src/altinn-app-frontend/src/components/presentation/Header.test.tsx
  src/altinn-app-frontend/src/components/presentation/Header.tsx
  src/altinn-app-frontend/src/components/presentation/Progress.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/altinn-app-frontend/src/shared/containers/__snapshots__/Presentation.test.tsx.snap
  src/altinn-app-frontend/src/types/index.ts
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
Labels: external-contribution-❤️, org/udir

#229 Feat/120 print button
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/base/PrintButtonComponent.test.tsx
  src/altinn-app-frontend/src/components/base/PrintButtonComponent.tsx
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/components/presentation/NavigationButtons.test.tsx
  src/altinn-app-frontend/src/index.css
  src/altinn-app-frontend/src/utils/textResource.ts
  src/shared/src/components/AltinnButton.tsx
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  src/yarn.lock
  test/cypress/README.md
  test/cypress/e2e/integration/app-frontend/components.js
  test/cypress/e2e/integration/app-frontend/print-button.js
  test/cypress/e2e/integration/app-frontend/summary.js
Labels: area/test

#226 chore: dependency patching w24
  src/altinn-app-frontend/package.json
  src/package.json
  src/shared/package.json
  src/yarn.lock
  test/cypress/package.json
  test/cypress/yarn.lock
Labels: area/test

#241 Make RepeatingGroupTable check optionsId and Options in same order
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
Labels: external-contribution-❤️

#254 Stabilizing tests
  src/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.test.ts
  test/cypress/e2e/integration/app-frontend/confirmation.js
  test/cypress/e2e/integration/app-frontend/receipt.js
Labels: area/test, area/language
