Repository Altinn/app-frontend-react, pull requests merged in 2022-11, with the labels that each got.

#590 fix: make sure progress circle is not wrapping
  src/altinn-app-frontend/src/components/presentation/Header.tsx
Labels: external-contribution-❤️

#525 Rewriting URLs to app-frontend in Cypress tests
  test/cypress/e2e/config/at21.json
  test/cypress/e2e/config/at22.json
  test/cypress/e2e/config/local.json
  test/cypress/e2e/config/tt02.json
  test/cypress/e2e/support/start-app-instance.js
Labels: area/test

#594 Validation trigger for single row
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.ts
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  test/cypress/e2e/integration/app-frontend/group.js
Labels: area/test

#609 Make MultipleChoiceSummary match styling of normal summary
  src/altinn-app-frontend/src/components/summary/MultipleChoiceSummary.tsx
  src/altinn-app-frontend/src/components/summary/__snapshots__/MultipleChoiceSummary.test.tsx.snap
Labels: external-contribution-❤️

#622 Fixing failing cypress redirect
  test/cypress/e2e/support/start-app-instance.js
Labels: area/test

#627 Removing validation messages when hiding fields using dynamics
  src/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/altinn-app-frontend/src/components/GenericComponent.tsx
  src/altinn-app-frontend/src/components/message/ErrorReport.test.tsx
  src/altinn-app-frontend/src/components/summary/SummaryComponent.test.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikertTestUtils.tsx
  src/altinn-app-frontend/src/features/form/data/formDataTypes.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.test.ts
  src/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/altinn-app-frontend/src/features/form/validation/validationSlice.test.ts
  src/altinn-app-frontend/src/features/form/validation/validationSlice.ts
  src/altinn-app-frontend/src/shared/containers/Presentation.test.tsx
  src/altinn-app-frontend/src/types/index.ts
  test/cypress/e2e/integration/app-frontend/dynamics.js
  test/cypress/e2e/support/app-frontend.js
Labels: area/test

#636 Date picker validation
  src/altinn-app-frontend/src/components/base/DatepickerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/altinn-app-frontend/src/components/hooks/useDelayedSavedState.ts
  src/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/altinn-app-frontend/src/utils/dateHelpers.test.ts
  src/altinn-app-frontend/src/utils/dateHelpers.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.test.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/altinn-app-frontend/src/utils/validation/index.ts
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  src/shared/src/language/texts/en.ts
  src/shared/src/utils/formatDate.ts
Labels: quality/debt

#641 Implement design system button into repeating groups
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/base/ButtonComponent/GoToTaskButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/SaveButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/SubmitButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/WrappedButton.tsx
  src/altinn-app-frontend/src/components/base/PrintButtonComponent.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.test.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.tsx
  src/shared/src/components/molecules/DeleteWarningPopover.tsx
  src/shared/src/theme/commonTheme.tsx
  src/yarn.lock
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/integration/app-frontend/message.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test, ux, area/instantiation

#635 Expressions: Returning `null` when `component` is hidden
  src/altinn-app-frontend/src/components/message/ErrorReport.tsx
  src/altinn-app-frontend/src/features/expressions/ExprContext.ts
  src/altinn-app-frontend/src/features/expressions/index.ts
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/across-pages-hidden.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/across-pages.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/duplicate-id-1.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/duplicate-id-2.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/hidden-in-group-hidden-other-row.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/hidden-in-group-other-row.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/hidden-in-group.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/in-group-group-hidden.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/in-group-page-hidden.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/in-group-with-hidden.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/simple-lookup-for-hidden-component-is-null.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/simple-lookup-for-hidden-dynamic-component-is-null.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/frontendSettings/lookup-case-sensitive.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/invalid/wrong-function-capitalization.json
  src/altinn-app-frontend/src/features/expressions/shared.test.ts
  src/altinn-app-frontend/src/features/expressions/shared.ts
  src/altinn-app-frontend/src/features/expressions/useExpressions.ts
  src/altinn-app-frontend/src/features/expressions/validation.test.ts
  src/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/altinn-app-frontend/src/features/form/dynamics/formDynamicsSlice.ts
  src/altinn-app-frontend/src/features/form/dynamics/index.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.test.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.ts
  src/altinn-app-frontend/src/utils/layout/useLayoutsAsNodes.test.tsx
  src/altinn-app-frontend/src/utils/layout/useLayoutsAsNodes.ts
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  test/cypress/e2e/integration/app-frontend/dynamics.js
  test/cypress/e2e/integration/app-frontend/group.js
Labels: area/test, kind/product-feature

#654 Custom web component: Converting React elements to HTML
  schemas/json/layout/layout.schema.v1.json
  src/altinn-app-frontend/setupTests.ts
  src/altinn-app-frontend/src/components/custom/CustomWebComponent.test.tsx
  src/altinn-app-frontend/src/components/custom/CustomWebComponent.tsx
Labels: kind/bug

#659 Bugfix: Crash when `null` in `textResourceBindings`
  src/altinn-app-frontend/src/features/expressions/index.ts
Labels: kind/bug

#666 Improving the PR template
  .github/pull_request_template.md
  .github/release.yml
Labels: kind/other

#673 Removing `go-to-task` trick in Cypress tests
  test/cypress/e2e/support/app-frontend.js
  test/cypress/e2e/support/index.d.ts
  test/cypress/e2e/support/navigation.js
Labels: area/test, kind/other

#664 Fix saving row with triggers=validation
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  test/cypress/e2e/integration/app-frontend/group.js
Labels: kind/bug, area/test

#668 Removing the old styleguide
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/styleguide.config.js
  src/altinn-app-frontend/styleguide/advanced.md
  src/altinn-app-frontend/styleguide/base.md
  src/altinn-app-frontend/styleguide/introduction.md
  src/altinn-app-frontend/styleguide/wrapper.tsx
  src/shared/package.json
  src/shared/styleguide.config.js
  src/shared/styleguide.webpack.config.js
  src/shared/styleguide/atomicdesign.png
  src/shared/styleguide/atoms.md
  src/shared/styleguide/components.md
  src/shared/styleguide/introduction.md
  src/shared/styleguide/molecules.md
  src/shared/styleguide/organisms.md
  src/shared/styleguide/wrapper.tsx
  src/yarn.lock
Labels: kind/other

#676 Align radio and checkbox to top
  src/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/ControlledRadioGroup.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/radioButtonsUtils.ts
Labels: kind/bug

#663 Enabling `readOnly` option for radios and checkboxes
  src/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/ControlledRadioGroup.tsx
  test/cypress/e2e/integration/app-frontend/components.js
Labels: kind/bug, area/test

#683 Hiding Summary components when original component is hidden
  src/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.test.tsx
  test/cypress/e2e/integration/app-frontend/components.js
  test/cypress/e2e/integration/app-frontend/dynamics.js
  test/cypress/e2e/integration/app-frontend/formatting.js
  test/cypress/e2e/integration/app-frontend/likert.js
  test/cypress/e2e/integration/app-frontend/mobile.js
  test/cypress/e2e/integration/app-frontend/options.js
  test/cypress/e2e/integration/app-frontend/prefill.js
  test/cypress/e2e/integration/app-frontend/rules.js
  test/cypress/e2e/integration/app-frontend/summary.js
  test/cypress/e2e/integration/app-frontend/tabbing.js
  test/cypress/e2e/integration/app-frontend/texts.js
  test/cypress/e2e/integration/app-frontend/validation.js
  test/cypress/e2e/support/index.d.ts
  test/cypress/e2e/support/navigation.js
Labels: area/test, kind/product-feature

#684 Release script: version number sanity check
  .github/scripts/release.sh
Labels: kind/other, ignore-for-release

#685 Expressions: Syncing tests and error messages with backend
  src/altinn-app-frontend/src/features/expressions/index.ts
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/hidden-in-group-hidden-other-row.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/hidden-in-group-other-row.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/component/null.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/dataModel/null.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/frontendSettings/null.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/if/fail-5.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/if/fail-empty-string.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/if/fail-string.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/if/falsy-0-1.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/if/falsy-0-2.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/if/truthy-1-1.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/if/truthy-1-2.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/instanceContext/null.json
Labels: kind/other, ignore-for-release

#686 Upgrading to the latest design system version
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.tsx
  src/yarn.lock
Labels: area/instantiation, kind/dependencies

#689 Removed dead code, cleaned up inspections notices, refined types
  src/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/altinn-app-frontend/src/components/base/InputComponent.tsx
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/features/expressions/shared.ts
  src/altinn-app-frontend/src/features/form/components/HelpTextPopover.tsx
  src/altinn-app-frontend/src/services/AppApi.tsx
  src/altinn-app-frontend/src/services/InstancesApi.tsx
  src/altinn-app-frontend/src/shared/resources/instanceData/get/getInstanceDataActionTypes.ts
  src/altinn-app-frontend/src/shared/resources/instanceData/instanceDataActions.ts
  src/altinn-app-frontend/src/shared/resources/process/index.d.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/layout/index.tsx
  src/altinn-app-frontend/src/utils/networking.ts
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  src/altinn-app-frontend/testUtils.tsx
  src/shared/fallbackLanguage.tsx
  src/shared/package.json
  src/shared/src/components/AltinnButton.md
  src/shared/src/components/AltinnButton.tsx
  src/shared/src/components/AltinnCheckBox.md
  src/shared/src/components/AltinnIcon.md
  src/shared/src/components/AltinnPopover.tsx
  src/shared/src/components/atoms/AltinnAttachment.md
  src/shared/src/components/molecules/AltinnContentLoader.md
  src/shared/src/components/organisms/AltinnAppHeader.md
  src/shared/src/components/organisms/AltinnReceipt.md
  src/shared/src/components/organisms/organisms.md
  src/shared/src/theme/index.ts
  src/shared/src/types/index.ts
  src/shared/src/utils/getValueByPath.ts
  src/shared/src/utils/index.ts
  src/shared/src/utils/postMessages.ts
  src/shared/src/utils/urlHelper.ts
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test, kind/other, ignore-for-release

#696 Expressions: Tests for `dataModel` lookups against arrays and null
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/dataModel/array-is-null.json
  src/altinn-app-frontend/src/features/expressions/shared-tests/functions/dataModel/null-is-null.json
Labels: kind/other, ignore-for-release

#697 Enabling automatic WCAG tests, fixing some issues
  src/altinn-app-frontend/src/components/base/FileUpload/FileUploadComponent.tsx
  src/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/FileListComponent.tsx
  src/altinn-app-frontend/src/components/base/FileUpload/shared/DropzoneComponent.tsx
  src/altinn-app-frontend/src/components/base/FileUpload/shared/render.tsx
  src/altinn-app-frontend/src/components/base/ImageComponent.tsx
  src/altinn-app-frontend/src/components/summary/EditButton.tsx
  src/altinn-app-frontend/src/components/summary/__snapshots__/MultipleChoiceSummary.test.tsx.snap
  src/altinn-app-frontend/src/components/summary/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  test/cypress/e2e/integration/app-frontend/wcag.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/wcag.js
Labels: kind/bug, area/test
