Repository Altinn/app-frontend-react, pull requests merged in 2022-05, with the labels that each got.

#84 Fixing flaky options test
  test/cypress/e2e/integration/app-frontend/options.js
  test/cypress/e2e/support/index.d.ts
Labels: area/test

#71 Cypress reorganization
  .github/workflows/cypress-altinn-app-frontend.yml
  test/cypress/README.md
  test/cypress/e2e/integration/app-frontend/receipt.js
  test/cypress/e2e/integration/app-frontend/wcag.js
  test/cypress/e2e/integration/app-stateless/feedback.js
  test/cypress/e2e/integration/app-stateless/receipt.js
  test/cypress/e2e/integration/app-stateless/stateless.js
  test/cypress/e2e/integration/app-stateless/wcag.js
  test/cypress/package.json
  test/cypress/yarn.lock
Labels: area/test

#96 chore: deps patching w20
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/base/ButtonComponent.test.tsx
  src/package.json
  src/shared/package.json
  src/yarn.lock
  test/cypress/package.json
  test/cypress/yarn.lock
Labels: area/test

#77 Add prettier to package.json
  src/package.json
  src/yarn.lock
Labels: external-contribution-❤️

#75 Feature/52 stateless apps without login
  src/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/altinn-app-frontend/src/App.tsx
  src/altinn-app-frontend/src/components/base/ImageComponent.tsx
  src/altinn-app-frontend/src/features/entrypoint/Entrypoint.test.tsx
  src/altinn-app-frontend/src/features/entrypoint/Entrypoint.tsx
  src/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.test.ts
  src/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.test.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/altinn-app-frontend/src/reducers/index.ts
  src/altinn-app-frontend/src/selectors/getAllowAnonymous.test.ts
  src/altinn-app-frontend/src/selectors/getAllowAnonymous.ts
  src/altinn-app-frontend/src/selectors/simpleSelectors.test.ts
  src/altinn-app-frontend/src/selectors/simpleSelectors.ts
  src/altinn-app-frontend/src/shared/components/altinnAppHeader.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/altinn-app-frontend/src/shared/resources/applicationMetadata/sagas/get/index.ts
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageActionTypes.ts
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageActions.ts
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.ts
  src/altinn-app-frontend/src/shared/resources/language/languageActions.ts
  src/altinn-app-frontend/src/shared/resources/language/languageReducers.ts
  src/altinn-app-frontend/src/shared/resources/language/languageSagas.ts
  src/altinn-app-frontend/src/shared/resources/language/languageSlice.test.ts
  src/altinn-app-frontend/src/shared/resources/language/languageSlice.ts
  src/altinn-app-frontend/src/shared/resources/orgs/orgsActions.ts
  src/altinn-app-frontend/src/shared/resources/party/getParties/getPartiesSagas.ts
  src/altinn-app-frontend/src/shared/resources/profile/fetch/fetchProfileSagas.ts
  src/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/queue/appTask/appTaskQueueSagas.ts
  src/altinn-app-frontend/src/shared/resources/queue/queueSagas.ts
  src/altinn-app-frontend/src/shared/resources/queue/queueSlice.test.ts
  src/altinn-app-frontend/src/shared/resources/queue/queueSlice.ts
  src/altinn-app-frontend/src/shared/resources/queue/userTask/userTaskQueueSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/queue/userTask/userTaskQueueSagas.ts
  src/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/appUrlHelper.test.ts
  src/altinn-app-frontend/src/utils/appUrlHelper.ts
  src/shared/src/components/organisms/AltinnAppHeaderMenu.tsx
  src/shared/src/types/index.ts
Labels: area/language
