Repository Altinn/app-frontend-react, pull requests merged in 2022-09, with the labels that each got.

#403 BugFix: Close button not hidden when specified in layoutsettings
  src/altinn-app-frontend/src/components/presentation/Header.test.tsx
  src/altinn-app-frontend/src/components/presentation/Header.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/types/index.ts
Labels: external-contribution-❤️

#411 Add aria-labels to delete and edit column header icons
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.test.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.test.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.tsx
  src/shared/src/theme/commonTheme.tsx
  test/cypress/e2e/integration/app-frontend/summary.js
Labels: area/test, area/instantiation

#474 Support for right to left language
  src/altinn-app-frontend/src/components/ThemeWrapper.tsx
  src/altinn-app-frontend/src/components/presentation/NavBar.tsx
  src/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
  src/altinn-app-frontend/src/index.css
  src/altinn-app-frontend/src/index.tsx
  src/shared/src/components/organisms/AltinnAppHeader.tsx
  src/shared/src/components/organisms/AltinnAppHeaderMenu.tsx
  src/shared/src/language/languages.ts
Labels: external-contribution-❤️

#479 E2E Likert support
  test/cypress/e2e/integration/app-frontend/confirmation.js
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/integration/app-frontend/likert.js
  test/cypress/e2e/integration/app-frontend/mobile.js
  test/cypress/e2e/integration/app-frontend/receipt.js
  test/cypress/e2e/integration/app-frontend/summary.js
  test/cypress/e2e/pageobjects/likert.js
  test/cypress/e2e/support/app-frontend.js
  test/cypress/e2e/support/index.d.ts
  test/cypress/e2e/support/index.js
  test/cypress/package.json
  test/cypress/yarn.lock
Labels: external-contribution-❤️, area/test

#483 feat: custom confirm
  src/altinn-app-frontend/src/common/hooks/useProcess.ts
  src/altinn-app-frontend/src/components/base/ButtonComponent.test.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent.tsx
  src/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.test.ts
  src/altinn-app-frontend/src/features/form/data/fetch/fetchFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.test.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
  src/altinn-app-frontend/src/shared/resources/attachments/map/mapAttachmentsSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/attachments/map/mapAttachmentsSagas.ts
  src/altinn-app-frontend/src/shared/resources/process/completeProcess/completeProcessSagas.ts
  src/altinn-app-frontend/src/shared/resources/queue/infoTask/infoTaskQueueSaga.ts
  src/altinn-app-frontend/src/shared/resources/queue/queueSlice.ts
  src/altinn-app-frontend/src/utils/appMetadata.test.ts
  src/altinn-app-frontend/src/utils/appMetadata.ts
  src/altinn-app-frontend/src/utils/formLayout.test.ts
  src/altinn-app-frontend/src/utils/formLayout.ts
  src/altinn-app-frontend/src/utils/validation/runClientSideValidation.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
Labels: area/attachments

#462 Move edit-container into table
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.test.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/shared/src/components/molecules/AltinnMobileTable.tsx
  src/shared/src/components/molecules/AltinnMobileTableItem.tsx
  src/shared/src/components/molecules/AltinnTableBody.tsx
  src/shared/src/components/molecules/AltinnTableHeader.tsx
  src/shared/src/components/molecules/AltinnTableRow.tsx
  test/cypress/e2e/integration/app-frontend/attachments-in-group.js
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/integration/app-frontend/summary.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/app-frontend.js
Labels: area/test

#494 Fixing language loading
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.ts
  src/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.ts
Labels: area/language

#478 Likert bugs
  src/altinn-app-frontend/__mocks__/validationStateMock.ts
  src/altinn-app-frontend/src/components/GenericComponent.tsx
  src/altinn-app-frontend/src/components/base/LikertComponent.tsx
  src/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikert.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikertTestUtils.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsLikertContainer.tsx
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/altinn-app-frontend/src/utils/formLayout.ts
  src/altinn-app-frontend/src/utils/textResource.test.ts
  src/altinn-app-frontend/src/utils/textResource.ts
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  src/shared/src/utils/language.test.ts
  src/shared/src/utils/language.ts
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/integration/app-frontend/likert.js
  test/cypress/e2e/pageobjects/likert.js
Labels: external-contribution-❤️, area/test

#488 Feat/navigate to process from confirm task
  src/altinn-app-frontend/__mocks__/formDataStateMock.ts
  src/altinn-app-frontend/__mocks__/styleMock.js
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/base/ButtonComponent.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/ButtonComponent.module.css
  src/altinn-app-frontend/src/components/base/ButtonComponent/ButtonComponent.test.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/ButtonComponent.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/ButtonLoader.module.css
  src/altinn-app-frontend/src/components/base/ButtonComponent/ButtonLoader.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/GoToTaskButton.test.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/GoToTaskButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/InstantiationButton.test.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/InstantiationButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/InstantiationButtonComponent.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/SaveButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/SubmitButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/WrappedButton.module.css
  src/altinn-app-frontend/src/components/base/ButtonComponent/WrappedButton.test.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/WrappedButton.tsx
  src/altinn-app-frontend/src/components/base/ButtonComponent/getComponentFromMode.ts
  src/altinn-app-frontend/src/components/base/ButtonComponent/index.tsx
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/components/presentation/ProcessNavigation.tsx
  src/altinn-app-frontend/src/features/confirm/components/ConfirmButton.tsx
  src/altinn-app-frontend/src/features/confirm/containers/Confirm.test.tsx
  src/altinn-app-frontend/src/features/confirm/containers/Confirm.tsx
  src/altinn-app-frontend/src/features/confirm/containers/ConfirmPage.test.tsx
  src/altinn-app-frontend/src/features/confirm/containers/ConfirmPage.tsx
  src/altinn-app-frontend/src/features/confirm/helpers/returnConfirmSummaryObject.test.ts
  src/altinn-app-frontend/src/features/confirm/helpers/returnConfirmSummaryObject.ts
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikertTestUtils.tsx
  src/altinn-app-frontend/src/features/form/data/formDataSlice.ts
  src/altinn-app-frontend/src/features/form/data/formDataTypes.ts
  src/altinn-app-frontend/src/features/form/data/index.d.ts
  src/altinn-app-frontend/src/global.d.ts
  src/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
  src/altinn-app-frontend/src/shared/resources/process/completeProcess/completeProcessSagas.ts
  src/altinn-app-frontend/src/shared/resources/process/getTasks/getTasksSagas.ts
  src/altinn-app-frontend/src/shared/resources/process/index.d.ts
  src/altinn-app-frontend/src/shared/resources/process/processSlice.ts
  src/altinn-app-frontend/src/utils/appUrlHelper.test.ts
  src/altinn-app-frontend/src/utils/appUrlHelper.ts
  src/altinn-app-frontend/webpack.common.js
  src/shared/src/components/AltinnLoader.test.tsx
  src/shared/src/components/AltinnLoader.tsx
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  src/shared/src/utils/attachmentsUtils.ts
  src/yarn.lock
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test
