Repository Altinn/app-frontend-react, pull requests merged in 2022-10, with the labels that each got.

#492 Docker compose
  README.md
  docker-compose.yml
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/webpack.config.docker.js
Labels: external-contribution-❤️

#514 Bug: Tests failing when removing altinn3local.no from hosts
  src/altinn-app-frontend/__mocks__/instanceDataStateMock.ts
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/features/instantiate/containers/InstanceSelection.test.tsx
  src/altinn-app-frontend/src/features/receipt/containers/ReceiptContainer.test.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.test.tsx
  src/altinn-app-frontend/src/utils/appUrlHelper.test.ts
Labels: area/instantiation, area/receipt

#508 Bug: checkbox group onblur validation
  src/altinn-app-frontend/__mocks__/constants.ts
  src/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/altinn-app-frontend/src/components/base/DropdownComponent.test.tsx
  src/altinn-app-frontend/src/components/base/DropdownComponent.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/ControlledRadioGroup.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/RadioButtonsContainerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/radioButtonsUtils.ts
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikert.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikertTestUtils.tsx
  test/cypress/e2e/integration/app-frontend/likert.js
Labels: area/test

#515 Include clone command for docker setup
  README.md
Labels: external-contribution-❤️

#523 Encoding fields in HTTP headers
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.test.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test

#519 Feat/396 Open by default with prefill
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/layout/index.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/app-frontend.js
Labels: area/test

#544 Bug: Fix repeating group UI issues
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/shared/src/components/molecules/AltinnMobileTableItem.tsx
  test/cypress/e2e/integration/app-frontend/attachments-in-group.js
  test/cypress/e2e/integration/app-frontend/group.js
Labels: area/test

#560 Updated design system dependency to 0.14.1
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/base/ButtonComponent/ButtonComponent.module.css
  src/yarn.lock
  test/cypress/e2e/integration/app-frontend/message.js
Labels: area/test

#575 Stabilizing fetch options saga
  src/altinn-app-frontend/src/features/form/containers/PanelGroupContainer.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.test.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/shared/resources/language/fetch/fetchLanguageSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/altinn-app-frontend/src/shared/resources/options/optionsSlice.ts
  src/altinn-app-frontend/src/shared/resources/textResources/fetch/fetchTextResourcesSagas.test.ts
  src/altinn-app-frontend/src/utils/sagas.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
Labels: area/language

#574 Stabilizing cypress tests (part 1)
  src/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  test/cypress/cypress.config.js
  test/cypress/e2e/integration/app-frontend/components.js
  test/cypress/e2e/integration/app-frontend/confirmation.js
  test/cypress/e2e/integration/app-frontend/message.js
  test/cypress/e2e/integration/app-frontend/on-entry.js
  test/cypress/e2e/integration/app-frontend/print-button.js
  test/cypress/e2e/integration/app-frontend/receipt.js
  test/cypress/e2e/integration/app-frontend/redirect.js
  test/cypress/e2e/integration/app-frontend/reportee-selection.js
  test/cypress/e2e/integration/app-frontend/validation.js
  test/cypress/e2e/integration/app-frontend/wcag.js
  test/cypress/e2e/integration/app-stateless-anonymous/anonymous.js
  test/cypress/e2e/integration/app-stateless-anonymous/options.js
  test/cypress/e2e/integration/app-stateless/feedback.js
  test/cypress/e2e/integration/app-stateless/receipt.js
  test/cypress/e2e/integration/app-stateless/stateless.js
  test/cypress/e2e/integration/app-stateless/wcag.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/app-frontend.js
Labels: area/test

#540 Expressions
  src/altinn-app-frontend/src/components/GenericComponent.tsx
  src/altinn-app-frontend/src/components/hooks/index.ts
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/altinn-app-frontend/src/components/summary/SummaryComponentSwitch.tsx
  src/altinn-app-frontend/src/features/expressions/index.ts
  src/altinn-app-frontend/src/features/expressions/useExpressions.ts
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.test.ts
  src/altinn-app-frontend/src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.test.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/altinn-app-frontend/src/features/form/layout/index.ts
  src/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/conditionalRendering.test.ts
  src/altinn-app-frontend/src/utils/conditionalRendering.ts
  src/altinn-app-frontend/src/utils/formLayout.test.ts
  src/altinn-app-frontend/src/utils/formLayout.ts
  src/altinn-app-frontend/src/utils/instanceContext.test.ts
  src/altinn-app-frontend/src/utils/instanceContext.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.test.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.types.d.ts
  src/altinn-app-frontend/src/utils/validation/runClientSideValidation.ts
  src/altinn-app-frontend/src/utils/validation/validation.test.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  src/shared/src/utils/instanceContext.ts
  test/cypress/e2e/config/local.json
Labels: area/test, area/language

#585 Feat: Formatting in table view
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/shared/src/utils/formatDate.ts
  src/shared/src/utils/index.ts
  src/yarn.lock
  test/cypress/e2e/integration/app-frontend/group.js
Labels: area/test

#588 Fix/repeating groups validation
  src/altinn-app-frontend/src/components/message/ErrorReport.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.test.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikert.test.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupTable.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.test.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/formLayout.test.ts
  src/altinn-app-frontend/src/utils/formLayout.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.test.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.ts
  src/altinn-app-frontend/src/utils/layout/hierarchy.types.d.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/attachments-in-group.js
  test/cypress/e2e/integration/app-frontend/group.js
Labels: area/test
