Repository Altinn/app-frontend-react, pull requests merged in 2022-07, with the labels that each got.

#317 Fixing openByDefault option on repeating groups
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/support/app-frontend.js
  test/cypress/e2e/support/index.d.ts
Labels: area/test

#315 Bug: Dynamics/hidden fields in summaries of nested repeating groups
  src/altinn-app-frontend/src/components/summary/SummaryGroupComponent.tsx
  src/altinn-app-frontend/src/utils/databindings.test.ts
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/summary.js
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test

#305 Save inputs on change (not just blur)
  src/altinn-app-frontend/src/components/GenericComponent.tsx
  src/altinn-app-frontend/src/components/advanced/AddressComponent.test.tsx
  src/altinn-app-frontend/src/components/advanced/AddressComponent.tsx
  src/altinn-app-frontend/src/components/base/DatepickerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/DatepickerComponent.tsx
  src/altinn-app-frontend/src/components/base/InputComponent.test.tsx
  src/altinn-app-frontend/src/components/base/InputComponent.tsx
  src/altinn-app-frontend/src/components/base/TextAreaComponent.tsx
  src/altinn-app-frontend/src/components/hooks/useDelayedSavedState.ts
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/features/form/containers/GroupContainerLikertTestUtils.tsx
  src/altinn-app-frontend/src/features/form/data/formDataActions.ts
  src/altinn-app-frontend/src/features/form/data/formDataReducer.ts
  src/altinn-app-frontend/src/features/form/data/formDataTypes.ts
  src/altinn-app-frontend/src/features/form/data/submit/submitFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/rules/check/checkRulesSagas.ts
  src/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourceSagas.test.ts
  src/altinn-app-frontend/src/shared/resources/textResources/replace/replaceTextResourcesSagas.ts
  src/altinn-app-frontend/src/utils/validation.ts
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/prefill.js
  test/cypress/e2e/integration/app-frontend/validation.js
  test/cypress/e2e/integration/app-stateless/receipt.js
  test/cypress/e2e/integration/app-stateless/stateless.js
Labels: area/test, area/language

#330 feat: input panel
  src/altinn-app-frontend/__mocks__/formDataStateMock.ts
  src/altinn-app-frontend/__mocks__/formLayoutStateMock.ts
  src/altinn-app-frontend/__mocks__/initialStateMock.ts
  src/altinn-app-frontend/__mocks__/uiConfigStateMock.ts
  src/altinn-app-frontend/src/features/form/components/FullWidthGroupWrapper.tsx
  src/altinn-app-frontend/src/features/form/components/RepeatingGroupAddButton.tsx
  src/altinn-app-frontend/src/features/form/containers/DisplayGroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.test.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/PanelGroupContainer.test.tsx
  src/altinn-app-frontend/src/features/form/containers/PanelGroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/altinn-app-frontend/src/features/form/layout/index.ts
  src/altinn-app-frontend/src/utils/formLayout.test.ts
  src/altinn-app-frontend/src/utils/formLayout.ts
  src/altinn-app-frontend/src/utils/layout/index.tsx
  src/altinn-app-frontend/src/utils/validation.ts
  src/altinn-app-frontend/styleguide/wrapper.tsx
  src/shared/src/components/EditIconButton.tsx
  src/shared/src/components/Select.tsx
  src/shared/src/components/SuccessIconButton.tsx
  src/shared/styleguide/wrapper.tsx
  test/cypress/e2e/integration/app-frontend/attachments-in-group.js
  test/cypress/e2e/integration/app-frontend/group.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/app-frontend.js
Labels: area/test

#338 chore: patching deps w28
  .github/workflows/cypress-altinn-app-frontend.yml
  src/altinn-app-frontend/package.json
  src/package.json
  src/shared/package.json
  src/yarn.lock
  test/cypress/package.json
  test/cypress/yarn.lock
Labels: area/test

#341 Minor eslint cleanup and new rules
  src/.eslintrc.json
  src/altinn-app-frontend/__mocks__/fileMock.js
  src/altinn-app-frontend/__mocks__/styleMock.js
  src/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/FileListComponent.tsx
  src/altinn-app-frontend/src/components/base/FileUpload/FileUploadWithTag/FileUploadWithTagComponent.test.tsx
  src/altinn-app-frontend/src/components/presentation/LanguageSelector.tsx
  src/altinn-app-frontend/src/features/form/containers/GroupContainer.tsx
  src/altinn-app-frontend/src/features/form/containers/PanelGroupContainer.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.test.tsx
  src/altinn-app-frontend/src/shared/resources/attachments/map/mapAttachmentsSagas.test.ts
  src/altinn-app-frontend/src/utils/conditionalRendering.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.test.ts
  src/altinn-app-frontend/src/utils/validation.test.ts
  src/altinn-app-frontend/src/utils/validation.ts
  src/altinn-app-frontend/styleguide.config.js
  src/altinn-app-frontend/webpack.config.development.js
  src/package.json
  src/shared/__mocks__/fileMock.js
  src/shared/__mocks__/styleMock.js
  src/shared/src/components/AltinnCheckBox.tsx
  src/shared/src/utils/attachmentsUtils.ts
  src/shared/styleguide.config.js
  src/shared/styleguide.webpack.config.js
  src/yarn.lock
Labels: area/attachments

#347 Smart un-uppercasing for required field validations
  src/altinn-app-frontend/src/utils/formComponentUtils.test.ts
  src/altinn-app-frontend/src/utils/formComponentUtils.ts
  src/altinn-app-frontend/src/utils/validation.test.ts
  test/cypress/e2e/fixtures/texts.json
Labels: area/test

#349 refactor: remove all usages of withStyles HOC in favor of hooks approach
  src/altinn-app-frontend/src/App.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/InstantiationContainer.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/PartySelection.tsx
  src/altinn-app-frontend/src/features/instantiate/containers/index.test.tsx
  src/altinn-app-frontend/src/index.tsx
  src/altinn-app-frontend/src/shared/components/altinnAppHeader.test.tsx
  src/altinn-app-frontend/src/shared/components/altinnAppHeader.tsx
  src/altinn-app-frontend/src/shared/components/altinnError.tsx
  src/altinn-app-frontend/src/shared/components/altinnParty.tsx
  src/altinn-app-frontend/src/shared/components/altinnPartySearch.tsx
  src/shared/src/components/AltinnCheckBox.test.tsx
  src/shared/src/components/AltinnCheckBox.tsx
  src/shared/src/components/AltinnCollapsableList.md
  src/shared/src/components/AltinnCollapsableList.tsx
  src/shared/src/components/AltinnIcon.tsx
  src/shared/src/components/atoms/AltinnAttachment.tsx
  src/shared/src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/shared/src/components/organisms/AltinnAppHeader.tsx
  src/shared/src/components/organisms/AltinnReceipt.tsx
  src/shared/src/components/organisms/AltinnReceiptSimple.tsx
  src/shared/src/theme/commonTheme.tsx
  test/cypress/e2e/pageobjects/app-frontend.js
Labels: area/test, area/instantiation

#346 Moving ErrorReport component to the bottom of the form
  src/.eslintrc.json
  src/altinn-app-frontend/package.json
  src/altinn-app-frontend/src/components/GenericComponent.tsx
  src/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.md
  src/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/CheckboxesContainerComponent.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/ControlledRadioGroup.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/RadioButtonsContainerComponent.test.tsx
  src/altinn-app-frontend/src/components/base/RadioButtons/radioButtonsUtils.ts
  src/altinn-app-frontend/src/components/custom/CustomWebComponent.test.tsx
  src/altinn-app-frontend/src/components/index.ts
  src/altinn-app-frontend/src/components/message/ErrorReport.test.tsx
  src/altinn-app-frontend/src/components/message/ErrorReport.tsx
  src/altinn-app-frontend/src/components/presentation/NavigationButtons.tsx
  src/altinn-app-frontend/src/components/summary/SummaryComponent.test.tsx
  src/altinn-app-frontend/src/components/summary/SummaryComponent.tsx
  src/altinn-app-frontend/src/features/form/components/FullWidthWrapper.tsx
  src/altinn-app-frontend/src/features/form/components/Panel.test.tsx
  src/altinn-app-frontend/src/features/form/components/Panel.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.test.tsx
  src/altinn-app-frontend/src/features/form/containers/Form.tsx
  src/altinn-app-frontend/src/features/form/containers/PanelGroupContainer.tsx
  src/altinn-app-frontend/src/features/form/data/update/updateFormDataSagas.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutSlice.ts
  src/altinn-app-frontend/src/features/form/layout/formLayoutTypes.ts
  src/altinn-app-frontend/src/features/form/layout/index.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.test.ts
  src/altinn-app-frontend/src/features/form/layout/update/updateFormLayoutSagas.ts
  src/altinn-app-frontend/src/selectors/getLayoutData.ts
  src/altinn-app-frontend/src/shared/containers/Presentation.test.tsx
  src/altinn-app-frontend/src/shared/containers/Presentation.tsx
  src/altinn-app-frontend/src/shared/containers/ProcessWrapper.tsx
  src/altinn-app-frontend/src/types/index.ts
  src/altinn-app-frontend/src/utils/formLayout.test.ts
  src/altinn-app-frontend/src/utils/formLayout.ts
  src/altinn-app-frontend/src/utils/validation/index.ts
  src/altinn-app-frontend/src/utils/validation/validation.ts
  src/shared/src/language/texts/en.ts
  src/shared/src/language/texts/nb.ts
  src/shared/src/language/texts/nn.ts
  src/yarn.lock
  test/cypress/e2e/fixtures/texts.json
  test/cypress/e2e/integration/app-frontend/validation.js
  test/cypress/e2e/pageobjects/app-frontend.js
  test/cypress/e2e/support/chai-extensions.js
  test/cypress/e2e/support/index.js
Labels: area/test
