Repository Altinn/app-frontend-react, pull requests merged in 2023-07, with the labels that each got.

#1303 Fixing flaky a11y/wcag error
  src/layout/Button/WrappedButton.module.css
  src/layout/Button/WrappedButton.tsx
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/support/custom.ts
Labels: kind/other, ignore-for-release

#1286 Text cell with help text in grid
  schemas/json/layout/layout.schema.v1.json
  src/layout/Grid/Grid.module.css
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/types.d.ts
  src/layout/Group/RepeatingGroupTable.tsx
  test/e2e/integration/app-frontend/grid.ts
Labels: kind/product-feature

#1304 Option select styling with and without description
  src/components/form/SelectOptionItem.module.css
  src/components/form/SelectOptionItem.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/utils/options.ts
Labels: kind/bug

#1281 Modularize validations
  src/__mocks__/validationStateMock.ts
  src/components/message/ErrorReport.test.tsx
  src/features/attachments/delete/deleteAttachmentSagas.ts
  src/features/attachments/update/updateAttachmentSagas.ts
  src/features/attachments/upload/uploadAttachmentSagas.ts
  src/features/confirm/components/ConfirmButton.tsx
  src/features/dynamics/conditionalRenderingSagas.ts
  src/features/entrypoint/Entrypoint.tsx
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/formData/update/updateFormDataSagas.ts
  src/features/layout/repGroups/initRepeatingGroupsSaga.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.test.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.ts
  src/features/layout/repGroups/updateRepeatingGroupEditIndexSaga.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/features/validation/singleFieldValidationSagas.test.ts
  src/features/validation/singleFieldValidationSagas.ts
  src/features/validation/validationSlice.test.ts
  src/features/validation/validationSlice.ts
  src/hooks/useDataModelSchema.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/Datepicker/index.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUploadWithTag/index.tsx
  src/layout/Group/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/layout/List/index.tsx
  src/layout/Summary/SummaryComponent.test.tsx
  src/layout/index.ts
  src/types/index.ts
  src/utils/formComponentUtils.ts
  src/utils/layout/LayoutNode.ts
  src/utils/layout/LayoutPage.ts
  src/utils/layout/LayoutPages.ts
  src/utils/layout/hierarchy.test.ts
  src/utils/render.tsx
  src/utils/schemaUtils.test.ts
  src/utils/schemaUtils.ts
  src/utils/validation/backendValidation.ts
  src/utils/validation/runClientSideValidation.ts
  src/utils/validation/schemaValidation.ts
  src/utils/validation/types.d.ts
  src/utils/validation/validation.test.ts
  src/utils/validation/validation.ts
  src/utils/validation/validationHelpers.ts
  src/utils/validation/validationTexts.ts
  test/e2e/integration/app-frontend/validation.ts
Labels: kind/other

#1307 Quick Fix: styling in FileUploadTable
  src/layout/FileUpload/FileUploadComponent.module.css
  src/layout/FileUpload/FileUploadTableRow.module.css
Labels: kind/bug

#1173 Switch to Inter font
  src/components/form/Description.module.css
  src/components/form/Description.tsx
  src/components/form/Label.module.css
  src/components/form/Label.tsx
  src/components/message/ErrorReport.module.css
  src/components/molecules/AltinnInformationPaper.tsx
  src/components/organisms/AltinnAppHeader.module.css
  src/components/organisms/AltinnReceipt.tsx
  src/components/presentation/Header.module.css
  src/components/presentation/Header.test.tsx
  src/components/presentation/Header.tsx
  src/components/presentation/LanguageSelector.tsx
  src/components/table/AltinnTableHeader.tsx
  src/features/pdf/PDFView.module.css
  src/features/pdf/PDFView.tsx
  src/index.css
  src/language/sharedLanguage.ts
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/FileUpload/shared/DropzoneComponent.module.css
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/FileUploadWithTag/FileListComponent.module.css
  src/layout/Group/DisplayGroupContainer.module.css
  src/layout/Group/DisplayGroupContainer.tsx
  src/layout/Header/HeaderComponent.tsx
  src/layout/Image/ImageComponent.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/styles/tjenester3.css
  src/theme/altinnAppTheme.tsx
  src/utils/render.tsx
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/product-feature

#1309 fix(RadioButtons): add disabled property to FieldSet when readOnly is true
  src/components/form/RadioGroup.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: kind/bug

#1316 Testing schema formats
  src/utils/validation/schemaValidation.test.ts
  src/utils/validation/validation.test.ts
Labels: kind/other

#1317 Visual testing: Making screenshots less flaky (3)
  src/layout/GenericComponent.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/layout/layout.d.ts
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
Labels: kind/other, ignore-for-release

#1318 Support `renderAsSummary` components in PDF
  src/features/pdf/PDFView.tsx
  src/features/pdf/data/generatePdfSagas.ts
Labels: kind/product-feature

#1300 Update instance selection table and add pagination
  src/components/table/AltinnMobileTable.tsx
  src/components/table/AltinnMobileTableItem.test.tsx
  src/components/table/AltinnMobileTableItem.tsx
  src/features/applicationMetadata/index.d.ts
  src/features/instantiate/containers/InstanceSelection.module.css
  src/features/instantiate/containers/InstanceSelection.test.tsx
  src/features/instantiate/containers/InstanceSelection.tsx
  src/testUtils.tsx
  src/types/shared.ts
  test/e2e/integration/app-frontend/on-entry.ts
Labels: kind/product-feature

#1328 Fixed log-related render loop in pdf view
  src/features/pdf/PDFView.tsx
Labels: kind/bug

#1321 DevTools: Language selector
  src/components/presentation/LanguageSelector.tsx
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/components/DevLanguageSelector/DevLanguageSelector.tsx
Labels: kind/product-feature

#1319 DevTools: Download/Upload xml form data
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/components/DownloadXMLButton/DownloadXMLButton.tsx
Labels: kind/product-feature

#1334 useLogs hook
  src/__mocks__/initialStateMock.ts
  src/features/attachments/upload/uploadAttachmentSagas.ts
  src/features/devtools/data/devToolsSlice.ts
  src/features/devtools/data/types.ts
  src/features/formData/fetch/fetchFormDataSagas.test.ts
  src/features/instantiate/containers/InstantiateContainer.test.tsx
  src/features/logging.ts
  src/features/pdf/PDFView.tsx
  src/hooks/useLogs.ts
  src/layout/Group/GroupRenderer.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
  src/layout/Map/MapComponent.tsx
  src/layout/Map/MapComponentSummary.tsx
  src/utils/network/sharedNetworking.ts
Labels: kind/bug

#1306 DevTools: Improved the general tab layout
  package.json
  src/components/organisms/AltinnAppHeader.module.css
  src/features/devtools/DevTools.module.css
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.module.css
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/Button/ButtonLoader.module.css
  src/layout/Button/ButtonLoader.tsx
  src/layout/Button/WrappedButton.test.tsx
  src/layout/Button/WrappedButton.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  yarn.lock
Labels: kind/other

#1345 Installing `ts-node` and `tsconfig-paths`
  package.json
  yarn.lock
Labels: kind/dependencies

#1330 Fix CSS injection order
  src/components/AltinnCheckBox.test.tsx
  src/components/AltinnCheckBox.tsx
  src/components/AltinnInput.test.tsx
  src/components/AltinnInput.tsx
  src/components/EditIconButton.module.css
  src/components/SuccessIconButton.tsx
  src/components/ThemeWrapper.tsx
  src/components/altinnAppHeader.tsx
  src/components/altinnParty.test.tsx
  src/components/altinnParty.tsx
  src/components/altinnPartySearch.test.tsx
  src/components/altinnPartySearch.tsx
  src/components/atoms/AltinnAttachment.tsx
  src/components/form/Form.module.css
  src/components/form/Legend.tsx
  src/components/form/OptionalIndicator.tsx
  src/components/organisms/AltinnAppHeader.module.css
  src/components/presentation/NavBar.module.css
  src/components/table/AltinnSummaryTable.module.css
  src/features/devtools/components/FeatureToggles/FeatureToggles.tsx
  src/features/instantiate/containers/InstanceSelection.module.css
  src/features/instantiate/containers/PartySelection.tsx
  src/features/pdf/PDFView.tsx
  src/features/receipt/CustomReceipt.module.css
  src/features/styleInjection.ts
  src/index.css
  src/index.tsx
  src/layout/Address/AddressComponent.module.css
  src/layout/Address/AddressComponent.tsx
  src/layout/Address/AddressLabel.tsx
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/layout/ButtonGroup/ButtonGroupComponent.module.css
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/FileUpload/shared/DropzoneComponent.module.css
  src/layout/FileUpload/shared/DropzoneComponent.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/FileUploadWithTag/FileListComponent.module.css
  src/layout/GenericComponent.tsx
  src/layout/Group/DisplayGroupContainer.module.css
  src/layout/Group/RepeatingGroup.module.css
  src/layout/List/ListComponent.tsx
  src/layout/MultipleSelect/MultipleSelect.css
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/Panel/Panel.module.css
  src/layout/Panel/PanelReferenceGroupContainer.tsx
  src/layout/TextArea/TextAreaComponent.tsx
  src/styles/tjenester3.css
  test/e2e/integration/app-frontend/attachments-in-group.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/message.ts
  test/e2e/integration/app-frontend/reportee-selection.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/formFiller.ts
Labels: kind/other

#1289 feat(Alert): add Alert component which uses @digdir/design-system-react
  schemas/json/layout/layout.schema.v1.json
  src/components/form/SoftValidations.test.tsx
  src/components/form/SoftValidations.tsx
  src/layout/Alert/Alert.module.css
  src/layout/Alert/Alert.test.tsx
  src/layout/Alert/Alert.tsx
  src/layout/Alert/AlertBaseComponent.test.tsx
  src/layout/Alert/AlertBaseComponent.tsx
  src/layout/Alert/index.tsx
  src/layout/Alert/types.d.ts
  src/utils/render.tsx
  test/e2e/integration/app-frontend/validation.ts
Labels: kind/product-feature

#1351 Fix hierarchy generator logs freezing app
  src/__mocks__/initialStateMock.ts
  src/features/devtools/data/devToolsSlice.ts
  src/features/devtools/data/types.ts
  src/features/logging.ts
  src/features/pdf/PDFView.tsx
  src/global.d.ts
  src/hooks/useLogs.ts
  src/layout/ButtonGroup/hierarchy.ts
  src/layout/GenericComponent.test.tsx
  src/layout/Grid/hierarchy.ts
  src/layout/Group/GroupRenderer.tsx
  src/layout/Group/hierarchy.ts
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
  src/layout/Map/MapComponent.tsx
  src/layout/Map/MapComponentSummary.tsx
  src/setupTests.ts
  src/utils/layout/HierarchyGenerator.ts
Labels: kind/bug
