Repository Altinn/app-frontend-react, pull requests merged in 2023-06, with the labels that each got.

#1221 IFrame: Allow popups properties
  schemas/json/layout/layout.schema.v1.json
  src/layout/IFrame/IFrameComponent.tsx
  src/layout/IFrame/types.d.ts
  src/layout/IFrame/utils.test.ts
  src/layout/IFrame/utils.ts
Labels: kind/product-feature

#1199 Able to download the attachment from form in form filling state + new styling
  src/layout/FileUpload/FileUploadComponent.css
  src/layout/FileUpload/FileUploadComponent.module.css
  src/layout/FileUpload/FileUploadComponent.test.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/shared/AttachmentFileName.module.css
  src/layout/FileUpload/shared/AttachmentFileName.tsx
  src/layout/FileUpload/shared/DropzoneComponent.module.css
  src/layout/FileUpload/shared/DropzoneComponent.test.tsx
  src/layout/FileUpload/shared/DropzoneComponent.tsx
  src/layout/FileUpload/shared/render.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/FileUploadWithTag/FileListComponent.module.css
  src/layout/FileUploadWithTag/FileListComponent.tsx
  src/layout/FileUploadWithTag/FileUploadWithTagComponent.test.tsx
  src/layout/FileUploadWithTag/FileUploadWithTagComponent.tsx
  test/e2e/integration/app-frontend/components.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/user-story

#1225 Quickfix: Generic component hidden in PDF in some cases
  src/styles/tjenester3.css
Labels: kind/bug

#1224 Dep: update @digdir/design-system-react to 0.13.0
  package.json
  src/components/atoms/AltinnAttachment.tsx
  src/components/organisms/AltinnAppHeaderMenu.tsx
  src/components/presentation/NavBar.module.css
  src/features/footer/components/shared/shared.module.css
  src/index.css
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Likert/LikertComponent.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/styles/utils.module.css
  test/e2e/integration/app-frontend/mobile.ts
  test/e2e/integration/app-frontend/options.ts
  test/e2e/integration/app-frontend/rules.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  yarn.lock
Labels: kind/dependencies

#1193 Feat/565 countdown remaining letters
  schemas/json/layout/layout.schema.v1.json
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Input/InputComponent.tsx
  src/layout/TextArea/TextAreaComponent.tsx
  src/layout/layout.d.ts
  src/utils/inputUtils.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/rules.ts
Labels: kind/product-feature

#1231 Default height on <TextArea/>
  src/layout/TextArea/TextAreaComponent.tsx
Labels: kind/bug

#1232 Fix focus on component in rep-group
  src/components/message/ErrorReport.tsx
  test/e2e/fixtures/texts.json
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#1227 Removing autosave functionality (not in use)
  src/__mocks__/formDataStateMock.ts
  src/__mocks__/uiConfigStateMock.ts
  src/features/formData/formDataSlice.ts
  src/features/formData/formDataTypes.ts
  src/features/formData/index.d.ts
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/layout/fetch/fetchFormLayoutSagas.test.ts
  src/features/layout/fetch/fetchFormLayoutSagas.ts
  src/features/layout/formLayoutSlice.ts
  src/features/layout/formLayoutTypes.ts
  src/features/layout/repGroups/updateRepeatingGroupEditIndexSaga.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/layout/Button/ButtonComponent.test.tsx
  src/layout/Button/ButtonComponent.tsx
  src/layout/Group/RepeatingGroupsTable.test.tsx
  src/layout/Group/SummaryGroupComponent.test.tsx
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.test.tsx
  src/types/index.ts
  src/utils/validation/validation.test.ts
  src/utils/validation/validation.ts
Labels: kind/other

#1235 Update @digdir/design-system-react to 0.14.0
  package.json
  src/features/devtools/DevTools.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.module.css
  src/index.css
  yarn.lock
Labels: kind/dependencies

#1234 1188 summary component - enable title and accessibleTitle fields in text resource bindings
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Summary/EditButton.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/SummaryContent.tsx
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/feature-request

#1229 New trigger: `validateCurrentAndPreviousPages`
  schemas/json/layout/layout.schema.v1.json
  src/features/layout/update/updateFormLayoutSagas.ts
  src/types/index.ts
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/product-feature

#1204 Respect `doNotPromptForParty` profile preference
  src/App.tsx
  src/features/applicationMetadata/index.d.ts
  src/features/entrypoint/Entrypoint.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/features/party/index.d.ts
  src/features/party/partySlice.ts
  src/features/party/selectPartySagas.ts
  src/features/toggles.ts
  src/hooks/queries/useGetPartiesQuery.ts
  src/hooks/useAlwaysPromptForParty.ts
  src/index.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/queries/queries.ts
  src/setupTests.ts
  src/types/index.ts
  test/e2e/integration/app-frontend/reportee-selection.ts
Labels: kind/bug

#1239 Quickfix: summary title formatting
  src/layout/Summary/SummaryComponent.tsx
Labels: ignore-for-release

#1240 Quick fix - fix styling of error message
  src/App.tsx
Labels: kind/bug

#1242 Cleanup: Multiple minor changes
  src/components/wrappers/ProcessWrapper.tsx
  src/features/confirm/components/ConfirmButton.tsx
  src/features/confirm/containers/ConfirmPage.test.tsx
  src/features/dataLists/fetchDataListsSaga.ts
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/expressions/index.ts
  src/features/formData/formDataSlice.ts
  src/features/formData/formDataTypes.ts
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/formRules/checkRulesSagas.ts
  src/features/options/fetch/fetchOptionsSagas.ts
  src/features/profile/profileSlice.ts
  src/features/toggles.ts
  src/global.d.ts
  src/hooks/useAlwaysPromptForParty.ts
  src/layout/Button/ButtonComponent.tsx
  src/layout/Image/ImageComponent.tsx
  src/modules.d.ts
  src/redux/store.ts
  src/services/AppApi.tsx
  src/setupTests.ts
  src/types/index.ts
  src/types/shared.ts
  src/utils/conditionalRendering.test.ts
  src/utils/conditionalRendering.ts
  src/utils/rules/index.ts
  src/utils/rules/rules.test.tsx
  src/utils/urls/appUrlHelper.test.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/app-frontend/reportee-selection.ts
  test/e2e/support/app-frontend.ts
  test/e2e/support/index.ts
  test/tsconfig.json
Labels: kind/other, ignore-for-release

#1245 Fix doNotPromptForParty test locally
  test/e2e/integration/app-frontend/reportee-selection.ts
Labels: kind/other, ignore-for-release

#1243 Extended attachment validation
  src/features/applicationMetadata/index.d.ts
  src/features/attachments/upload/uploadAttachmentSagas.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/shared/handleRejectedFiles.ts
  src/layout/FileUploadWithTag/FileUploadWithTagComponent.tsx
  src/types/index.ts
  src/utils/validation/validationHelpers.ts
  src/utils/validation/validationTexts.ts
  test/e2e/fixtures/test-invalid.pdf
  test/e2e/fixtures/test.pdf
  test/e2e/fixtures/texts.json
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/product-feature

#1162 Feature 1161; Add save on Change page Settings
  schemas/json/layout/layoutSettings.schema.v1.json
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/layout/formLayoutSlice.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/types/index.ts
  test/e2e/integration/app-frontend/autoSaveBehavior.ts
  test/e2e/integration/app-stateless-anonymous/autoSaveBehavior.ts
  test/e2e/support/app-frontend.ts
  test/e2e/support/global.d.ts
  test/e2e/support/navigation.ts
Labels: external-contribution-❤️, kind/product-feature

#1246 Visual regression testing from Cypress (using Percy)
  .github/workflows/cypress.yml
  package.json
  src/components/ReadyForPrint.tsx
  src/components/ThemeWrapper.tsx
  src/components/atoms/AltinnAttachment.tsx
  src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/components/organisms/AltinnReceipt.test.tsx
  src/components/organisms/AltinnReceipt.tsx
  src/components/table/AltinnMobileTableItem.tsx
  src/components/table/AltinnSummaryTable.module.css
  src/components/table/AltinnSummaryTable.tsx
  src/features/confirm/helpers/returnConfirmSummaryObject.test.ts
  src/features/confirm/helpers/returnConfirmSummaryObject.ts
  src/features/instantiate/containers/InstanceSelection.tsx
  src/features/receipt/ReceiptContainer.test.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/hooks/useIsMobile.ts
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUploadWithTag/FileUploadWithTagComponent.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  test/e2e/integration/app-frontend/attachments-in-group.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/confirmation.ts
  test/e2e/integration/app-frontend/footer.ts
  test/e2e/integration/app-frontend/grid.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/integration/app-frontend/likert.ts
  test/e2e/integration/app-frontend/list-component.ts
  test/e2e/integration/app-frontend/message.ts
  test/e2e/integration/app-frontend/mobile.ts
  test/e2e/integration/app-frontend/on-entry.ts
  test/e2e/integration/app-frontend/receipt.ts
  test/e2e/integration/app-frontend/reportee-selection.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-frontend/wcag.ts
  test/e2e/integration/app-stateless-anonymous/anonymous.ts
  test/e2e/integration/app-stateless-anonymous/validation.ts
  test/e2e/integration/app-stateless/feedback.ts
  test/e2e/integration/app-stateless/receipt.ts
  test/e2e/integration/app-stateless/stateless.ts
  test/e2e/integration/app-stateless/wcag.ts
  test/e2e/integration/signing/double-signing.ts
  test/e2e/support/custom.ts
  test/e2e/support/customReceipt.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  test/e2e/support/start-app-instance.ts
  test/e2e/support/wcag.ts
  test/percy.css
  yarn.lock
Labels: kind/other, ignore-for-release

#1251 Cypress: Faster `goto()`, more options
  .github/workflows/cypress.yml
  cypress.config.js
  package.json
  template.env
  test/e2e/config/at21.json
  test/e2e/config/at22.json
  test/e2e/integration/app-frontend/all-process-steps.ts
  test/e2e/integration/app-frontend/auto-save-behavior.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/confirmation.ts
  test/e2e/integration/app-frontend/footer.ts
  test/e2e/integration/app-frontend/formatting.ts
  test/e2e/integration/app-frontend/layout-sets.ts
  test/e2e/integration/app-frontend/message.ts
  test/e2e/integration/app-frontend/mobile.ts
  test/e2e/integration/app-frontend/print-button.ts
  test/e2e/integration/app-frontend/receipt.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/integration/app-stateless-anonymous/anonymous.ts
  test/e2e/integration/app-stateless-anonymous/auto-save-behavior.ts
  test/e2e/integration/app-stateless-anonymous/options.ts
  test/e2e/integration/app-stateless-anonymous/validation.ts
  test/e2e/integration/signing/double-signing.ts
  test/e2e/support/auth.ts
  test/e2e/support/formFiller.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  test/e2e/support/navigation.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/other, ignore-for-release

#1262 Wait for save before validating autoSaveBehavior="OnChangePage"
  src/features/layout/update/updateFormLayoutSagas.ts
  test/e2e/integration/app-frontend/auto-save-behavior.ts
Labels: external-contribution-❤️

#1260 Support layout sets for signing task type
  src/components/wrappers/ProcessWrapper.tsx
Labels: kind/product-feature

#1264 Visual testing: Making screenshots less flaky
  src/components/ThemeWrapper.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Datepicker/index.tsx
  src/layout/FileUpload/shared/summary.ts
  src/layout/Summary/SummaryItemSimple.tsx
  test/e2e/integration/app-frontend/components.ts
  test/e2e/support/custom.ts
Labels: kind/other, ignore-for-release

#1252 Min count validation for repeating groups
  schemas/json/layout/layout.schema.v1.json
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Group/types.d.ts
  src/utils/validation/validation.test.ts
  src/utils/validation/validation.ts
  test/e2e/fixtures/texts.json
  test/e2e/integration/app-frontend/group.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/product-feature

#1267 Re-enabling WCAG-testing
  test/e2e/integration/app-frontend/group.ts
  test/e2e/support/app-frontend.ts
  test/e2e/support/auth.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/other, ignore-for-release

#1269 Grid: Empty text cells should be treated the same as `{}` and `null`
  src/layout/Grid/GridComponent.tsx
Labels: kind/bug, area/accessibility

#1253 Add alertOnDelete on fileUpload + refactoring
  schemas/json/layout/layout.schema.v1.json
  src/components/molecules/DeleteWarningPopover.tsx
  src/components/table/AltinnMobileTableItem.test.tsx
  src/components/table/AltinnMobileTableItem.tsx
  src/features/expressions/index.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/FileUpload/FileUploadComponent.module.css
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/FileUploadTableRow.module.css
  src/layout/FileUpload/FileUploadTableRow.tsx
  src/layout/FileUpload/types.d.ts
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/pageobjects/app-frontend.ts
  test/percy.css
Labels: kind/feature-request

#1277 DevTools: Minor fixes, features: 'vis alle steg i evalueringen', expression history
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.module.css
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorDataField.tsx
  src/features/devtools/hooks/useComponentHighlighter.ts
  src/features/expressions/ExprContext.ts
  src/features/expressions/index.ts
Labels: kind/product-feature

#1266 Visual testing: Making screenshots less flaky (2)
  test/e2e/integration/app-frontend/hide-row-in-group.ts
Labels: kind/other, ignore-for-release

#1258 Add new RadioButton and RadioGroup components.
  package.json
  schemas/json/layout/layout.schema.v1.json
  src/components/form/RadioButton.module.css
  src/components/form/RadioButton.test.tsx
  src/components/form/RadioButton.tsx
  src/components/form/RadioGroup.module.css
  src/components/form/RadioGroup.tsx
  src/layout/Checkboxes/types.d.ts
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/types.d.ts
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/layout/RadioButtons/types.d.ts
  src/layout/layout.d.ts
  yarn.lock
Labels: kind/product-feature

#1278 Fix: Title and Aria-Label on Summary Page
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/SummaryContent.tsx
  src/layout/Summary/SummaryItemCompact.tsx
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/bug, kind/feature-request, org/ssb

#1282 Prevent opening group for editing when clicking validation messages in some cases
  src/components/message/ErrorReport.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/utils/layout/LayoutNode.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#1271 Allowing Custom components to be rendered in table, ButtonGroup
  src/layout/Custom/index.tsx
  src/utils/formLayout.ts
Labels: kind/product-feature

#1287 DevTools: Control panel for setting feature toggles
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/devtools/components/FeatureToggles/FeatureToggles.module.css
  src/features/devtools/components/FeatureToggles/FeatureToggles.tsx
  src/features/devtools/components/SplitView/SplitView.tsx
  src/features/devtools/data/types.ts
  src/features/toggles.ts
  src/global.d.ts
  src/hooks/useAlwaysPromptForParty.ts
  src/setupTests.ts
Labels: kind/product-feature

#1290 Fixing text resource bindings set to empty strings in repeating groups
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/RepeatingGroupsEditContainer.tsx
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/group.ts
Labels: kind/bug, org/ssb

#1279 Making list of hidden components reactive, static options for Dropdown
  src/features/dynamics/conditionalRenderingSagas.ts
  src/features/dynamics/formDynamicsSlice.ts
  src/features/dynamics/index.ts
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/formData/update/updateFormDataSagas.ts
  src/features/layout/formLayoutSlice.ts
  src/features/layout/formLayoutTypes.ts
  src/features/layout/repGroups/initRepeatingGroupsSaga.ts
  src/features/layout/repGroups/repGroupAddRowSaga.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.test.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.ts
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Group/GroupContainer.test.tsx
  src/layout/Panel/PanelReferenceGroupContainer.test.tsx
  src/layout/Summary/SummaryComponent.test.tsx
  src/utils/conditionalRendering.test.ts
  src/utils/conditionalRendering.ts
  src/utils/layout/ExprContext.tsx
  test/e2e/integration/app-frontend/auto-save-behavior.ts
  test/e2e/integration/app-frontend/calculate-page-order.ts
  test/e2e/integration/app-frontend/dynamics.ts
Labels: kind/bug

#1292 JsonSchema for text resources
  schemas/json/text-resources/text-resources.schema.v1.json
  src/utils/layout/getAllLayoutSets.ts
  src/utils/layout/schema.test.ts
Labels: kind/product-feature

#1296 Urgent: Fixing state overwrite in Dropdown
  src/layout/Dropdown/DropdownComponent.tsx
  test/e2e/integration/app-frontend/components.ts
Labels: kind/bug
