Repository Altinn/app-frontend-react, pull requests merged in 2023-08, with the labels that each got.

#1341 New expression: `displayValue`
  .eslintrc.json
  schemas/json/layout/expression.schema.v1.json
  src/__mocks__/hierarchyMock.ts
  src/features/expressions/ExprContext.ts
  src/features/expressions/index.ts
  src/features/expressions/shared-tests/functions/displayValue/address.json
  src/features/expressions/shared-tests/functions/displayValue/button-group.json
  src/features/expressions/shared-tests/functions/displayValue/checkboxes.json
  src/features/expressions/shared-tests/functions/displayValue/custom.json
  src/features/expressions/shared-tests/functions/displayValue/datepicker.json
  src/features/expressions/shared-tests/functions/displayValue/dropdown.json
  src/features/expressions/shared-tests/functions/displayValue/file-upload-with-tag.json
  src/features/expressions/shared-tests/functions/displayValue/file-upload.json
  src/features/expressions/shared-tests/functions/displayValue/grid.json
  src/features/expressions/shared-tests/functions/displayValue/group.json
  src/features/expressions/shared-tests/functions/displayValue/hidden.json
  src/features/expressions/shared-tests/functions/displayValue/likert.json
  src/features/expressions/shared-tests/functions/displayValue/list.json
  src/features/expressions/shared-tests/functions/displayValue/map.json
  src/features/expressions/shared-tests/functions/displayValue/multiple-select.json
  src/features/expressions/shared-tests/functions/displayValue/not-found.json
  src/features/expressions/shared-tests/functions/displayValue/not-implemented.json
  src/features/expressions/shared-tests/functions/displayValue/null.json
  src/features/expressions/shared-tests/functions/displayValue/number-formatted-input.json
  src/features/expressions/shared-tests/functions/displayValue/radio-buttons.json
  src/features/expressions/shared-tests/functions/displayValue/regular-input.json
  src/features/expressions/shared-tests/functions/displayValue/summary.json
  src/features/expressions/shared-tests/functions/displayValue/textarea.json
  src/features/expressions/shared.test.ts
  src/features/expressions/shared.ts
  src/hooks/useCommaSeparatedOptionsToText.ts
  src/hooks/useLanguage.ts
  src/hooks/useMapToReactNumberConfig.ts
  src/hooks/useOptionList.ts
  src/hooks/useSelectedValueToText.ts
  src/layout/Address/index.tsx
  src/layout/ButtonGroup/index.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Custom/index.tsx
  src/layout/Datepicker/index.tsx
  src/layout/Dropdown/index.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUpload/shared/summary.ts
  src/layout/FileUploadWithTag/index.tsx
  src/layout/Grid/index.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/index.tsx
  src/layout/Input/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/index.tsx
  src/layout/List/index.tsx
  src/layout/Map/index.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/Summary/index.tsx
  src/layout/TextArea/index.tsx
  src/layout/index.test.ts
  src/layout/index.ts
  src/utils/layout/hierarchy.ts
Labels: kind/product-feature

#1301 Feat/1285 accordion and accordion group
  schemas/json/layout/layout.schema.v1.json
  src/layout/Accordion/Accordion.test.tsx
  src/layout/Accordion/Accordion.tsx
  src/layout/Accordion/AccordionItem.tsx
  src/layout/Accordion/hierarchy.ts
  src/layout/Accordion/index.tsx
  src/layout/Accordion/types.d.ts
  src/layout/AccordionGroup/AccordionGroup.tsx
  src/layout/AccordionGroup/hierarchy.ts
  src/layout/AccordionGroup/index.tsx
  src/layout/AccordionGroup/types.d.ts
  src/layout/Button/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Paragraph/index.tsx
  test/e2e/integration/app-frontend/accordion.ts
Labels: kind/product-feature

#1352 fix(Accordion): bug with titles in Accordions. They did not use useLa…
  src/__mocks__/initialStateMock.ts
  src/layout/Accordion/Accordion.test.tsx
  src/layout/Accordion/Accordion.tsx
Labels: kind/bug

#1355 fix(Alert): use body instead of description for alert textResourceBin…
  src/layout/Alert/Alert.test.tsx
  src/layout/Alert/Alert.tsx
  src/layout/Alert/index.tsx
Labels: kind/bug, area/language

#1358 Prevent crash on save invalid decimal value
  src/hooks/useMapToReactNumberConfig.ts
  src/hooks/useReload.ts
  src/layout/Input/InputComponent.tsx
  src/layout/Input/index.tsx
  src/utils/formattingUtils.test.ts
  src/utils/formattingUtils.ts
Labels: kind/bug

#1360 Updated design system and tokens, and added ignoreDeps
  package.json
  renovate.json
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  yarn.lock
Labels: kind/dependencies

#1369 Fix useDisplayData hook usage in `RepeatingGroupTableRow`
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/LayoutComponent.tsx
  src/layout/index.ts
Labels: kind/bug

#1370 Static query parameters for options
  schemas/json/layout/layout.schema.v1.json
  src/features/options/fetch/fetchOptionsSagas.test.ts
  src/features/options/fetch/fetchOptionsSagas.ts
  src/hooks/useGetOptions.ts
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/layout/layout.d.ts
  src/types/index.ts
  src/utils/options.ts
  src/utils/urls/appUrlHelper.test.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/product-feature

#1376 Renovate schedule for design system
  renovate.json
Labels: ignore-for-release

#1384 Fix: Hiding required validation messages for tracks-hidden pages
  src/features/devtools/components/DevHiddenFunctionality/DevHiddenFunctionality.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/dynamics/conditionalRenderingSagas.ts
  src/layout/Group/SummaryGroupComponent.test.tsx
  src/types/index.ts
  src/utils/layout/LayoutNode.ts
  src/utils/layout/LayoutPage.ts
  src/utils/layout/LayoutPages.ts
  src/utils/validation/validation.ts
  test/e2e/integration/app-frontend/calculate-page-order.ts
Labels: kind/bug

#1392 fix(FileUploadWithTag): Unable to use langauge resource files
  src/hooks/useFormattedOptions.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/FileUpload/FileUploadTable/FileTableComponent.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
Labels: kind/bug

#1387 Filter required and model validations from backend by source
  src/utils/validation/backendValidation.test.ts
  src/utils/validation/backendValidation.ts
  src/utils/validation/validationTexts.ts
Labels: kind/bug

#1379 Avoid page break in alert component (PDF)
  src/layout/Alert/Alert.module.css
  src/layout/Alert/AlertBaseComponent.tsx
  src/layout/Group/SummaryGroupComponent.module.css
Labels: kind/bug

#1394 Multiple fixes to applicationmetadata schema (and tests)
  schemas/json/application/application-metadata.schema.v1.json
  src/utils/layout/schema.test.ts
Labels: kind/bug, kind/other

#1393 Maintain small button size after design update
  src/components/EditIconButton.tsx
  src/components/molecules/DeleteWarningPopover.tsx
  src/components/presentation/NavBar.tsx
  src/features/devtools/DevToolsPanel.tsx
  src/features/devtools/components/DevToolsLogs/DevToolsLogs.tsx
  src/features/devtools/components/DownloadXMLButton/DownloadXMLButton.tsx
  src/features/devtools/components/FeatureToggles/FeatureToggles.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/features/devtools/components/VersionSwitcher/VersionSwitcher.tsx
  src/features/instantiate/containers/InstanceSelection.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/features/instantiate/containers/UnknownError.tsx
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/Button/WrappedButton.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/Group/GroupContainer.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/RepeatingGroupsEditContainer.tsx
  src/layout/Link/LinkComponent.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/layout/Panel/PanelReferenceGroupContainer.tsx
  src/layout/PrintButton/PrintButtonComponent.tsx
  src/layout/Summary/EditButton.tsx
Labels: kind/other

#1383 Input countdown error validation
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/GenericComponent.tsx
  src/utils/inputUtils.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/grid.ts
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/bug

#1397 Fix: Removing validation messages for invisible components
  src/features/attachments/upload/uploadAttachmentSagas.ts
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/layout/repGroups/updateRepeatingGroupEditIndexSaga.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/features/validation/singleFieldValidationSagas.test.ts
  src/features/validation/singleFieldValidationSagas.ts
  src/utils/validation/backendValidation.test.ts
  src/utils/validation/backendValidation.ts
  src/utils/validation/backendValidationSeverity.ts
  src/utils/validation/types.d.ts
  test/e2e/integration/app-frontend/validation.ts
Labels: kind/bug

#1381 fix(Accordion): Add separate component for Accordion print-view
  src/features/expressions/shared-tests/functions/displayValue/accordion-component.json
  src/features/pdf/data/generatePdfSagas.ts
  src/layout/Accordion/Accordion.module.css
  src/layout/Accordion/Accordion.tsx
  src/layout/Accordion/AccordionItem.tsx
  src/layout/Accordion/SummaryAccordion.module.css
  src/layout/Accordion/SummaryAccordion.tsx
  src/layout/Accordion/index.tsx
  src/layout/Accordion/types.d.ts
  src/layout/AccordionGroup/AccordionGroup.tsx
  src/layout/AccordionGroup/SummaryAccordionGroupComponent.tsx
  src/layout/AccordionGroup/index.tsx
  src/layout/ButtonGroup/index.tsx
  src/layout/Group/DisplayGroupContainer.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Summary/index.tsx
  src/layout/index.test.ts
  src/types/shared.ts
Labels: kind/bug

#1405 feat(Alert): Add possibility for Markdown in body
  src/layout/Alert/Alert.tsx
Labels: kind/feature-request

#1410 Wait for upload attachment before submit
  src/hooks/useCanSubmitForm.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Button/ButtonComponent.module.css
  src/layout/Button/ButtonComponent.tsx
  src/layout/Button/ButtonLoader.module.css
  src/layout/Button/GoToTaskButton.tsx
  src/layout/Button/WrappedButton.tsx
Labels: kind/bug

#1412 WCAG: Fix special character in title
  package.json
  src/App.tsx
  yarn.lock
Labels: kind/bug

#1333 Add custom required validation text
  src/components/form/Form.tsx
  src/layout/LayoutComponent.tsx
  src/layout/List/index.tsx
  src/layout/layout.d.ts
  src/utils/validation/validation.test.ts
  src/utils/validation/validation.ts
Labels: kind/feature-request

#1413 Minor changes to make merging from main in #1175 easier
  package.json
  src/features/expressions/index.ts
  src/features/formRules/checkRulesSagas.ts
  src/features/layout/formLayoutTypes.ts
  src/features/layout/repGroups/initRepeatingGroupsSaga.ts
  src/features/layout/repGroups/repGroupAddRowSaga.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/hooks/useStateDeepEqual.ts
  src/layout/Address/AddressComponent.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/LayoutComponent.tsx
  src/layout/index.ts
  src/utils/appMetadata.ts
  src/utils/databindings.ts
  src/utils/rules/index.ts
  src/utils/rules/rules.test.tsx
  yarn.lock
Labels: kind/other

#1415 Enable help text in grid cells to use language resource files
  src/layout/Grid/GridComponent.tsx
Labels: kind/bug

#1396 feat(Logo): Add options for setting custom logos in forms
  schemas/json/application/application-metadata.schema.v1.json
  src/__mocks__/applicationMetadataMock.ts
  src/__mocks__/initialStateMock.ts
  src/components/organisms/AltinnAppHeader.test.tsx
  src/components/organisms/AltinnAppHeader.tsx
  src/components/presentation/Header.tsx
  src/components/presentation/OrganisationLogo/OrganisationLogo.module.css
  src/components/presentation/OrganisationLogo/OrganisationLogo.test.tsx
  src/components/presentation/OrganisationLogo/OrganisationLogo.tsx
  src/features/applicationMetadata/index.d.ts
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/footer/Footer.module.css
  src/features/footer/Footer.tsx
  src/features/queue/infoTask/infoTaskQueueSaga.test.ts
  src/language/sharedLanguage.ts
  src/selectors/language.ts
  src/selectors/logo.ts
  src/selectors/simpleSelectors.ts
  src/utils/layout/ExprContext.tsx
  src/utils/layout/hierarchy.ts
  test/e2e/integration/app-frontend/footer.ts
Labels: kind/product-feature

#1417 Renaming all cypress integration test directories
  package.json
  test/README.md
  test/e2e/integration/anonymous-stateless-app/anonymous.ts
  test/e2e/integration/anonymous-stateless-app/auto-save-behavior.ts
  test/e2e/integration/anonymous-stateless-app/options.ts
  test/e2e/integration/anonymous-stateless-app/validation.ts
  test/e2e/integration/frontend-test/accordion.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/attachments-in-group.ts
  test/e2e/integration/frontend-test/auto-save-behavior.ts
  test/e2e/integration/frontend-test/calculate-page-order.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/dynamics.ts
  test/e2e/integration/frontend-test/footer.ts
  test/e2e/integration/frontend-test/formatting.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/hide-row-in-group.ts
  test/e2e/integration/frontend-test/layout-sets.ts
  test/e2e/integration/frontend-test/likert.ts
  test/e2e/integration/frontend-test/list-component.ts
  test/e2e/integration/frontend-test/message.ts
  test/e2e/integration/frontend-test/mobile.ts
  test/e2e/integration/frontend-test/multipart-save.ts
  test/e2e/integration/frontend-test/on-entry.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/integration/frontend-test/prefill.ts
  test/e2e/integration/frontend-test/print-button.ts
  test/e2e/integration/frontend-test/redirect.ts
  test/e2e/integration/frontend-test/reportee-selection.ts
  test/e2e/integration/frontend-test/rules.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/frontend-test/tabbing.ts
  test/e2e/integration/frontend-test/texts.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/integration/signing-test/double-signing.ts
  test/e2e/integration/stateless-app/feedback.ts
  test/e2e/integration/stateless-app/receipt.ts
  test/e2e/integration/stateless-app/stateless.ts
  test/e2e/support/custom.ts
Labels: kind/other, ignore-for-release
