Repository Altinn/app-frontend-react, pull requests merged in 2023-10, with the labels that each got.

#1534 New checkbox component
  src/layout/Checkboxes/CheckboxesContainerComponent.module.css
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
Labels: kind/other

#1539 Switch release pipeline to production CDN.
  .github/workflows/release.yml
Labels: kind/other, ignore-for-release

#1536 Likert: Remove extra labelledById attribute
  src/layout/Likert/LikertComponent.module.css
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.test.tsx
Labels: external-contribution-❤️, kind/bug

#1551 Fix issues in new CheckBox component + fix styling RadioButtonGroup
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: kind/bug, area/accessibility

#1550 Rewrite PDF sagas to a hook
  package.json
  src/App.tsx
  src/__mocks__/initialStateMock.ts
  src/components/wrappers/ProcessWrapper.tsx
  src/features/devtools/data/devToolsSagas.ts
  src/features/pdf/PDFView.tsx
  src/features/pdf/data/generatePdfSagas.ts
  src/features/pdf/data/pdfSlice.ts
  src/features/pdf/data/types.d.ts
  src/features/pdf/types.ts
  src/features/queue/queueSlice.ts
  src/hooks/queries/usePdfFormatQuery.ts
  src/hooks/usePdfPage.ts
  src/hooks/useUpdatePdfState.ts
  src/queries/queries.ts
  src/redux/reducers.ts
  src/selectors/getErrors.ts
  src/test/renderWithProviders.tsx
  src/utils/pdf.ts
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/pageobjects/likert.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  yarn.lock
Labels: kind/other

#1540 Expression validation
  schemas/json/layout/expression.schema.v1.json
  schemas/json/validation/validation.schema.v1.json
  src/App.tsx
  src/__mocks__/initialStateMock.ts
  src/features/customValidation/customValidationSlice.ts
  src/features/customValidation/types.ts
  src/features/expressions/ExprContext.ts
  src/features/expressions/index.ts
  src/features/expressions/types.ts
  src/hooks/queries/useCustomValidationConfig.ts
  src/queries/queries.ts
  src/redux/reducers.ts
  src/selectors/getErrors.ts
  src/test/renderWithProviders.tsx
  src/utils/databindings.ts
  src/utils/layout/LayoutNode.ts
  src/utils/urls/appUrlHelper.ts
  src/utils/validation/expressionValidation.test.ts
  src/utils/validation/expressionValidation.ts
  src/utils/validation/schemaValidation.test.ts
  src/utils/validation/shared-expression-validation-tests/hidden-field.json
  src/utils/validation/shared-expression-validation-tests/hidden-page.json
  src/utils/validation/shared-expression-validation-tests/many-errors.json
  src/utils/validation/shared-expression-validation-tests/nested-repeating-hidden-row.json
  src/utils/validation/shared-expression-validation-tests/nested-repeating-hidden.json
  src/utils/validation/shared-expression-validation-tests/override.json
  src/utils/validation/shared-expression-validation-tests/repeating-hidden-row.json
  src/utils/validation/shared-expression-validation-tests/repeating-hidden.json
  src/utils/validation/shared-expression-validation-tests/repeating.json
  src/utils/validation/shared-expression-validation-tests/single-field-equals.json
  src/utils/validation/shared-expression-validation-tests/warning.json
  src/utils/validation/types.d.ts
  src/utils/validation/validation.ts
  src/utils/validation/validationHelpers.ts
  test/README.md
  test/e2e/integration/expression-validation-test/expression-validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/product-feature, kind/breaking-change

#1559 Rewrite fetch dynamics and fetch rules to tanstack query
  src/App.tsx
  src/__mocks__/initialStateMock.ts
  src/features/dynamics/fetchFormDynamicsSagas.ts
  src/features/dynamics/formDynamicsSlice.ts
  src/features/dynamics/index.ts
  src/features/formRules/fetchRulesSagas.ts
  src/features/formRules/index.d.ts
  src/features/formRules/rulesSlice.ts
  src/features/isLoading/dataTaskIsLoadingSagas.ts
  src/features/layout/useLayouts.ts
  src/hooks/queries/useDynamicsQuery.ts
  src/hooks/queries/useFormDataQuery.ts
  src/hooks/queries/useRulesQuery.ts
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
  src/utils/appMetadata.ts
Labels: kind/other

#1560 Make PDF tests less hacky
  test/e2e/support/custom.ts
Labels: kind/other

#1567 Delete fetch layout sets saga
  src/features/layout/fetch/fetchFormLayoutSagas.ts
  src/features/layout/formLayoutSlice.ts
Labels: kind/other

#1571 Exclude expression validations from backend
  src/utils/validation/backendValidation.ts
Labels: kind/bug

#1569 Rewrite `fetchTextResourcesSagas` to TanStack Query
  src/App.tsx
  src/features/queue/queueSlice.ts
  src/features/textResources/fetch/fetchTextResourcesSagas.test.ts
  src/features/textResources/fetch/fetchTextResourcesSagas.ts
  src/features/textResources/index.d.ts
  src/features/textResources/textResourcesSlice.ts
  src/hooks/queries/useGetTextResourcesQuery.ts
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
Labels: kind/other

#1576 Fix summary content overflow
  src/layout/Checkboxes/MultipleChoiceSummary.tsx
  src/layout/FileUpload/Summary/AttachmentSummaryComponent.module.css
  src/layout/FileUpload/Summary/AttachmentSummaryComponent.tsx
  src/layout/Summary/SummaryItemCompact.module.css
  src/layout/Summary/SummaryItemSimple.module.css
Labels: kind/bug

#1558 Alert on change - radioButtons and checkBoxes
  src/components/form/RadioButton.tsx
  src/components/molecules/DeleteWarningPopover.tsx
  src/features/expressions/index.ts
  src/hooks/useAlertOnChange.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Checkboxes/config.ts
  src/layout/FileUpload/FileUploadTable/FileTableButtons.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/RepeatingGroupsTable.test.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RadioButtons/config.ts
  test/e2e/integration/frontend-test/components.ts
Labels: kind/product-feature

#1577 Update digdir design-system/tokens `0.31.1`/`0.8.0`
  package.json
  src/components/form/RadioButton.module.css
  src/components/molecules/DeleteWarningPopover.tsx
  src/components/presentation/NavBar.tsx
  src/features/devtools/DevTools.module.css
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/DevToolsPanel.tsx
  src/features/devtools/components/DevHiddenFunctionality/DevHiddenFunctionality.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.module.css
  src/features/devtools/components/DevToolsLogs/DevToolsLogs.tsx
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.module.css
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/devtools/components/FeatureToggles/FeatureToggles.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.module.css
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.tsx
  src/features/instantiate/containers/InstanceSelection.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/Button/WrappedButton.tsx
  src/layout/FileUpload/FileUploadTable/FileTableButtons.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/RepeatingGroupsEditContainer.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Input/InputComponent.tsx
  src/layout/Link/LinkComponent.tsx
  src/layout/PrintButton/PrintButtonComponent.tsx
  src/layout/Summary/EditButton.tsx
  src/layout/TextArea/TextAreaComponent.tsx
  test/e2e/pageobjects/datalist.ts
  yarn.lock
Labels: kind/dependencies

#1581 Upgrade checkboxes (v3)
  src/layout/Checkboxes/CheckboxesContainerComponent.module.css
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: kind/other

#1578 Remove pageRef property from Summary component
  src/components/form/Form.test.tsx
  src/features/expressions/shared-tests/functions/displayValue/summary.json
  src/hooks/usePdfPage.ts
  src/layout/Group/SummaryGroupComponent.test.tsx
  src/layout/Summary/SummaryComponent.test.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/config.ts
Labels: kind/other

#1572 Workaround for critical bug when pressing back button in browser (for stateless->stateful apps)
  src/App.tsx
  src/features/instanceData/getInstanceDataSagas.ts
  src/features/instanceData/instanceDataSlice.ts
  src/features/instantiate/instantiation/instantiationSlice.ts
  src/hooks/queries/useActiveInstancesQuery.ts
  src/layout/InstantiationButton/InstantiationButton.tsx
Labels: kind/bug, org/udir

#1594 Remove radio label if empty
  src/components/form/RadioButton.tsx
Labels: external-contribution-❤️, kind/bug

#1596 fix: if defaultValue in text variables is set to empty string, the ap…
  src/hooks/useLanguage.ts
Labels: kind/bug, area/language, fe-v4

#1600 Using `esbuild-loader` for faster development builds
  package.json
  src/components/LandmarkShortcuts.test.tsx
  src/components/altinnParty.test.tsx
  src/components/form/RadioButton.test.tsx
  src/components/organisms/AltinnAppHeader.test.tsx
  src/components/presentation/NavBar.test.tsx
  src/components/wrappers/Presentation.test.tsx
  src/features/confirm/containers/ConfirmPage.test.tsx
  src/features/instantiate/containers/InstanceSelection.test.tsx
  src/layout/Address/AddressComponent.test.tsx
  src/layout/Button/GoToTaskButton.test.tsx
  src/layout/Button/WrappedButton.test.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Datepicker/DatepickerComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/FileUpload/FileUploadComponent.test.tsx
  src/layout/Group/GroupContainer.test.tsx
  src/layout/Group/RepeatingGroupsEditContainer.test.tsx
  src/layout/Group/RepeatingGroupsTable.test.tsx
  src/layout/Input/InputComponent.test.tsx
  src/layout/InstantiationButton/InstantiationButton.test.tsx
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/layout/Panel/PanelReferenceGroupContainer.test.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
  src/layout/TextArea/TextAreaComponent.test.tsx
  template.env
  webpack.config.development.js
  yarn.lock
Labels: kind/other

#1599 feat: add a sortOrder property to Dropdown component to be able to so…
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Dropdown/config.ts
Labels: kind/product-feature

#1602 Validate components against layout schema
  package.json
  scripts/copy-schemas.ts
  src/__mocks__/formLayoutStateMock.ts
  src/features/datamodel/dataModelLookups.test.ts
  src/features/devtools/DevTools.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/layoutValidation/all.test.tsx
  src/features/devtools/layoutValidation/types.ts
  src/features/devtools/layoutValidation/useLayoutSchemaValidation.ts
  src/features/devtools/layoutValidation/useLayoutValidation.tsx
  src/features/devtools/utils/layoutSchemaValidation.ts
  src/features/layout/fetch/fetchFormLayoutSagas.test.ts
  src/features/layout/fetch/fetchFormLayoutSagas.ts
  src/features/layout/formLayoutSlice.test.ts
  src/features/layout/formLayoutSlice.ts
  src/features/layout/formLayoutTypes.ts
  src/features/layoutValidation/useLayoutValidationCurrentPage.tsx
  src/index.css
  src/index.tsx
  src/layout/Address/index.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Datepicker/index.tsx
  src/layout/Dropdown/index.tsx
  src/layout/FileUpload/Summary/AttachmentWithTagSummaryComponent.test.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUploadWithTag/index.tsx
  src/layout/Grid/index.tsx
  src/layout/Group/RepeatingGroupsTable.test.tsx
  src/layout/Group/index.tsx
  src/layout/Input/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainerTestUtils.tsx
  src/layout/Likert/index.tsx
  src/layout/List/index.tsx
  src/layout/Map/index.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/layout/Panel/PanelGroupContainer.test.tsx
  src/layout/Panel/PanelReferenceGroupContainer.test.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/TextArea/index.tsx
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
  src/utils/stringHelper.ts
  tsconfig.json
  webpack.config.development.js
Labels: kind/other

#1614 feat: add support for sortOption for all selection components
  src/codegen/Common.ts
  src/features/options/useGetOptions.ts
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Dropdown/config.ts
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
Labels: kind/product-feature

#1618 Upgrade design system to 0.35.0 (v3)
  package.json
  src/components/form/RadioButton.test.tsx
  src/components/molecules/DeleteWarningPopover.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/pageobjects/app-frontend.ts
  yarn.lock
Labels: kind/dependencies

#1617 Upgrade design system to 0.35.0
  package.json
  src/components/form/RadioButton.test.tsx
  src/components/molecules/DeleteWarningPopover.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/pageobjects/app-frontend.ts
  yarn.lock
Labels: kind/dependencies

#1607 Feat/support for expressions in group label
  src/hooks/useSourceOptions.ts
  src/utils/memoize.test.ts
  src/utils/memoize.ts
  test/e2e/integration/frontend-test/options.ts
Labels: kind/product-feature
