Repository Altinn/app-frontend-react, pull requests merged in 2023-02, with the labels that each got.

#884 PDF: Fix issue when components are undefined in settings
  src/features/form/layout/formLayoutSlice.ts
Labels: kind/bug

#885 Preventing crash on Party selection for users with names that contains abnormal spaces
  src/utils/stringHelper.test.ts
  src/utils/stringHelper.ts
Labels: kind/bug

#900 WCAG: Added `aria-expanded` to repeating group edit button
  src/features/form/containers/RepeatingGroupTableRow.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
Labels: kind/bug

#907 Supporting Cypress tests in newer LocalTest with http mode
  test/e2e/support/app-frontend.ts
  test/e2e/support/global.d.ts
  test/e2e/support/start-app-instance.ts
Labels: area/test, kind/other, ignore-for-release

#881 Add steps to release pipeline to publish to azure CDN
  .github/scripts/release.sh
  .github/workflows/release.yml
Labels: ignore-for-release

#913 Update links in readme to point to new app-localtest repo
  README.md
Labels: kind/other

#915 WCAG: Fixed `aria-expanded` on delete button without popover
  src/features/form/containers/RepeatingGroupTableRow.tsx
Labels: kind/bug

#918 Fixing component ID regex to allow our UUIDs
  schemas/json/layout/layout.schema.v1.json
Labels: kind/bug, org/ssb

#916 PDF: Added more page-break options
  schemas/json/layout/layout.schema.v1.json
  src/components/summary/SummaryComponent.tsx
  src/features/expressions/index.ts
  src/features/form/containers/DisplayGroupContainer.tsx
  src/features/pdf/AutomaticPDFLayout.tsx
  src/layout/GenericComponent.tsx
  src/layout/layout.d.ts
  src/styles/print.module.css
  src/utils/formComponentUtils.ts
Labels: kind/product-feature

#921 Fix release script
  .github/scripts/release.sh
Labels: ignore-for-release

#923 Fix path issues for sync of schemas
  .github/scripts/release.sh
Labels: ignore-for-release

#869 Changes to PR template
  .github/pull_request_template.md
Labels: kind/other, ignore-for-release

#920 Strictness suggestions in `tsconfig.json`
  tsconfig.json
Labels: kind/other, ignore-for-release

#924 Add missing files to sync and only sync schemas on final version
  .github/scripts/release.sh
Labels: kind/other, ignore-for-release

#926 Summary edit button accessibility
  src/components/summary/EditButton.tsx
  src/components/summary/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Checkboxes/__snapshots__/MultipleChoiceSummary.test.tsx.snap
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/bug

#899 Saving datamodel along with list of changed fields and previous values
  package.json
  src/__mocks__/formDataStateMock.ts
  src/features/form/data/formDataSlice.ts
  src/features/form/data/index.d.ts
  src/features/form/data/submit/submitFormDataSagas.test.ts
  src/features/form/data/submit/submitFormDataSagas.ts
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/shared/resources/applicationMetadata/index.d.ts
  src/utils/urls/appUrlHelper.ts
  src/utils/validation/runClientSideValidation.ts
  test/e2e/integration/app-frontend/multipart-save.ts
  test/e2e/support/index.ts
  yarn.lock
Labels: kind/product-feature

#929 Fix bold text from text-resources
  src/styles/tjenester3.css
Labels: kind/bug

#928 Fix fonts not loading in new pdf
  src/setupTests.ts
  src/shared/components/ReadyForPrint.tsx
Labels: kind/bug

#927 Fixing multiple minor issues with navigation to/from Summary page (fixes #504)
  src/components/message/ErrorReport.tsx
  src/features/form/layout/formLayoutTypes.ts
  src/features/form/layout/update/updateFormLayoutSagas.test.ts
  src/features/form/layout/update/updateFormLayoutSagas.ts
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/shared/containers/Presentation.tsx
  src/types/index.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/support/index.ts
  test/e2e/support/navigation.ts
Labels: kind/bug

#893 Allowing specified links to open in the same window
  src/language/sharedLanguage.ts
  src/styles/tjenester3.css
  test/e2e/integration/app-frontend/message.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/product-feature

#935 Give dev a compact navbar option (#906)
  schemas/json/layout/layout.schema.v1.json
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/NavigationBar/types.d.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/mobile.ts
Labels: kind/product-feature

#938 Positioning user menu based on language direction (ltr and rtl)
  src/components/organisms/AltinnAppHeaderMenu.tsx
Labels: kind/bug

#871 Footer
  schemas/json/layout/footer.schema.v1.json
  src/__mocks__/initialStateMock.ts
  src/features/footer/Footer.module.css
  src/features/footer/Footer.tsx
  src/features/footer/components/Email/FooterEmail.tsx
  src/features/footer/components/Email/index.ts
  src/features/footer/components/Email/types.d.ts
  src/features/footer/components/FooterComponentWrapper.module.css
  src/features/footer/components/FooterComponentWrapper.tsx
  src/features/footer/components/Link/FooterLink.tsx
  src/features/footer/components/Link/index.ts
  src/features/footer/components/Link/types.d.ts
  src/features/footer/components/Phone/FooterPhone.tsx
  src/features/footer/components/Phone/index.ts
  src/features/footer/components/Phone/types.d.ts
  src/features/footer/components/Text/FooterText.tsx
  src/features/footer/components/Text/index.ts
  src/features/footer/components/Text/types.d.ts
  src/features/footer/components/index.ts
  src/features/footer/components/shared/FooterGenericLink.tsx
  src/features/footer/components/shared/FooterIcon.tsx
  src/features/footer/components/shared/shared.module.css
  src/features/footer/data/fetchFooterLayoutSagas.ts
  src/features/footer/data/footerLayoutSlice.ts
  src/features/footer/data/types.d.ts
  src/features/footer/index.ts
  src/features/footer/types.d.ts
  src/features/instantiate/containers/InstantiationContainer.tsx
  src/index.css
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/reducers/index.ts
  src/selectors/getErrors.ts
  src/shared/containers/Presentation.tsx
  src/shared/resources/applicationMetadata/index.d.ts
  src/shared/resources/queue/queueSlice.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/app-frontend/footer.ts
  test/e2e/support/footer.ts
Labels: kind/product-feature

#945 Fixed crash when receiving calculated changes from server
  .github/workflows/cypress.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  package.json
  src/features/form/data/submit/submitFormDataSagas.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/multipart-save.ts
  test/e2e/pageobjects/app-frontend.ts
  yarn.lock
Labels: kind/bug, org/ssb

#951 Bug: Fix excluded children
  src/components/summary/SummaryGroupComponent.tsx
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/bug

#940 PDF: Bugfixes
  src/App.tsx
  src/__mocks__/initialStateMock.ts
  src/components/summary/SummaryComponent.tsx
  src/features/form/components/HelpTextContainer.tsx
  src/features/form/containers/DisplayGroupContainer.tsx
  src/features/form/layout/formLayoutSlice.ts
  src/features/form/layout/update/updateFormLayoutSagas.ts
  src/features/pdf/AutomaticPDFLayout.tsx
  src/features/pdf/CustomPDFLayout.tsx
  src/features/pdf/PDFView.tsx
  src/features/pdf/data/generatePdfSagas.ts
  src/features/pdf/data/pdfSlice.ts
  src/features/pdf/data/types.d.ts
  src/features/pdf/index.d.ts
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/FileUploadWithTag/AttachmentWithTagSummaryComponent.test.tsx
  src/layout/GenericComponent.tsx
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
  src/reducers/index.ts
  src/selectors/getErrors.ts
  src/shared/resources/dataLists/dataListsSlice.ts
  src/shared/resources/dataLists/fetchDataListsSaga.ts
  src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/shared/resources/options/index.d.ts
  src/shared/resources/options/optionsSlice.ts
  src/shared/resources/queue/queueSlice.ts
  src/styles/tjenester3.css
  src/utils/formComponentUtils.ts
  src/utils/pdf.ts
Labels: kind/bug

#942 Error message - remove long ID, duplication fix
  src/components/message/ErrorReport.tsx
  src/layout/FileUploadWithTag/FileListComponent.tsx
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#958 fix bug in release script
  .github/workflows/release.yml
Labels: ignore-for-release

#960 Fix generic component in group summary
  src/components/summary/SummaryComponent.tsx
Labels: kind/bug

#964 PDF: Fix issue with automatic layout duplication
  src/features/pdf/data/generatePdfSagas.ts
Labels: kind/bug

#963 screen reader - error report
  src/features/form/containers/Form.tsx
  test/e2e/integration/app-frontend/validation.ts
Labels: kind/bug, area/accessibility

#961 Changed error message text - min & max
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/bug, area/language

#962 Update helptext to use digdir designsystem and fix wcag issues
  package.json
  src/features/form/components/HelpTextContainer.module.css
  src/features/form/components/HelpTextContainer.test.tsx
  src/features/form/components/HelpTextContainer.tsx
  src/features/form/components/HelpTextIcon.tsx
  src/features/form/components/HelpTextPopover.tsx
  src/features/form/components/Label.tsx
  src/features/form/components/Legend.module.css
  src/features/form/components/Legend.tsx
  src/features/form/containers/RepeatingGroupsTable.test.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Header/HeaderComponent.test.tsx
  src/layout/Header/HeaderComponent.tsx
  src/layout/Image/ImageComponent.tsx
  src/layout/Paragraph/ParagraphComponent.test.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/utils/stringHelper.test.ts
  src/utils/stringHelper.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/pageobjects/app-frontend.ts
  yarn.lock
Labels: kind/bug, kind/dependencies
