Repository Altinn/app-frontend-react, pull requests merged in 2023-01, with the labels that each got.

#767 WCAG updates for List Component
  src/layout/GenericComponent.tsx
  src/layout/List/ListComponent.test.tsx
  src/layout/List/ListComponent.tsx
Labels: external-contribution-❤️, kind/other

#777 Fixing `validatePage` on stateless apps
  src/utils/appMetadata.ts
  src/utils/validation/runClientSideValidation.ts
  src/utils/validation/validation.ts
  test/e2e/fixtures/texts.json
  test/e2e/integration/app-stateless-anonymous/validation.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/bug

#797 Adding test for hidden components in group summary + bugfix
  src/features/form/layout/formLayoutSlice.ts
  src/features/form/layout/update/updateFormLayoutSagas.test.ts
  src/features/form/layout/update/updateFormLayoutSagas.ts
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/bug

#807 Design system v0.25.13 with map component changes
  package.json
  src/layout/Map/MapComponent.tsx
  src/layout/Map/MapComponentSummary.tsx
  src/layout/Map/MapIcons.ts
  yarn.lock
Labels: kind/dependencies

#800 Bugfix/124 validation message still active for hidden field in repeating group
  src/features/form/validation/singleField/singleFieldValidationSagas.test.ts
  src/features/form/validation/singleField/singleFieldValidationSagas.ts
  src/features/form/validation/validationSlice.ts
  test/e2e/fixtures/texts.json
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#736 Print-friendly page for PDF generation
  schemas/json/layout/layout.schema.v1.json
  schemas/json/layout/layoutSettings.schema.v1.json
  src/__mocks__/initialStateMock.ts
  src/__mocks__/uiConfigStateMock.ts
  src/components/molecules/AltinnSummaryTable.tsx
  src/components/summary/SummaryBoilerplate.tsx
  src/components/summary/SummaryComponent.tsx
  src/components/summary/SummaryComponentSwitch.tsx
  src/components/summary/SummaryGroupComponent.test.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/features/expressions/index.ts
  src/features/form/containers/DisplayGroupContainer.tsx
  src/features/form/containers/RepeatingGroupsTable.test.tsx
  src/features/form/layout/formLayoutSlice.ts
  src/features/pdf/AutomaticPDFLayout.tsx
  src/features/pdf/CustomPDFLayout.tsx
  src/features/pdf/PDFView.module.css
  src/features/pdf/PDFView.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Checkboxes/MultipleChoiceSummary.tsx
  src/layout/Checkboxes/__snapshots__/MultipleChoiceSummary.test.tsx.snap
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/FileUploadWithTag/AttachmentWithTagSummaryComponent.test.tsx
  src/layout/FileUploadWithTag/FileUploadWithTagComponent.test.tsx
  src/layout/GenericComponent.tsx
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/layout/List/ListComponent.test.tsx
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.test.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
  src/layout/Summary/types.d.ts
  src/layout/layout.d.ts
  src/shared/containers/ProcessWrapper.tsx
  src/shared/resources/dataLists/dataListSlice.test.tsx
  src/shared/resources/dataLists/dataListsSlice.ts
  src/shared/resources/dataLists/fetchDataListsSaga.ts
  src/shared/resources/dataLists/index.d.ts
  src/shared/resources/options/fetch/fetchOptionsSagas.ts
  src/shared/resources/options/index.d.ts
  src/shared/resources/options/optionsSlice.ts
  src/styles/print.module.css
  src/types/index.ts
Labels: kind/product-feature

#809 Support for summary of non-repeating group
  src/components/summary/SummaryComponent.test.tsx
  src/components/summary/SummaryComponent.tsx
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/product-feature

#811 Null check empty optionLabel from repeating group
  src/utils/options.ts
Labels: kind/bug

#679 Added workflow to automagically add issues to project
  .github/workflows/add-to-project.yml
Labels: kind/other, ignore-for-release

#814 Adding silent mode for webpack/`yarn start:silent`
  package.json
  webpack.config.development.js
Labels: kind/other, ignore-for-release

#812 SummaryComponents display `You have not entered any information here` instead of nothing when no data is given for a field
  src/components/hooks/useDisplayData.test.tsx
  src/components/hooks/useDisplayData.ts
  src/components/summary/GroupInputSummary.tsx
  src/components/summary/SingleInputSummary.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/components/summary/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/FileUpload/AttachmentSummaryComponent.tsx
  src/layout/FileUploadWithTag/AttachmentWithTagSummaryComponent.test.tsx
  src/layout/FileUploadWithTag/AttachmentWithTagSummaryComponent.tsx
  src/layout/Map/MapComponentSummary.tsx
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/product-feature

#821 Added the missing map-component to layout.schema.v1.json
  schemas/json/layout/layout.schema.v1.json
Labels: area/layout

#827 Easier preview for PDF development
  src/features/pdf/PDFView.tsx
  src/index.css
  src/shared/containers/ProcessWrapper.module.css
  src/shared/containers/ProcessWrapper.tsx
Labels: kind/product-feature

#766 mapping on list component and added searchbar
  schemas/json/layout/layout.schema.v1.json
  src/components/hooks/index.ts
  src/features/form/data/formDataSlice.ts
  src/layout/Input/InputComponent.tsx
  src/layout/Input/types.d.ts
  src/layout/List/types.d.ts
  src/shared/resources/dataLists/fetchDataListsSaga.ts
Labels: external-contribution-❤️

#837 Expressions: Minor bugs, friction, debugging improvements
  src/features/expressions/index.ts
Labels: kind/bug

#824 Fetch PDF format from backend
  src/features/pdf/AutomaticPDFLayout.tsx
  src/features/pdf/PDFView.tsx
  src/features/pdf/index.d.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/product-feature

#835 List component: Using responsive/mobile table
  package.json
  schemas/json/layout/layout.schema.v1.json
  src/layout/List/ListComponent.test.tsx
  src/layout/List/ListComponent.tsx
  src/layout/List/types.d.ts
  test/e2e/integration/app-frontend/mobile.ts
  yarn.lock
Labels: external-contribution-❤️, kind/product-feature

#843 List component: Cypress test for search/mapping feature
  test/e2e/integration/app-frontend/list-component.ts
  test/e2e/pageobjects/datalist.ts
Labels: external-contribution-❤️, kind/other, ignore-for-release

#851 WCAG: Fix screen reader issues with FileUpload
  src/features/form/components/Label.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/shared/DropzoneComponent.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/FileUploadWithTag/FileListComponent.tsx
Labels: kind/bug

#852 Replace all instances of `AltinnButton` with design system buttons
  src/components/AltinnButton.tsx
  src/components/AltinnPopover.tsx
  src/components/shared/index.ts
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/features/instantiate/containers/InstanceSelection.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  test/e2e/fixtures/texts.json
  test/e2e/integration/app-frontend/attachments-in-group.ts
  test/e2e/integration/app-frontend/calculate-page-order.ts
  test/e2e/integration/app-frontend/formatting.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/mobile.ts
  test/e2e/integration/app-frontend/options.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/integration/app-stateless-anonymous/validation.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/navigation.ts
Labels: kind/other

#854 Fixed many issues with different modes of repeating groups
  src/features/form/containers/GroupContainer.tsx
  src/features/form/containers/RepeatingGroupTable.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
Labels: kind/bug

#855 Remove old design system dependency and import css directly
  package.json
  src/index.css
  src/styles/tjenester3.css
  yarn.lock
Labels: kind/other

#864 WCAG: AltinnSpinner should accessibile and validation errors onBlur should be informative
  src/components/AltinnSpinner.test.tsx
  src/components/AltinnSpinner.tsx
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/bug

#860 WCAG: Focus states
  src/components/atoms/AltinnAttachment.tsx
  src/components/organisms/AltinnAppHeaderMenu.tsx
  src/components/presentation/CloseButton.tsx
  src/components/presentation/NavBar.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/index.css
  src/layout/NavigationBar/NavigationBarComponent.tsx
Labels: kind/bug

#861 Expressions optimization and streamlining
  src/App.tsx
  src/components/summary/GroupInputSummary.tsx
  src/components/summary/SummaryComponent.tsx
  src/components/summary/SummaryComponentSwitch.tsx
  src/components/summary/SummaryGroupComponent.test.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/components/summary/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/features/expressions/ExprContext.ts
  src/features/expressions/index.test.ts
  src/features/expressions/index.ts
  src/features/expressions/shared.test.ts
  src/features/expressions/types.ts
  src/features/expressions/useExpressions.test.tsx
  src/features/expressions/useExpressions.ts
  src/features/expressions/validation.test.ts
  src/features/expressions/validation.ts
  src/features/form/containers/AltinnMobileTableItem.tsx
  src/features/form/containers/DisplayGroupContainer.tsx
  src/features/form/containers/GroupContainer.test.tsx
  src/features/form/containers/GroupContainer.tsx
  src/features/form/containers/RepeatingGroupTable.tsx
  src/features/form/containers/RepeatingGroupTableRow.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.test.tsx
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
  src/features/form/containers/RepeatingGroupsTable.test.tsx
  src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/features/form/layout/fetch/fetchFormLayoutSagas.ts
  src/features/pdf/AutomaticPDFLayout.tsx
  src/features/pdf/PDFView.tsx
  src/index.tsx
  src/layout/GenericComponent.test.tsx
  src/layout/GenericComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
  src/layout/Panel/PanelGroupContainer.test.tsx
  src/layout/Panel/PanelGroupContainer.tsx
  src/testUtils.tsx
  src/utils/formLayout.ts
  src/utils/layout/ExprContext.tsx
  src/utils/layout/hierarchy.test.ts
  src/utils/layout/hierarchy.ts
  src/utils/layout/hierarchy.types.d.ts
  src/utils/layout/useLayoutsAsNodes.test.tsx
  src/utils/layout/useLayoutsAsNodes.ts
  src/utils/validation/validation.test.ts
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/product-feature

#866 WCAG: Input purpose/autocomplete property
  .prettierignore
  schemas/json/layout/layout.schema.v1.json
  src/layout/Address/AddressComponent.tsx
  src/layout/Input/InputComponent.tsx
  src/layout/Input/types.d.ts
  src/layout/TextArea/TextAreaComponent.tsx
  src/layout/TextArea/types.d.ts
  src/types/shared.ts
Labels: kind/product-feature

#877 Expression schema: Fixing overlapping type reference
  schemas/json/layout/expression.schema.v1.json
Labels: kind/bug

#875 Paragraphs were shown as empty fields in summary
  src/components/summary/SummaryComponent.tsx
  src/components/summary/SummaryComponentSwitch.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/features/pdf/AutomaticPDFLayout.tsx
  src/features/pdf/CustomPDFLayout.tsx
  src/layout/AttachmentList/index.tsx
  src/layout/Button/index.tsx
  src/layout/Header/HeaderSummary.tsx
  src/layout/Header/index.tsx
  src/layout/Image/index.tsx
  src/layout/InstanceInformation/index.tsx
  src/layout/InstantiationButton/index.tsx
  src/layout/LayoutComponent.ts
  src/layout/NavigationBar/index.tsx
  src/layout/NavigationButtons/index.tsx
  src/layout/Panel/index.tsx
  src/layout/Paragraph/index.tsx
  src/layout/PrintButton/index.tsx
  src/layout/index.ts
Labels: kind/bug

#879 Repeating groups: Exclude non-form components from table header
  src/features/form/containers/RepeatingGroupTable.tsx
Labels: kind/product-feature
