Repository Altinn/app-frontend-react, pull requests merged in 2023-11, with the labels that each got.

#1635 fix: sort options based on their value not text resource key
  src/features/options/useGetOptions.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/sort-order.ts
Labels: kind/bug

#1631 Remove redudant filter functionality that hidden-expression covers
  src/features/layout/repGroups/initRepeatingGroupsSaga.ts
  src/layout/Group/GroupContainer.tsx
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/RepeatingGroupsEditContainer.tsx
  src/layout/Group/config.ts
  src/layout/Group/hierarchy.ts
  src/utils/formLayout.ts
  src/utils/layout/hierarchy.test.ts
Labels: quality/debt, kind/breaking-change

#1610 Feat/1609 date format dynamic expression function
  package.json
  schemas/json/layout/expression.schema.v1.json
  src/features/expressions/index.test.ts
  src/features/expressions/index.ts
  src/features/expressions/shared-tests/functions/formatDate/formats-date-in-format-specified.json
  src/features/expressions/shared-tests/functions/formatDate/formats-date.json
  src/features/expressions/shared-tests/functions/formatDate/formats-time-in-format-specified.json
  src/globalSetup.ts
  src/setupTests.ts
  src/utils/dateHelpers.ts
  src/utils/formatDateLocale.test.ts
  src/utils/formatDateLocale.ts
Labels: kind/product-feature

#1611 Store options metadata in datamodel (v3)
  src/codegen/Common.ts
  src/codegen/ComponentConfig.ts
  src/codegen/dataTypes/GenerateComponentLike.ts
  src/features/options/fetch/fetchOptionsSagas.test.ts
  src/features/options/fetch/fetchOptionsSagas.ts
  src/layout/Checkboxes/config.ts
  src/layout/Dropdown/config.ts
  src/layout/Likert/config.ts
  src/layout/MultipleSelect/config.ts
  src/layout/RadioButtons/config.ts
  src/types/index.ts
  src/utils/network/networking.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/product-feature

#1645 Chore/1491 remove tracks functionality
  src/__mocks__/uiConfigStateMock.ts
  src/codegen/Common.ts
  src/components/message/ErrorReport.tsx
  src/components/presentation/Header.test.tsx
  src/components/wrappers/Presentation.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/expressions/ExprContext.ts
  src/features/layout/fetch/fetchFormLayoutSagas.test.ts
  src/features/layout/fetch/fetchFormLayoutSagas.ts
  src/features/layout/formLayoutSlice.test.ts
  src/features/layout/formLayoutSlice.ts
  src/features/layout/formLayoutTypes.ts
  src/features/layout/update/updateFormLayoutSagas.test.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/hooks/usePdfPage.ts
  src/layout/Group/RepeatingGroupsTable.test.tsx
  src/layout/Group/SummaryGroupComponent.test.tsx
  src/layout/Likert/RepeatingGroupsLikertContainerTestUtils.tsx
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.test.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/layout/index.ts
  src/selectors/getLayoutOrder.test.ts
  src/selectors/getLayoutOrder.ts
  src/types/index.ts
  src/utils/formLayout.ts
  src/utils/layout/ExprContext.tsx
  src/utils/layout/LayoutPage.ts
  src/utils/urls/appUrlHelper.test.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/frontend-test/auto-save-behavior.ts
  test/e2e/integration/frontend-test/calculate-page-order.ts
  test/e2e/integration/frontend-test/page-order-with-dynamics.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/breaking-change

#1642 Attachmentlist config
  src/components/atoms/AltinnAttachment.tsx
  src/features/confirm/containers/ConfirmPage.tsx
  src/features/receipt/ReceiptContainer.test.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/layout/AttachmentList/AttachmentListComponent.test.tsx
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/layout/AttachmentList/config.ts
  src/layout/FileUpload/FileUploadTable/AttachmentFileName.tsx
  src/selectors/dataTypes.ts
  src/types/shared.ts
  src/utils/attachmentsUtils.test.ts
  src/utils/attachmentsUtils.ts
  test/e2e/support/customReceipt.ts
Labels: kind/breaking-change, fe-v4

#1649 Fix: Language Selector Not Updating Text Resources Correctly
  src/hooks/queries/useGetTextResourcesQuery.ts
  test/e2e/integration/frontend-test/components.ts
Labels: kind/bug

#1654 Fix checkbox label alignment
  src/layout/Checkboxes/CheckboxesContainerComponent.module.css
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
Labels: kind/bug, ignore-for-release

#1651 Remove global box-sizing: border-box
  src/components/AltinnAppHeader.module.css
  src/components/altinnAppHeader.tsx
  src/components/form/RadioButton.module.css
  src/components/form/RadioButton.tsx
  src/components/molecules/DeleteWarningPopover.module.css
  src/components/molecules/DeleteWarningPopover.tsx
  src/components/organisms/AltinnAppHeader.module.css
  src/components/presentation/Header.module.css
  src/features/instantiate/containers/InstantiationContainer.module.css
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/Grid/Grid.module.css
  src/layout/Group/RepeatingGroup.module.css
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/styles/tjenester3.css
Labels: kind/other, ignore-for-release

#1659 Adding `jest-preview`
  jest.config.js
  package.json
  src/__mocks__/fileMock.ts
  src/setupTests.ts
  src/test/jestTools/transformCss.js
  src/test/jestTools/transformFile.js
  template.env
  yarn.lock
Labels: kind/other, ignore-for-release

#1656 Fix/attachmentlist + refactor
  src/components/atoms/AltinnAttachment.module.css
  src/components/atoms/AltinnAttachment.tsx
  src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/features/confirm/containers/ConfirmPage.test.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/AttachmentList/AttachmentListComponent.test.tsx
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/selectors/dataTypes.ts
  src/utils/attachmentsUtils.ts
  test/e2e/fixtures/texts.json
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/message.ts
  test/e2e/support/customReceipt.ts
Labels: kind/bug, kind/breaking-change, fe-v4

#1662 Fix: alertOnChange bugs
  src/components/form/RadioButton.tsx
  src/components/molecules/DeleteWarningPopover.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.module.css
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Checkboxes/WrappedCheckbox.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  test/e2e/integration/frontend-test/components.ts
Labels: kind/bug

#1671 The `<Lang />` component to replace `useLanguage()`
  src/__mocks__/getLogoMock.ts
  src/components/LandmarkShortcuts.tsx
  src/components/altinnAppHeader.test.tsx
  src/components/altinnAppHeader.tsx
  src/components/altinnError.tsx
  src/components/molecules/AltinnSubstatusPaper.tsx
  src/components/organisms/AltinnAppHeader.test.tsx
  src/components/organisms/AltinnAppHeader.tsx
  src/components/organisms/AltinnAppHeaderMenu.tsx
  src/components/presentation/Presentation.tsx
  src/core/loading/Loader.test.tsx
  src/core/loading/Loader.tsx
  src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/features/instantiate/containers/UnknownError.test.tsx
  src/features/instantiate/containers/UnknownError.tsx
  src/features/language/Lang.test.tsx
  src/features/language/Lang.tsx
  src/features/language/LanguageProvider.tsx
  src/features/language/useLanguage.ts
  src/test/renderWithProviders.tsx
Labels: kind/bug
