Repository Altinn/app-frontend-react, pull requests merged in 2023-03, with the labels that each got.

#959 Rename data type to "organization" to match data in store
  src/shared/components/altinnAppHeader.test.tsx
  src/shared/components/altinnAppHeader.tsx
  src/types/shared.ts
Labels: external-contribution-❤️

#966 error-report fix
  src/components/message/ErrorReport.tsx
  src/features/customReceipt/containers/CustomReceipt.tsx
  src/features/form/containers/Form.tsx
  test/e2e/integration/app-frontend/validation.ts
Labels: kind/bug, area/accessibility

#956 Add getTextResourceAsString to headers in listcomponent
  src/layout/List/ListComponent.tsx
Labels: external-contribution-❤️

#969 Use resolved node in summary switch
  src/components/summary/SummaryComponent.tsx
  src/components/summary/SummaryComponentSwitch.tsx
Labels: kind/bug

#973 Fix component expression not finding "distant" components
  src/features/expressions/index.ts
  src/features/expressions/shared-tests/functions/component/distant-across-page.json
  src/features/expressions/shared-tests/functions/component/distant.json
Labels: kind/bug

#977 Fixing `multipart-save` flakyness
  test/e2e/integration/app-frontend/multipart-save.ts
Labels: kind/bug, ignore-for-release

#983 Change line height in empty summary to match size
  src/components/summary/SingleInputSummary.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/layout/FileUpload/AttachmentSummaryComponent.tsx
  src/layout/FileUploadWithTag/AttachmentWithTagSummaryComponent.tsx
  src/layout/Map/MapComponentSummary.tsx
Labels: ignore-for-release

#988 Update dependency digdir/designsystem
  package.json
  test/e2e/pageobjects/app-frontend.ts
  yarn.lock
Labels: ignore-for-release

#971 Attachment with tag container, replaced button from material ui with design system
  package.json
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  yarn.lock
Labels: kind/bug, area/designsystem

#998 Updated altinn-design-system dependency to the latest version.
  package.json
  yarn.lock
Labels: kind/dependencies

#1006 Selected Language stored in localstorage should be saved per user
  src/__mocks__/initialStateMock.ts
  src/__mocks__/profileStateMock.ts
  src/components/hooks/useDelayedSavedState.ts
  src/components/presentation/LanguageSelector.tsx
  src/components/presentation/NavBar.test.tsx
  src/features/instantiate/containers/InstantiateContainer.test.tsx
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/selectors/appLanguageStateSelector.test.ts
  src/selectors/appLanguageStateSelector.ts
  src/shared/components/altinnParty.test.tsx
  src/shared/components/altinnPartySearch.test.tsx
  src/shared/resources/language/fetch/fetchLanguageSagas.test.ts
  src/shared/resources/language/fetch/fetchLanguageSagas.ts
  src/shared/resources/language/languageSlice.ts
  src/shared/resources/profile/index.d.ts
  src/shared/resources/profile/profileSlice.test.ts
  src/shared/resources/profile/profileSlice.ts
  src/shared/resources/textResources/fetch/fetchTextResourcesSagas.test.ts
  src/shared/resources/textResources/fetch/fetchTextResourcesSagas.ts
  src/testUtils.tsx
Labels: external-contribution-❤️

#1014 Cypress: Multiple users and basic signing test
  .github/workflows/cypress.yml
  test/README.md
  test/e2e/config/at21.json
  test/e2e/config/at22.json
  test/e2e/config/local.json
  test/e2e/config/tt02.json
  test/e2e/integration/app-frontend/prefill.ts
  test/e2e/integration/app-stateless-anonymous/anonymous.ts
  test/e2e/integration/app-stateless-anonymous/options.ts
  test/e2e/integration/app-stateless-anonymous/validation.ts
  test/e2e/integration/app-stateless/stateless.ts
  test/e2e/integration/signing/double-signing.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/auth.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/other

#941 Replace checkboxes and radiobuttons with new components from the design system
  package.json
  src/features/form/components/Legend.tsx
  src/index.css
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/GenericComponent.tsx
  src/layout/Likert/GroupContainerLikert.test.tsx
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/layout/Likert/LikertComponent.module.css
  src/layout/Likert/LikertComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
  src/layout/RadioButtons/StyledRadio.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/layout/index.ts
  src/styles/tjenester3.css
  src/testUtils.tsx
  src/types/index.ts
  test/e2e/integration/app-frontend/attachments-in-group.ts
  test/e2e/integration/app-frontend/calculate-page-order.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/dynamics.ts
  test/e2e/integration/app-frontend/formatting.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/mobile.ts
  test/e2e/integration/app-frontend/multipart-save.ts
  test/e2e/integration/app-frontend/options.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/pageobjects/likert.ts
  test/e2e/support/navigation.ts
  yarn.lock
Labels: kind/dependencies, kind/other

#1024 Fix custom receipt not showing the correct layout
  src/features/customReceipt/containers/CustomReceipt.tsx
  src/features/receipt/containers/ReceiptContainer.test.tsx
Labels: kind/bug

#1030 Added minimum width to language selector
  src/components/presentation/LanguageSelector.tsx
Labels: kind/bug

#1027 Added test case for custom receipt
  test/e2e/integration/app-frontend/receipt.ts
  test/e2e/support/customReceipt.ts
Labels: kind/other

#1036 Should be able to use expressions to hide rows within group
  schemas/json/layout/layout.schema.v1.json
  src/components/summary/SummaryGroupComponent.tsx
  src/features/expressions/index.ts
  src/features/form/containers/GroupContainer.tsx
  src/features/form/containers/RepeatingGroupTable.tsx
  src/features/form/dynamics/conditionalRendering/conditionalRenderingSagas.ts
  src/layout/Group/types.d.ts
  src/utils/layout/hierarchy.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/integration/app-frontend/multipart-save.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/user-story

#1050 Added null check for textResourceBindings.title in `SummaryItemCompact`
  src/components/summary/SummaryItemCompact.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/GenericComponent.tsx
  src/layout/List/ListComponent.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
  src/layout/index.ts
  src/layout/layout.d.ts
  src/types/index.ts
  src/utils/formComponentUtils.ts
Labels: kind/bug

#1025 Cleanup in node hiearchy, new utility functions
  src/components/summary/SummaryComponent.tsx
  src/components/summary/SummaryGroupComponent.tsx
  src/features/expressions/index.ts
  src/features/expressions/shared.test.ts
  src/features/form/containers/AltinnMobileTableItem.tsx
  src/features/form/containers/GroupContainer.tsx
  src/features/form/containers/RepeatingGroupTable.tsx
  src/features/form/containers/RepeatingGroupTableRow.tsx
  src/features/pdf/PDFView.tsx
  src/features/pdf/data/generatePdfSagas.ts
  src/layout/Button/GoToTaskButton.tsx
  src/layout/GenericComponent.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
  src/layout/Map/MapComponentSummary.tsx
  src/layout/index.ts
  src/setupTests.ts
  src/utils/layout/ExprContext.tsx
  src/utils/layout/hierarchy.test.ts
  src/utils/layout/hierarchy.ts
  src/utils/layout/hierarchy.types.d.ts
  src/utils/validation/runClientSideValidation.ts
  src/utils/validation/validation.ts
Labels: kind/other, ignore-for-release

#1041 997 wcag issues with file attachment with tag
  src/index.css
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/FileUploadWithTag/FileListComponent.module.css
  src/layout/FileUploadWithTag/FileListComponent.tsx
  test/e2e/integration/app-frontend/group.ts
  test/e2e/support/app-frontend.ts
Labels: kind/bug, area/accessibility

#1059 Add a simple null check to validation code
  src/utils/validation/validation.ts
Labels: external-contribution-❤️

#1061 Fix group panel schema
  schemas/json/layout/layout.schema.v1.json
Labels: ignore-for-release

#1063 Fixing flaky cypress tests, stale data use when clicking checkboxes/radios very quickly
  package.json
  src/components/hooks/useDelayedSavedState.test.tsx
  src/components/hooks/useDelayedSavedState.ts
  test/e2e/integration/app-frontend/attachments-in-group.ts
  test/e2e/integration/app-frontend/calculate-page-order.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/dynamics.ts
  test/e2e/integration/app-frontend/formatting.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/integration/app-frontend/list-component.ts
  test/e2e/integration/app-frontend/mobile.ts
  test/e2e/integration/app-frontend/multipart-save.ts
  test/e2e/integration/app-frontend/on-entry.ts
  test/e2e/integration/app-frontend/options.ts
  test/e2e/integration/app-frontend/prefill.ts
  test/e2e/integration/app-frontend/print-button.ts
  test/e2e/integration/app-frontend/receipt.ts
  test/e2e/integration/app-frontend/reportee-selection.ts
  test/e2e/integration/app-frontend/rules.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-frontend/texts.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/integration/app-frontend/wcag.ts
  test/e2e/integration/app-stateless-anonymous/validation.ts
  test/e2e/integration/app-stateless/feedback.ts
  test/e2e/integration/app-stateless/receipt.ts
  test/e2e/integration/app-stateless/stateless.ts
  test/e2e/pageobjects/likert.ts
  test/e2e/support/app-frontend.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
  test/e2e/support/navigation.ts
  yarn.lock
Labels: kind/bug

#1056 Fixing bug causing repeating group table to be hidden
  src/features/form/containers/RepeatingGroupTable.tsx
  test/e2e/integration/app-frontend/group.ts
Labels: kind/bug

#1069 Ensure to hide rows regardless of the edit mode if the "hiddenRow" expression evaluates to true.
  src/features/form/containers/RepeatingGroupsEditContainer.tsx
Labels: kind/bug
