Repository Altinn/app-frontend-react, pull requests merged in 2023-05, with the labels that each got.

#1067 Bug/989 timing issue regarding updating data stateless app
  src/features/formData/formDataSlice.ts
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/formData/update/updateFormDataSagas.test.ts
  src/features/formData/update/updateFormDataSagas.ts
  src/features/layout/update/updateFormLayoutSagas.test.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  test/e2e/integration/app-stateless-anonymous/anonymous.ts
Labels: kind/bug

#1128 Ensure to use the profile or selectedAppLanguage when format the dates
  src/features/formData/update/updateFormDataSagas.ts
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Datepicker/index.tsx
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/utils/dateHelpers.test.ts
  src/utils/dateHelpers.ts
  src/utils/validation/runClientSideValidation.ts
  src/utils/validation/validation.test.ts
  src/utils/validation/validation.ts
Labels: kind/bug

#1129 Grid rows in repeating group table (aka. sum footer row)
  schemas/json/layout/layout.schema.v1.json
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/hierarchy.ts
  src/layout/Grid/index.tsx
  src/layout/Group/GroupContainer.test.tsx
  src/layout/Group/GroupContainer.tsx
  src/layout/Group/GroupContainerTestUtills.tsx
  src/layout/Group/GroupRenderer.tsx
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/hierarchy.ts
  src/layout/Group/types.d.ts
  src/layout/Input/index.tsx
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/utils/layout/hierarchy.ts
  src/utils/layout/hierarchy.types.d.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
Labels: kind/product-feature

#1130 fix font-size in errorReport + material-ui to css-modules
  src/components/message/ErrorReport.module.css
  src/components/message/ErrorReport.tsx
Labels: kind/other

#1131 Policy editor in developer tools
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.module.css
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.module.css
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.tsx
Labels: kind/other

#1133 Allow rich text in helptext for paragraph and image components
  src/layout/Image/ImageComponent.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
Labels: kind/bug

#1134 Render components as a summary by adding "renderAsSummary: true".
  schemas/json/layout/layout.schema.v1.json
  src/layout/GenericComponent.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/layout/layout.d.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/user-story

#1135 Fix `smartLowerCaseFirst()` crashing
  src/utils/formComponentUtils.test.ts
  src/utils/formComponentUtils.ts
Labels: kind/bug

#1137 Fix the simple group with panel design
  src/components/form/Form.module.css
  src/components/form/Form.tsx
  src/components/form/FullWidthWrapper.module.css
  src/components/form/FullWidthWrapper.tsx
  src/features/receipt/CustomReceipt.module.css
  src/features/receipt/CustomReceipt.tsx
  src/layout/Group/GroupRenderer.tsx
  src/layout/Panel/CustomPanelIcon.tsx
  src/layout/Panel/Panel.module.css
  src/layout/Panel/PanelComponent.tsx
  src/layout/Panel/PanelGroupContainer.tsx
  src/layout/Panel/PanelReferenceGroupContainer.test.tsx
  src/layout/Panel/PanelReferenceGroupContainer.tsx
Labels: kind/bug

#1139 Fix: Confirm button spam
  src/__mocks__/processMock.ts
  src/features/confirm/components/ConfirmButton.tsx
  src/features/process/index.d.ts
  src/features/process/processSlice.ts
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/Button/ButtonComponent.tsx
  src/layout/Button/WrappedButton.module.css
  src/layout/Button/WrappedButton.tsx
Labels: kind/bug

#1145 Quickfix for checkbox/radio font size change from the design system
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: kind/bug

#1154 Reintroduce panel body to panel groups that use children
  src/layout/Panel/Panel.module.css
  src/layout/Panel/PanelGroupContainer.test.tsx
  src/layout/Panel/PanelGroupContainer.tsx
Labels: kind/bug

#1159 Non-repeating group panel body fix for grid components
  src/layout/Panel/Panel.module.css
  src/layout/Panel/PanelGroupContainer.tsx
Labels: kind/bug

#1157 Fixing sorting of active instance list
  src/hooks/queries/useActiveInstancesQuery.ts
  test/e2e/integration/app-frontend/on-entry.ts
Labels: kind/bug

#1163 Compacting the number formatting configuration + schema tests
  package.json
  schemas/json/layout/expression.schema.v1.json
  schemas/json/layout/layout.schema.v1.json
  src/hooks/useMapToReactNumberConfig.ts
  src/layout/layout.d.ts
  src/utils/formattingUtils.test.ts
  src/utils/formattingUtils.ts
  src/utils/layout/getAllLayoutSets.ts
  src/utils/layout/schema.test.ts
  test/e2e/integration/app-frontend/formatting.ts
  tsconfig.json
Labels: kind/product-feature

#1158 Markdown/text formatting support in Grid cells + nesting fix
  src/components/form/MessageBanner.tsx
  src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/features/language/languageSlice.test.ts
  src/hooks/useLanguage.ts
  src/language/languages.ts
  src/language/sharedLanguage.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Address/AddressLabel.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/List/ListComponent.test.tsx
  src/layout/List/ListComponent.tsx
  src/types/shared.ts
  src/utils/textResource.ts
  src/utils/validation/validation.ts
  test/e2e/integration/app-frontend/grid.ts
Labels: kind/bug, org/ssb

#1166 Bugfixed undesirable jumping to the first field in a repeating group
  src/layout/Group/GroupContainer.tsx
Labels: kind/bug

#1160 Fix behavior of display "save and open next"-button when some rows are hidden
  src/layout/Group/GroupContainer.tsx
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/RepeatingGroupsEditContainer.test.tsx
  src/layout/Group/RepeatingGroupsEditContainer.tsx
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#1168 Minor cleanup in repeating groups + fixing flaky cypress test
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/layout/Group/GroupContainer.tsx
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/RepeatingGroupsEditContainer.test.tsx
  src/layout/Group/RepeatingGroupsEditContainer.tsx
  src/layout/Group/RepeatingGroupsTable.test.tsx
Labels: kind/bug

#1174 DevTools: Frontend version switcher
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/components/VersionSwitcher/VersionSwitcher.tsx
  src/utils/urls/appUrlHelper.ts
Labels: kind/other

#1183 Feat/1116 support iframe to render html
  schemas/json/layout/layout.schema.v1.json
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Iframe/IFrameComponent.tsx
  src/layout/Iframe/index.tsx
  src/layout/Iframe/types.d.ts
  src/layout/index.ts
  src/layout/layout.d.ts
  test/e2e/integration/app-stateless-anonymous/anonymous.ts
Labels: kind/feature-request

#1185 Grid/`rowsBefore`/`rowsAfter`: Resolving text resource bindings inside repeating groups
  src/layout/Grid/hierarchy.ts
  src/layout/Group/hierarchy.ts
  src/utils/layout/HierarchyGenerator.ts
  src/utils/layout/hierarchy.ts
  test/e2e/integration/app-frontend/grid.ts
Labels: kind/bug, org/ssb

#1190 Validations: Hiding validations for hidden components (JsonSchema edition)
  src/utils/validation/validation.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/integration/app-stateless-anonymous/validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug, org/ssb

#1189 Feature: Link component
  schemas/json/layout/layout.schema.v1.json
  src/layout/ButtonGroup/ButtonGroupComponent.tsx
  src/layout/Link/LinkComponent.test.tsx
  src/layout/Link/LinkComponent.tsx
  src/layout/Link/index.tsx
  src/layout/Link/types.d.ts
  src/layout/index.ts
  src/layout/layout.d.ts
Labels: kind/product-feature

#1201 Quickfix: Panel in PDF
  src/components/form/FullWidthWrapper.module.css
Labels: kind/bug

#1198 Refactoring `updateRepeatingGroups`
  src/components/message/ErrorReport.tsx
  src/features/dynamics/formDynamicsSlice.ts
  src/features/layout/fileUpload/mapFileUploaderWithTagSaga.ts
  src/features/layout/fileUpload/updateFileUploaderWithTagChosenOptionsSaga.ts
  src/features/layout/fileUpload/updateFileUploaderWithTagEditIndexSaga.ts
  src/features/layout/fileUpload/watchMapFileUploaderWithTagSaga.ts
  src/features/layout/formLayoutSlice.ts
  src/features/layout/formLayoutTypes.ts
  src/features/layout/repGroups/initRepeatingGroupsSaga.ts
  src/features/layout/repGroups/repGroupAddRowSaga.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.test.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.ts
  src/features/layout/repGroups/updateRepeatingGroupEditIndexSaga.ts
  src/features/layout/update/updateFormLayoutSagas.test.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/features/textResources/replace/replaceTextResourceSagas.test.ts
  src/features/textResources/replace/replaceTextResourcesSagas.ts
  src/features/textResources/textResourcesSlice.ts
  src/layout/Group/GroupContainer.test.tsx
  src/layout/Group/GroupContainer.tsx
  src/layout/Panel/PanelReferenceGroupContainer.tsx
Labels: kind/other

#1200 Added grouping indicator to non-repeating group
  schemas/json/layout/layout.schema.v1.json
  src/features/pdf/PDFView.tsx
  src/features/pdf/data/generatePdfSagas.ts
  src/layout/Group/DisplayGroupContainer.module.css
  src/layout/Group/DisplayGroupContainer.tsx
  src/layout/Group/GroupRenderer.tsx
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Group/types.d.ts
  src/layout/Summary/SummaryComponent.tsx
Labels: kind/product-feature

#1209 New functions to expressions
  src/features/expressions/index.ts
  src/features/expressions/shared-tests/functions/commaContains/should-include-word-in-string.json
  src/features/expressions/shared-tests/functions/commaContains/should-not-include-word-in-string.json
  src/features/expressions/shared-tests/functions/commaContains/string-list-include-number.json
  src/features/expressions/shared-tests/functions/contains/case-sensitivity.json
  src/features/expressions/shared-tests/functions/contains/exact-match.json
  src/features/expressions/shared-tests/functions/contains/not-match.json
  src/features/expressions/shared-tests/functions/contains/partial-match.json
  src/features/expressions/shared-tests/functions/endsWith/case-sensitivity.json
  src/features/expressions/shared-tests/functions/endsWith/ends-with-number.json
  src/features/expressions/shared-tests/functions/endsWith/ends-with.json
  src/features/expressions/shared-tests/functions/endsWith/exact-match.json
  src/features/expressions/shared-tests/functions/endsWith/not-ends-with.json
  src/features/expressions/shared-tests/functions/endsWith/number-ends-with-number.json
  src/features/expressions/shared-tests/functions/language/should-return-selected-language.json
  src/features/expressions/shared-tests/functions/lowerCase/lowercase-number-should-return-string.json
  src/features/expressions/shared-tests/functions/lowerCase/should-lowercase-string.json
  src/features/expressions/shared-tests/functions/lowerCase/should-lowercase-whole-string.json
  src/features/expressions/shared-tests/functions/lowerCase/should-lowercase-whole-word.json
  src/features/expressions/shared-tests/functions/notContains/case-sensitivity.json
  src/features/expressions/shared-tests/functions/notContains/exact-match.json
  src/features/expressions/shared-tests/functions/notContains/not-match.json
  src/features/expressions/shared-tests/functions/round/nearest-integer-with-decimal-as-strings.json
  src/features/expressions/shared-tests/functions/round/nearest-integer-with-decimal.json
  src/features/expressions/shared-tests/functions/round/nearest-integer.json
  src/features/expressions/shared-tests/functions/round/round-negative-number.json
  src/features/expressions/shared-tests/functions/round/round-strings.json
  src/features/expressions/shared-tests/functions/startsWith/case-sensitivity.json
  src/features/expressions/shared-tests/functions/startsWith/exact-match.json
  src/features/expressions/shared-tests/functions/startsWith/not-starts-with.json
  src/features/expressions/shared-tests/functions/startsWith/number-starts-with-number.json
  src/features/expressions/shared-tests/functions/startsWith/number-starts-with-string.json
  src/features/expressions/shared-tests/functions/startsWith/start-with-number.json
  src/features/expressions/shared-tests/functions/startsWith/start-with.json
  src/features/expressions/shared-tests/functions/stringLength/empty-string.json
  src/features/expressions/shared-tests/functions/stringLength/length-of-number.json
  src/features/expressions/shared-tests/functions/stringLength/string-length.json
  src/features/expressions/shared-tests/functions/stringLength/whitespace-length.json
  src/features/expressions/shared-tests/functions/text/should-return-key-name-if-key-not-exist.json
  src/features/expressions/shared-tests/functions/upperCase/should-uppercase-string.json
  src/features/expressions/shared-tests/functions/upperCase/should-uppercase-whole-string.json
  src/features/expressions/shared-tests/functions/upperCase/should-uppercase-whole-word.json
  src/features/expressions/shared-tests/functions/upperCase/uppercase-number-should-return-string.json
Labels: kind/feature-request, area/logic

#1206 Bug: Fix label for Likert table
  src/layout/Likert/GroupContainerLikert.test.tsx
  src/layout/Likert/GroupContainerLikertTestUtils.tsx
  src/layout/Likert/LikertComponent.tsx
Labels: external-contribution-❤️, kind/bug

#1215 WCAG: Party selection buttons
  src/components/altinnParty.tsx
  src/layout/Group/DisplayGroupContainer.tsx
Labels: kind/bug, area/accessibility

#1207 Add error page and handling for forbidden actions
  src/components/wrappers/ProcessWrapper.tsx
  src/features/confirm/components/ConfirmButton.tsx
  src/features/instantiate/containers/ForbiddenError.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/bug
