Repository Altinn/app-frontend-react, pull requests merged in 2023-04, with the labels that each got.

#1076 Developer Tools MVP
  src/__mocks__/initialStateMock.ts
  src/components/wrappers/ProcessWrapper.tsx
  src/features/devtools/DevTools.module.css
  src/features/devtools/DevTools.tsx
  src/features/devtools/DevToolsPanel.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.module.css
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.module.css
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/features/devtools/data/devToolsSagas.ts
  src/features/devtools/data/devToolsSlice.ts
  src/features/devtools/data/types.d.ts
  src/features/pdf/PDFView.tsx
  src/features/pdf/data/generatePdfSagas.ts
  src/index.tsx
  src/redux/reducers.ts
  src/utils/pdf.ts
Labels: kind/product-feature

#1082 Upgrading eslint-plugin-cypress
  package.json
  test/e2e/integration/app-frontend/calculate-page-order.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/dynamics.ts
  test/e2e/integration/app-frontend/formatting.ts
  test/e2e/integration/app-frontend/group.ts
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  test/e2e/integration/app-frontend/list-component.ts
  test/e2e/integration/app-frontend/multipart-save.ts
  test/e2e/integration/app-frontend/options.ts
  test/e2e/integration/app-frontend/print-button.ts
  test/e2e/integration/app-frontend/rules.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-frontend/tabbing.ts
  test/e2e/integration/app-frontend/texts.ts
  test/e2e/integration/app-frontend/validation.ts
  test/e2e/integration/app-stateless-anonymous/anonymous.ts
  test/e2e/integration/app-stateless/stateless.ts
  test/e2e/support/app-frontend.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
  test/e2e/support/navigation.ts
  yarn.lock
Labels: kind/dependencies, kind/other

#1019 Fix footer styling and remove mocks
  src/features/footer/components/Email/FooterEmail.tsx
  src/features/footer/components/Phone/FooterPhone.tsx
  src/features/footer/components/shared/FooterGenericLink.tsx
  src/features/footer/components/shared/shared.module.css
  test/e2e/integration/app-frontend/footer.ts
  test/e2e/support/footer.ts
Labels: kind/bug

#1087 Fixing the devtools keyboard shortcut
  src/features/devtools/DevTools.tsx
Labels: kind/bug

#1068 Column options for repeating groups
  schemas/json/layout/layout.schema.v1.json
  src/layout/Group/RepeatingGroup.module.css
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/RepeatingGroupTableRow.tsx
  src/layout/Group/types.d.ts
  src/layout/layout.d.ts
  src/styles/tjenester3.css
  src/utils/formComponentUtils.test.ts
  src/utils/formComponentUtils.ts
  test/e2e/integration/app-frontend/group.ts
Labels: kind/product-feature

#1085 Modularizing component hierarchy
  src/features/expressions/shared-tests/context-lists/groups/noData.json
  src/features/expressions/shared-tests/context-lists/groups/oneRow.json
  src/features/expressions/shared-tests/context-lists/groups/twoRows.json
  src/features/expressions/shared-tests/context-lists/nonRepeatingGroups/maxCount0.json
  src/features/expressions/shared-tests/context-lists/nonRepeatingGroups/maxCount1.json
  src/features/expressions/shared-tests/context-lists/nonRepeatingGroups/simple.json
  src/features/expressions/shared-tests/context-lists/recursiveGroups/recursiveNoData.json
  src/features/expressions/shared-tests/context-lists/recursiveGroups/recursiveOneRow.json
  src/features/expressions/shared-tests/context-lists/recursiveGroups/recursiveTwoRowsInner.json
  src/features/expressions/shared-tests/context-lists/recursiveGroups/recursiveTwoRowsOuter.json
  src/features/expressions/shared-tests/context-lists/simple/twoPages.json
  src/features/expressions/shared.test.ts
  src/features/expressions/validation.test.ts
  src/layout/GenericComponent.test.tsx
  src/layout/GenericComponent.tsx
  src/layout/Group/GroupContainer.test.tsx
  src/layout/Group/RepeatingGroupsEditContainer.tsx
  src/layout/Group/hierarchy.ts
  src/layout/Group/index.tsx
  src/layout/Group/types.d.ts
  src/layout/LayoutComponent.tsx
  src/layout/Panel/PanelGroupContainer.test.tsx
  src/layout/Panel/types.d.ts
  src/layout/index.ts
  src/utils/formLayout.ts
  src/utils/layout/HierarchyGenerator.ts
  src/utils/layout/LayoutNode.ts
  src/utils/layout/all.test.ts
  src/utils/layout/getAllLayoutSets.ts
  src/utils/layout/hierarchy.test.ts
  src/utils/layout/hierarchy.ts
  src/utils/layout/hierarchy.types.d.ts
  src/utils/validation/validation.test.ts
  template.env
Labels: kind/other

#1093 Support language selector in PDF
  src/features/process/completeProcessSagas.ts
  src/features/profile/profileSlice.ts
  src/utils/party.ts
  src/utils/urls/appUrlHelper.ts
  src/utils/urls/urlHelper.ts
  test/e2e/integration/app-stateless/feedback.ts
  test/e2e/integration/app-stateless/receipt.ts
Labels: kind/bug

#1046 List component: Fix validation messages
  src/utils/validation/validation.ts
  test/e2e/integration/app-frontend/validation.ts
Labels: external-contribution-❤️, kind/bug

#1058 Set instance receiver using text resource `appReceiver`
  src/features/receipt/ReceiptContainer.test.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/language/sharedLanguage.ts
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/selectors/language.ts
Labels: kind/product-feature

#1099 Fix: `ErrorReport` not updating properly
  src/components/message/ErrorReport.tsx
Labels: kind/bug

#1103 DevTools: Change component properties
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspectorItem.tsx
  src/features/devtools/components/SplitView/SplitView.module.css
  src/features/devtools/components/SplitView/SplitView.tsx
Labels: kind/other

#1102 Added aria-label to edit btn in summary page
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Summary/EditButton.tsx
  src/layout/Summary/SummaryBoilerplate.tsx
Labels: kind/bug, area/accessibility

#1097 Ignore all backend validations that uses the code: "required"
  src/utils/validation/validation.ts
Labels: external-contribution-❤️

#1092 Some cleanup of material ui
  src/components/EditIconButton.module.css
  src/components/EditIconButton.tsx
  src/components/altinnError.module.css
  src/components/altinnError.tsx
  src/components/message/ErrorPaper.module.css
  src/components/message/ErrorPaper.tsx
  src/index.css
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/FileUploadWithTag/FileListComponent.module.css
  src/layout/Group/SummaryGroupComponent.module.css
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Summary/SummaryBoilerplate.module.css
  src/layout/Summary/SummaryBoilerplate.tsx
  src/layout/Summary/SummaryComponent.module.css
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/SummaryItemCompact.module.css
  src/layout/Summary/SummaryItemCompact.tsx
  src/layout/Summary/SummaryItemSimple.module.css
  src/layout/Summary/SummaryItemSimple.tsx
  test/e2e/integration/app-frontend/redirect.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/other

#1108 WCAG/Change structure of summary content
  src/layout/Summary/SummaryBoilerplate.module.css
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/SummaryContent.module.css
  src/layout/Summary/SummaryContent.tsx
  test/e2e/integration/app-frontend/summary.ts
Labels: kind/bug, org/ssb, area/accessibility

#1101 Enable description for checkboxes and radiobuttons
  schemas/json/layout/layout.schema.v1.json
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/types/index.ts
  test/e2e/integration/app-frontend/components.ts
Labels: kind/product-feature

#1115 Progress indicator - Screen Reader
  src/components/presentation/Header.tsx
Labels: kind/user-story, area/accessibility

#1072 WCAG: Update Dropdown and MultipleSelect to use @digdir/designsystem
  package.json
  src/components/Select.tsx
  src/components/presentation/NavBar.test.tsx
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.test.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/setupTests.ts
  src/styles/tjenester3.css
  src/utils/options.ts
  test/e2e/integration/app-frontend/options.ts
  test/e2e/integration/app-frontend/rules.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-stateless-anonymous/options.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  test/e2e/support/navigation.ts
  yarn.lock
Labels: kind/other

#1107 Implemented the first part of Tanstack Query
  package.json
  src/App.test.tsx
  src/App.tsx
  src/contexts/appQueriesContext.tsx
  src/features/applicationMetadata/applicationMetadataSlice.ts
  src/features/applicationMetadata/getApplicationMetadataSaga.ts
  src/features/applicationSettings/applicationSettingsSlice.ts
  src/features/applicationSettings/fetchApplicationSettingsSaga.test.ts
  src/features/applicationSettings/fetchApplicationSettingsSaga.ts
  src/features/entrypoint/Entrypoint.test.tsx
  src/features/entrypoint/Entrypoint.tsx
  src/features/footer/data/fetchFooterLayoutSagas.ts
  src/features/footer/data/footerLayoutSlice.ts
  src/features/instanceData/instanceDataSlice.ts
  src/features/instantiate/containers/InstantiationContainer.tsx
  src/features/instantiate/containers/UnknownError.tsx
  src/features/orgs/fetchOrgsSagas.ts
  src/features/orgs/orgsSlice.ts
  src/features/profile/fetchProfileSagas.ts
  src/features/profile/profileSlice.test.ts
  src/features/profile/profileSlice.ts
  src/features/queue/queueSlice.ts
  src/hooks/mutations/usePartyValidationMutation.ts
  src/hooks/queries/useActiveInstancesQuery.ts
  src/hooks/queries/useApplicationMetadataQuery.ts
  src/hooks/queries/useApplicationSettingsQuery.ts
  src/hooks/queries/useFooterLayoutQuery.ts
  src/hooks/queries/useGetCurrentPartyQuery.ts
  src/hooks/queries/useLayoutSetsQuery.ts
  src/hooks/queries/useOrgsQuery.ts
  src/hooks/queries/useProfileQuery.ts
  src/hooks/queries/useRefreshJwtTokenQuery.ts
  src/hooks/useKeepAlive.ts
  src/hooks/useUpdatePdfState.ts
  src/index.tsx
  src/queries/queries.ts
  src/testUtils.tsx
  src/utils/createStrictContext.ts
  src/utils/network/sharedNetworking.ts
  test/e2e/integration/app-frontend/hide-row-in-group.ts
  yarn.lock
Labels: kind/other

#1118 Grid component
  schemas/json/layout/layout.schema.v1.json
  src/hooks/useCommaSeparatedOptionsToText.ts
  src/layout/Address/index.tsx
  src/layout/AttachmentList/index.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Checkboxes/MultipleChoiceSummary.test.tsx
  src/layout/Checkboxes/MultipleChoiceSummary.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUploadWithTag/index.tsx
  src/layout/GenericComponent.tsx
  src/layout/Grid/Grid.module.css
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/GridSummaryComponent.tsx
  src/layout/Grid/hierarchy.ts
  src/layout/Grid/index.tsx
  src/layout/Grid/tools.ts
  src/layout/Grid/types.d.ts
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Group/index.tsx
  src/layout/Group/types.d.ts
  src/layout/Input/InputComponent.tsx
  src/layout/InstanceInformation/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/index.tsx
  src/layout/List/index.tsx
  src/layout/Map/index.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/NavigationBar/index.tsx
  src/layout/NavigationButtons/index.tsx
  src/layout/Panel/index.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/index.tsx
  src/layout/TextArea/TextAreaComponent.tsx
  src/layout/index.ts
  src/layout/layout.d.ts
  src/utils/formComponentUtils.ts
  src/utils/layout/HierarchyGenerator.ts
  src/utils/layout/hierarchy.types.d.ts
  test/e2e/integration/app-frontend/components.ts
  test/e2e/integration/app-frontend/dynamics.ts
  test/e2e/integration/app-frontend/grid.ts
  test/e2e/integration/app-frontend/summary.ts
  test/e2e/integration/app-frontend/wcag.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/navigation.ts
Labels: kind/product-feature

#1121 Fix/no layout sets
  src/App.tsx
  test/e2e/integration/app-frontend/layout-sets.ts
Labels: kind/bug

#1119 Signing action
  schemas/json/layout/expression.schema.v1.json
  schemas/json/layout/layout.schema.v1.json
  src/__mocks__/initialStateMock.ts
  src/__mocks__/processMock.ts
  src/features/applicationMetadata/index.d.ts
  src/features/confirm/components/ConfirmButton.tsx
  src/features/expressions/ExprContext.ts
  src/features/expressions/index.ts
  src/features/expressions/shared-tests/functions/authContext/read-confirm.json
  src/features/expressions/shared-tests/functions/authContext/read-sign-reject.json
  src/features/expressions/shared-tests/functions/authContext/read-sign.json
  src/features/expressions/shared-tests/functions/authContext/read-write.json
  src/features/expressions/shared.test.ts
  src/features/expressions/shared.ts
  src/features/expressions/validation.test.ts
  src/features/process/checkProcessUpdatedSagas.ts
  src/features/process/completeProcessSagas.ts
  src/features/process/getProcessStateSagas.ts
  src/features/process/getTasksSagas.ts
  src/features/process/index.d.ts
  src/features/process/processSlice.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/ActionButton/ActionButtonComponent.module.css
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/ActionButton/index.tsx
  src/layout/ActionButton/types.d.ts
  src/layout/Button/ButtonComponent.tsx
  src/layout/Button/GoToTaskButton.tsx
  src/layout/index.ts
  src/layout/layout.d.ts
  src/selectors/simpleSelectors.test.ts
  src/types/shared.ts
  src/utils/authContext.ts
  src/utils/layout/all.test.ts
  src/utils/layout/hierarchy.test.ts
  src/utils/layout/hierarchy.ts
  src/utils/validation/validation.test.ts
  test/e2e/integration/signing/double-signing.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/auth.ts
  test/e2e/support/global.d.ts
Labels: kind/product-feature
