Repository Altinn/app-frontend-react, pull requests merged in 2023-09, with the labels that each got.

#1423 Bug fix when using nynorsk in number formatting
  src/utils/formattingUtils.ts
Labels: kind/bug, org/ssb

#1421 Removing unused code
  src/__mocks__/validationStateMock.ts
  src/features/formData/fetch/fetchFormDataSagas.test.ts
  src/features/formData/update/updateFormDataSagas.test.ts
  src/features/layout/repGroups/repGroupDeleteRowSaga.test.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/features/options/getCommaSeparatedOptionsToText.ts
  src/features/options/getOptionList.ts
  src/features/options/getSelectedValueToText.ts
  src/features/profile/index.d.ts
  src/features/textResources/fetch/fetchTextResourcesSagas.test.ts
  src/features/validation/singleFieldValidationSagas.test.ts
  src/features/validation/singleFieldValidationSagas.ts
  src/hooks/useCommaSeparatedOptionsToText.ts
  src/hooks/useSelectedValueToText.ts
  src/layout/Checkboxes/index.tsx
  src/layout/Dropdown/index.tsx
  src/layout/Likert/index.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/layout/Summary/SummaryBoilerplate.tsx
  src/selectors/getLayoutData.test.ts
  src/selectors/getLayoutData.ts
  src/selectors/simpleSelectors.test.ts
  src/selectors/simpleSelectors.ts
  src/testUtils.tsx
  src/types/shared.ts
  src/utils/formLayout.test.ts
  src/utils/formLayout.ts
  src/utils/layout/index.test.tsx
  src/utils/layout/index.tsx
  src/utils/validation/validationHelpers.ts
Labels: kind/other

#1425 Rewriting data model (schema + data) fetching to Tanstack Query
  schemas/json/text-resources/text-resources.schema.v1.json
  src/App.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/datamodel/datamodelSlice.ts
  src/features/datamodel/fetchFormDatamodelSagas.ts
  src/features/datamodel/index.d.ts
  src/features/entrypoint/Entrypoint.test.tsx
  src/features/formData/fetch/fetchFormDataSagas.test.ts
  src/features/formData/fetch/fetchFormDataSagas.ts
  src/features/formData/formDataSlice.ts
  src/features/formData/index.d.ts
  src/features/isLoading/statelessIsLoadingSagas.ts
  src/features/layout/fetch/fetchFormLayoutSagas.ts
  src/features/queue/queueSlice.ts
  src/hooks/mutations/usePartyValidationMutation.ts
  src/hooks/queries/useActiveInstancesQuery.ts
  src/hooks/queries/useApplicationMetadataQuery.ts
  src/hooks/queries/useApplicationSettingsQuery.ts
  src/hooks/queries/useCurrentDataModelSchemaQuery.ts
  src/hooks/queries/useFooterLayoutQuery.ts
  src/hooks/queries/useFormDataQuery.ts
  src/hooks/queries/useGetCurrentPartyQuery.ts
  src/hooks/queries/useGetPartiesQuery.ts
  src/hooks/queries/useLayoutSetsQuery.ts
  src/hooks/queries/useOrgsQuery.ts
  src/hooks/queries/useProfileQuery.ts
  src/hooks/queries/useRefreshJwtTokenQuery.ts
  src/hooks/useDataModelSchema.tsx
  src/queries/queries.ts
  src/selectors/getAllowAnonymous.ts
  src/testUtils.tsx
Labels: kind/other

#1426 Improving Cypress tests for the stateless test-app
  test/e2e/fixtures/texts.json
  test/e2e/integration/stateless-app/feedback.ts
  test/e2e/integration/stateless-app/receipt.ts
  test/e2e/integration/stateless-app/stateless.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
Labels: kind/other, ignore-for-release

#1427 Allow opening instances in new tab when middle-clicked
  src/features/instantiate/containers/InstanceSelection.tsx
Labels: kind/product-feature

#1437 Fix: Do not filter backend validations on submit
  src/features/formData/submit/submitFormDataSagas.ts
  src/utils/validation/backendValidation.ts
Labels: kind/bug

#1430 Small tweaks/fixes to dev tools
  src/features/devtools/components/DownloadXMLButton/DownloadXMLButton.tsx
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.module.css
  src/features/logging.ts
Labels: kind/bug

#1438 Fixing the 'open instance in new tab' functionality to work on Mac
  src/features/instantiate/containers/InstanceSelection.tsx
Labels: kind/bug

#1443 fix: issue with organisation logo not taking the available space
  src/components/presentation/OrganisationLogo/OrganisationLogo.module.css
  src/features/layout/formLayoutSlice.ts
Labels: kind/bug

#1445 Fixing reference for triggers in `layoutSettings.schema.v1.json`
  schemas/json/layout/layoutSettings.schema.v1.json
Labels: kind/bug

#1447 Enabling the `v3` branch, running Cypress tests + renovate on it
  .github/workflows/codeql.yml
  .github/workflows/cypress.yml
  renovate.json
Labels: kind/other, ignore-for-release

#1448 Update font to Inter
  src/index.css
Labels: kind/breaking-change

#1449 Debt: Remove legacy required ValidationIssue filter
  src/utils/validation/backendValidation.test.ts
  src/utils/validation/backendValidation.ts
Labels: quality/debt, kind/breaking-change

#1451 Respect do not prompt for party preference and remove feature toggle
  src/features/devtools/components/FeatureToggles/FeatureToggles.tsx
  src/features/toggles.ts
  src/hooks/useAlwaysPromptForParty.ts
  test/e2e/integration/frontend-test/reportee-selection.ts
Labels: kind/breaking-change

#1455 Fix validation message with tag title (v4)
  src/layout/FileUploadWithTag/index.tsx
Labels: kind/bug

#1454 Fix validation message with tag title (v3)
  src/layout/FileUploadWithTag/index.tsx
Labels: kind/bug

#1441 feat(TextResources): add support for defaultValue in variables in tex…
  schemas/json/text-resources/text-resources.schema.v1.json
  src/hooks/useLanguage.ts
  src/types/shared.ts
Labels: kind/product-feature

#1450 Remove footer feature flag
  src/App.tsx
  src/features/applicationMetadata/index.d.ts
  src/hooks/queries/useFooterLayoutQuery.ts
  src/testUtils.tsx
  test/e2e/integration/frontend-test/footer.ts
Labels: kind/breaking-change

#1466 Show leftColumnHeader in Likert when mobile view
  src/layout/Likert/RepeatingGroupsLikertContainer.test.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: external-contribution-❤️, kind/bug

#1464 feat: add support for a size option in organisation logo
  schemas/json/application/application-metadata.schema.v1.json
  src/components/presentation/OrganisationLogo/OrganisationLogo.module.css
  src/components/presentation/OrganisationLogo/OrganisationLogo.tsx
  src/features/applicationMetadata/index.d.ts
  src/selectors/simpleSelectors.ts
Labels: kind/feature-request

#1465 bash script for purging front door cache
  .github/scripts/purge-frontdoor-cache.sh
Labels: ignore-for-release

#1467 Bytte ut Legacy Radio
  src/components/form/RadioButton.module.css
  src/components/form/RadioButton.test.tsx
  src/components/form/RadioButton.tsx
  src/components/form/RadioGroup.module.css
  src/components/form/RadioGroup.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.test.tsx
  src/layout/Likert/RepeatingGroupsLikertContainerTestUtils.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RadioButtons/RadioButtonsContainerComponent.test.tsx
  test/e2e/integration/anonymous-stateless-app/auto-save-behavior.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/pageobjects/likert.ts
Labels: external-contribution-❤️, kind/bug

#1480 Update readOnly description
  src/codegen/Common.ts
Labels: kind/documentation

#1479 Feat/parse list columns as markdown
  src/layout/List/ListComponent.test.tsx
  src/layout/List/ListComponent.tsx
Labels: kind/product-feature

#1481 fix(AttachmentList): rewrite selectors to use createSelector from 're…
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/layout/List/ListComponent.test.tsx
  src/selectors/dataTypes.ts
Labels: kind/other

#1482 Making sure we don't revert to calling langAsString() when we previou…
  src/components/form/RadioButton.tsx
  src/components/form/RadioGroup.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: kind/bug

#1499 Fixing a missing await in backend introduced a change in the API response
  src/features/attachments/upload/uploadAttachmentSagas.ts
Labels: kind/bug

#1513 fix(RadioGroup): align helptext with label
  src/layout/RadioButtons/ControlledRadioGroup.module.css
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: kind/bug

#1517 Remove unused dependency `@material-ui/icons`
  package.json
  yarn.lock
Labels: quality/debt, kind/other

#1514 Cleanup in sagas, queries
  src/App.tsx
  src/__mocks__/initialStateMock.ts
  src/components/presentation/Header.tsx
  src/components/wrappers/Presentation.tsx
  src/contexts/appQueriesContext.tsx
  src/features/datamodel/useCurrentDataModelSchemaQuery.ts
  src/features/entrypoint/Entrypoint.test.tsx
  src/features/entrypoint/Entrypoint.tsx
  src/features/entrypoint/useStatelessReadyState.ts
  src/features/instantiate/containers/InstantiateContainer.tsx
  src/features/layout/update/updateFormLayoutSagas.ts
  src/features/party/index.d.ts
  src/features/pdf/data/generatePdfSagas.ts
  src/features/queue/index.d.ts
  src/features/queue/infoTask/infoTaskQueueSaga.test.ts
  src/features/queue/infoTask/infoTaskQueueSaga.ts
  src/features/queue/queueSlice.test.ts
  src/features/queue/queueSlice.ts
  src/hooks/mutations/usePartyValidationMutation.ts
  src/hooks/queries/useActiveInstancesQuery.ts
  src/hooks/queries/useApplicationMetadataQuery.ts
  src/hooks/queries/useApplicationSettingsQuery.ts
  src/hooks/queries/useFooterLayoutQuery.ts
  src/hooks/queries/useFormDataQuery.ts
  src/hooks/queries/useGetCurrentPartyQuery.ts
  src/hooks/queries/useGetPartiesQuery.ts
  src/hooks/queries/useLayoutSetsQuery.ts
  src/hooks/queries/useOrgsQuery.ts
  src/hooks/queries/useProfileQuery.ts
  src/hooks/queries/useRefreshJwtTokenQuery.ts
  src/hooks/useLanguage.ts
  src/hooks/useProcess.ts
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
Labels: kind/other

#1518 Replacing most `takeLatest` with `takeEvery`
  src/features/attachments/map/mapAttachmentsSagas.ts
  src/features/dataLists/dataListsSlice.ts
  src/features/dynamics/formDynamicsSlice.ts
  src/features/formData/formDataSlice.ts
  src/features/formRules/rulesSlice.ts
  src/features/instanceData/instanceDataSlice.ts
  src/features/instantiate/instantiation/instantiationSlice.ts
  src/features/layout/fileUpload/watchMapFileUploaderWithTagSaga.ts
  src/features/layout/formLayoutSlice.ts
  src/features/party/partySlice.ts
  src/features/process/processSlice.ts
  src/features/profile/profileSlice.ts
  src/features/queue/queueSlice.ts
  src/features/textResources/fetch/fetchTextResourcesSagas.test.ts
  src/features/textResources/fetch/fetchTextResourcesSagas.ts
  src/features/validation/validationSlice.ts
Labels: kind/bug

#1519 Switch to `-v3` test apps
  test/e2e/fixtures/attachment.json
  test/e2e/integration/anonymous-stateless-app/anonymous.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/layout-sets.ts
  test/e2e/integration/frontend-test/message.ts
  test/e2e/integration/frontend-test/on-entry.ts
  test/e2e/integration/stateless-app/stateless.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/custom.ts
Labels: kind/other

#1527 Fix custom attachment validation message
  src/features/attachments/upload/uploadAttachmentSagas.ts
Labels: kind/bug

#1516 Remove `processActions` feature flag
  src/features/applicationMetadata/index.d.ts
  src/features/confirm/components/ConfirmButton.tsx
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.tsx
  src/layout/Button/ButtonComponent.tsx
Labels: quality/debt, kind/breaking-change
