Repository Altinn/app-frontend-react, pull requests merged in 2023-12, with the labels that each got.

#1670 ParagraphComponent with fallback on <div> if block-level elements
  src/layout/Paragraph/ParagraphComponent.module.css
  src/layout/Paragraph/ParagraphComponent.test.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
Labels: kind/bug, area/accessibility

#1687 Using our own `createContext()` + QoL changes
  src/components/form/Panel.test.tsx
  src/components/form/Panel.tsx
  src/components/form/SoftValidations.test.tsx
  src/core/contexts/context.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorContext.ts
  src/features/devtools/layoutValidation/useLayoutValidation.tsx
  src/features/language/useLanguage.ts
  src/layout/FormComponentContext.tsx
  src/layout/GenericComponent.tsx
  src/layout/Group/RepeatingGroupsFocusContext.tsx
  src/layout/index.ts
  tsconfig.json
Labels: kind/other, ignore-for-release

#1699 fix: bug with scrolling to correct component while also changing page…
  src/layout/GenericComponent.tsx
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/bug

#1694 Feat/133 magic button
  package.json
  src/hooks/useNavigatePage.ts
  src/index.css
  src/index.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/CustomButton/config.ts
  src/layout/CustomButton/index.tsx
  src/layout/CustomButton/typeHelpers.ts
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
  src/types/shared.ts
  src/utils/promisify.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/frontend-test/custom-button.ts
  yarn.lock
Labels: kind/product-feature

#1704 Chore/validation hooks fix navigation
  src/__mocks__/getHierarchyDataSourcesMock.ts
  src/__mocks__/getUiConfigStateMock.ts
  src/components/form/Form.test.tsx
  src/components/form/Form.tsx
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/layoutValidation/all.test.tsx
  src/features/devtools/layoutValidation/useLayoutValidation.tsx
  src/features/expressions/ExprContext.ts
  src/features/form/FormContext.tsx
  src/features/form/layout/LayoutsContext.tsx
  src/features/form/layout/PageNavigationContext.tsx
  src/features/form/layout/formLayoutSlice.ts
  src/features/form/layout/formLayoutTypes.ts
  src/features/form/layout/repGroups/repGroupDeleteRowSaga.test.ts
  src/features/receipt/ReceiptContainer.test.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/features/validation/validationProvider.tsx
  src/hooks/useNavigatePage.ts
  src/hooks/usePdfPage.ts
  src/hooks/useSourceOptions.ts
  src/index.tsx
  src/layout/Group/GroupContainer.tsx
  src/layout/Group/RepeatingGroupsTable.test.tsx
  src/layout/InstantiationButton/InstantiationButton.test.tsx
  src/layout/Likert/RepeatingGroupsLikertContainerTestUtils.tsx
  src/layout/NavigationBar/NavigationBarComponent.test.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.test.tsx
  src/layout/Panel/PanelGroupContainer.test.tsx
  src/layout/Panel/PanelReferenceGroupContainer.test.tsx
  src/layout/Panel/PanelReferenceGroupContainer.tsx
  src/test/renderWithProviders.tsx
  src/test/routerUtils.tsx
  src/types/index.ts
  src/utils/databindings.ts
  src/utils/layout/ExprContext.tsx
  src/utils/layout/LayoutNode.ts
  src/utils/layout/LayoutPage.ts
  src/utils/layout/hierarchy.test.ts
  src/utils/layout/hierarchy.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/bug

#1693 Accessible titles for groups and grid
  src/components/form/Caption.module.css
  src/components/form/Caption.test.tsx
  src/components/form/Caption.tsx
  src/components/form/Description.tsx
  src/components/form/Fieldset.module.css
  src/components/form/Fieldset.test.tsx
  src/components/form/Fieldset.tsx
  src/components/form/Label.tsx
  src/layout/Grid/Grid.module.css
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/config.ts
  src/layout/Group/DisplayGroupContainer.module.css
  src/layout/Group/DisplayGroupContainer.tsx
  src/layout/Group/GroupContainer.module.css
  src/layout/Group/GroupContainer.tsx
  src/layout/Group/RepeatingGroup.module.css
  src/layout/Group/RepeatingGroupTable.tsx
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Group/config.ts
  src/layout/Panel/PanelGroupContainer.test.tsx
  src/layout/Panel/PanelGroupContainer.tsx
  src/layout/Panel/PanelReferenceGroupContainer.tsx
  src/styles/tjenester3.css
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/frontend-test/summary.ts
Labels: kind/product-feature, kind/breaking-change
