Repository Altinn/app-frontend-react, pull requests merged in 2024-03, with the labels that each got.

#1875 fix: setting focus on main content when navigating between tasks. Hid…
  src/components/presentation/Presentation.module.css
  src/components/presentation/Presentation.tsx
  src/core/loading/Loader.tsx
  src/hooks/useNavigatePage.ts
  test/e2e/integration/frontend-test/navigation.ts
Labels: kind/bug

#1884 Fix conflict between #1875 and #1881
  src/hooks/useNavigatePage.ts
  src/layout/Summary/SummaryComponent.tsx
Labels: kind/bug

#1882 Re-enable expression validation tests
  test/e2e/integration/expression-validation-test/expression-validation.ts
Labels: kind/other

#1871 Conditionally render description for Grid and RepeatingGroup
  src/layout/Grid/GridComponent.tsx
  src/layout/RepeatingGroup/RepeatingGroupTable.tsx
Labels: kind/bug

#1889 Marking 8.0.0 final as our dependency
  src/features/applicationMetadata/ApplicationMetadataProvider.tsx
Labels: kind/other

#1913 Fix title in repeating group summary with reference to datamodel
  src/layout/RepeatingGroup/Summary/LargeGroupSummaryContainer.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.tsx
Labels: kind/bug

#1914 Dev Tools: Fix link between "Layout" and "Komponenter"
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspectorItem.tsx
  src/features/devtools/components/NodeInspector/NodeHierarchy.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/devtools/data/DevToolsStore.ts
  src/features/devtools/data/types.ts
Labels: kind/bug

#1893 Make AllExceptRequired validations default
  src/features/validation/utils.ts
  src/layout/RepeatingGroup/OpenByDefaultProvider.test.tsx
  src/layout/RepeatingGroup/RepeatingGroupContainer.test.tsx
  src/layout/RepeatingGroup/RepeatingGroupTable.test.tsx
  test/e2e/integration/frontend-test/auto-save-behavior.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/footer.ts
  test/e2e/integration/frontend-test/group.ts
Labels: kind/bug

#1919 Fixes for flaky tests, separate configs for docker/podman
  cypress.config.js
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  test/e2e/config/docker.json
  test/e2e/config/podman.json
  test/e2e/config/tt02.json
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/hide-row-in-group.ts
  test/e2e/integration/frontend-test/message.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/support/custom.ts
  test/e2e/support/formFiller.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/bug

#1921 Fix validation of minNumberOfAttachments
  src/features/validation/callbacks/onAttachmentSave.ts
  src/features/validation/utils.ts
  src/layout/FileUpload/index.tsx
  src/layout/FileUploadWithTag/index.tsx
  test/e2e/integration/frontend-test/components.ts
Labels: kind/bug

#1923 Fix repeating group minCount validation visibility
  src/layout/RepeatingGroup/index.tsx
  test/e2e/integration/frontend-test/group.ts
Labels: kind/bug

#1922 Fix axios error logging
  src/features/logging.ts
Labels: kind/bug

#1936 Fix typos in nynorsk texts
  src/language/texts/nn.ts
Labels: kind/bug

#1935 Give certain schema validations `Required` visibility, and filter duplicates
  src/features/devtools/DevTools.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/devtools/components/NodeInspector/ValidationInspector.module.css
  src/features/devtools/components/NodeInspector/ValidationInspector.tsx
  src/features/validation/schemaValidation/schemaValidationUtils.ts
  src/features/validation/schemaValidation/useSchemaValidation.ts
  src/features/validation/selectors/attachmentValidations.ts
  src/features/validation/selectors/bindingValidationsForNode.ts
  src/features/validation/selectors/componentValidationsForNode.ts
  src/features/validation/utils.ts
  src/layout/Datepicker/index.tsx
  src/layout/RepeatingGroup/index.tsx
  src/layout/index.ts
Labels: kind/bug

#1944 Updating Cypress readme + adding note about exposed `queryClient`
  .github/workflows/cypress.yml
  package.json
  src/global.d.ts
  template.env
  test/README.md
  test/scripts/startApp.mjs
  test/scripts/startLocaltest.mjs
  test/scripts/utils.mjs
  yarn.lock
Labels: kind/other, ignore-for-release

#1945 feat: add textResourceBinding.returnToSummaryButtonTitle for Summary component
  src/features/form/layout/PageNavigationContext.tsx
  src/hooks/useNavigatePage.ts
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/config.ts
  test/e2e/integration/frontend-test/navigation.ts
Labels: kind/product-feature

#1947 feat: add property nextButton to Summary component's display property
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/layout/Summary/config.ts
  test/e2e/integration/frontend-test/navigation.ts
Labels: kind/product-feature

#1948 feat: Add function for creating links to pages/components in the form…
  schemas/json/layout/expression.schema.v1.json
  src/components/form/Form.tsx
  src/components/form/LinkToPotentialNode.tsx
  src/features/expressions/ExprContext.ts
  src/features/expressions/index.ts
  src/features/expressions/shared-tests/functions/linkToComponent/linkToComponent.json
  src/features/expressions/shared-tests/functions/linkToPage/linkToPage-stateless.json
  src/features/expressions/shared-tests/functions/linkToPage/linkToPage.json
  src/features/expressions/shared.test.ts
  src/features/expressions/shared.ts
  src/hooks/useNavigatePage.ts
  src/language/sharedLanguage.ts
  src/layout/GenericComponent.tsx
  src/utils/layout/hierarchy.ts
  test/e2e/integration/frontend-test/navigation.ts
Labels: kind/product-feature

#1968 Fixes for husky upgrade to v9
  .husky/pre-commit
  package.json
Labels: kind/other, ignore-for-release

#1946 fix: make the back button be secondary variant if next button is present
  src/layout/NavigationButtons/NavigationButtonsComponent.module.css
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
Labels: kind/other
