Repository Altinn/app-frontend-react, pull requests merged in 2024-12, with the labels that each got.

#2775 hotfix-header-uten-innhold
  src/layout/Panel/PanelComponent.tsx
Labels: kind/bug

#2758 Extract <Fieldset /> component
  src/app-components/Label/Fieldset.test.tsx
  src/app-components/Label/Fieldset.tsx
  src/app-components/Label/Label.module.css
  src/app-components/Label/Label.tsx
  src/app-components/Label/types.ts
  src/app-components/Panel/Panel.module.css
  src/app-components/Panel/Panel.tsx
  src/components/ConditionalWrapper.tsx
  src/components/form/Fieldset.tsx
  src/components/label/Label.tsx
  src/layout/ButtonGroup/ButtonGroupComponent.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Group/GroupComponent.module.css
  src/layout/Group/GroupComponent.tsx
  src/layout/Input/InputComponent.test.tsx
  src/layout/Input/InputComponent.tsx
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/layout/Likert/Summary/LargeLikertSummaryContainer.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/TextArea/TextAreaComponent.test.tsx
  src/layout/TextArea/TextAreaComponent.tsx
  src/utils/layout/useLabel.tsx
  test/e2e/integration/frontend-test/summary.ts
Labels: kind/other

#2723 Feature/person lookup
  package.json
  src/app-components/Label/Fieldset.tsx
  src/features/expressions/shared-tests/functions/displayValue/person-lookup.json
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/PersonLookup/PersonLookupComponent.module.css
  src/layout/PersonLookup/PersonLookupComponent.tsx
  src/layout/PersonLookup/PersonLookupSummary.module.css
  src/layout/PersonLookup/PersonLookupSummary.tsx
  src/layout/PersonLookup/config.ts
  src/layout/PersonLookup/index.tsx
  src/layout/PersonLookup/validation.test.ts
  src/layout/PersonLookup/validation.ts
  src/utils/formComponentUtils.test.ts
  src/utils/formComponentUtils.ts
  test/e2e/integration/component-library/personlookup.ts
  test/e2e/integration/component-library/summary-of-previous-task.ts
  yarn.lock
Labels: kind/product-feature

#2756 Feature/Organisation Lookup
  src/features/expressions/shared-tests/functions/displayValue/organisation-lookup.json
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/OrganisationLookup/OrganisationLookupComponent.module.css
  src/layout/OrganisationLookup/OrganisationLookupComponent.tsx
  src/layout/OrganisationLookup/OrganisationLookupSummary.module.css
  src/layout/OrganisationLookup/OrganisationLookupSummary.tsx
  src/layout/OrganisationLookup/config.ts
  src/layout/OrganisationLookup/index.tsx
  src/layout/OrganisationLookup/validation.test.ts
  src/layout/OrganisationLookup/validation.ts
  test/e2e/integration/component-library/organisationlookup.ts
Labels: kind/product-feature

#2779 Update task resolution code
  src/App.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/instance/ProcessContext.tsx
  src/features/receipt/ReceiptContainer.test.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/index.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/index.ts
  src/types/index.ts
  src/utils/formLayout.ts
  test/e2e/integration/frontend-test/custom-confirm.ts
Labels: kind/analysis, kind/other

#2774 Preventing paste when readOnly is true on input component
  src/app-components/Input/Input.tsx
  src/layout/Input/InputComponent.test.tsx
  src/layout/Input/InputComponent.tsx
Labels: kind/bug

#2773 removed table-layout fixed
  src/layout/List/ListComponent.module.css
Labels: kind/bug

#2787 Feature/lookup-adjustments
  src/app-components/Label/Fieldset.tsx
  src/components/form/Description.module.css
  src/layout/OrganisationLookup/OrganisationLookupComponent.module.css
  src/layout/PersonLookup/PersonLookupComponent.module.css
  src/layout/PersonLookup/PersonLookupComponent.tsx
Labels: ignore-for-release

#2796 Fix repeating group table summary
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
  test/e2e/integration/component-library/repeating-group.ts
Labels: kind/bug

#2699 Tiny benchmarking harness
  benchmarks/splitDashedKey.ts
  benchmarks/tsconfig.json
  package.json
  src/utils/splitDashedKey.ts
  yarn.lock
Labels: kind/other, ignore-for-release

#2797 Pinning all depedencies and fixing yarn.lock file
  package.json
  yarn.lock
Labels: ignore-for-release

#2793 Adds missing error messages for organisation lookup
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/bug

#2794 Shows saved orgname instead of local state
  src/layout/OrganisationLookup/OrganisationLookupComponent.tsx
Labels: kind/bug

#2803 Fix/2370 input autocomplete
  src/app-components/Input/constants.ts
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Dropdown/config.ts
  src/layout/Input/InputComponent.test.tsx
  src/layout/Input/config.ts
  src/layout/MultipleSelect/MultipleSelectComponent.test.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/MultipleSelect/config.ts
Labels: kind/bug

#2765 Add divider to Likert
  src/codegen/Common.ts
  src/layout/Likert/Generator/LikertGeneratorChildren.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/config.ts
  src/layout/LikertItem/LikertItemComponent.module.css
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/LikertItem/config.ts
Labels: org/ssb, kind/product-feature

#2810 Validate org and person data model binding types
  src/layout/OrganisationLookup/index.tsx
  src/layout/PersonLookup/index.tsx
Labels: kind/bug

#2819 Fix DevTools in subform
  src/components/presentation/Presentation.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/core/loading/Loader.tsx
  src/features/devtools/DevTools.module.css
  src/features/devtools/DevTools.tsx
  src/features/devtools/DevToolsPanel.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/pdf/PdfView2.tsx
  src/layout/Subform/SubformWrapper.tsx
Labels: kind/bug

#2806 Filtering support for all options-components
  schemas/json/layout/expression.schema.v1.json
  src/codegen/Common.ts
  src/features/expressions/expression-functions.ts
  src/features/expressions/index.ts
  src/features/expressions/schema.test.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/shared-tests/functions/value/error-invalid-key.json
  src/features/expressions/shared-tests/functions/value/explicit-default-key.json
  src/features/expressions/shared-tests/functions/value/implicit-default-value.json
  src/features/expressions/shared-tests/functions/value/other-key.json
  src/features/expressions/shared.ts
  src/features/expressions/types.ts
  src/features/options/StoreOptionsInNode.tsx
  src/features/options/effects/EffectStoreLabel.tsx
  src/features/options/useGetOptions.test.tsx
  src/features/options/useGetOptions.ts
  src/features/options/useGetOptionsQuery.ts
  src/features/validation/expressionValidation/ExpressionValidation.tsx
  src/features/validation/expressionValidation/shared-expression-validation-tests/value-function.json
  src/hooks/useSourceOptions.ts
  src/utils/layout/generator/useEvalExpression.ts
  src/utils/options.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/dynamics.ts
  test/e2e/integration/frontend-test/options.ts
Labels: kind/product-feature

#2823 Hotfix for resolving axios correctly in webpack
  webpack.common.js
Labels: kind/bug

#2811 Organisation Lookup minor styling fixes
  src/layout/OrganisationLookup/OrganisationLookupComponent.module.css
  src/layout/OrganisationLookup/OrganisationLookupComponent.tsx
Labels: kind/other

#2824 fix pdf generation issue with lookup components
  src/layout/OrganisationLookup/index.tsx
  src/layout/PersonLookup/index.tsx
Labels: kind/bug

#2827 Actions (publish) based on PR comments
  .github/scripts/release.sh
  .github/workflows/pr-actions.yml
Labels: kind/other, ignore-for-release

#2828 Fixes label, input and error message spacings in org and person lookup
  src/app-components/Label/Label.module.css
  src/app-components/Label/Label.tsx
  src/layout/ComponentStructureWrapper.tsx
  src/layout/OrganisationLookup/OrganisationLookupComponent.module.css
  src/layout/OrganisationLookup/OrganisationLookupComponent.tsx
  src/layout/PersonLookup/PersonLookupComponent.module.css
  src/layout/PersonLookup/PersonLookupComponent.tsx
Labels: kind/other

#2821 Adding cypress test for new attachment API + fixes
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/attachments/StoreAttachmentsInNode.tsx
  test/e2e/integration/subform-test/attachments.ts
Labels: kind/bug

#2829 Fixing failing `component` lookups when deeply linked
  src/components/PDFGeneratorPreview/PDFGeneratorPreview.tsx
  src/features/devtools/DevTools.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/features/instantiate/containers/InvalidSubformLayoutError.tsx
  src/features/instantiate/containers/UnknownError.tsx
  src/hooks/delayedSelectors.test.tsx
  src/hooks/delayedSelectors.ts
  src/layout/GenericComponent.tsx
  src/utils/isDev.test.ts
  src/utils/isDev.ts
  src/utils/layout/generator/validation/GenerationValidationContext.tsx
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/dynamics.ts
Labels: kind/bug

#2832 Run jest tests concurrently
  .github/workflows/unit-tests.yml
Labels: kind/other

#2839 Supporting `component` and `dataModel` lookups in `optionFilter` when using source options
  src/features/expressions/expression-functions.ts
  src/features/options/castOptionsToStrings.ts
  src/features/options/useGetOptions.test.tsx
  src/features/options/useGetOptions.ts
  src/features/options/useSourceOptions.ts
  src/utils/layout/useExpressionDataSources.ts
  src/utils/layout/useNodeTraversal.ts
  src/utils/options.ts
Labels: kind/product-feature

#2842 Fix Datepicker crashing when deleting year or month from picker
  src/layout/Datepicker/DropdownCaption.tsx
Labels: kind/bug

#2843 Minor test formatting fixes
  src/App.test.tsx
  src/components/organisms/AltinnAppHeader.test.tsx
  src/components/presentation/OrganisationLogo/OrganisationLogo.test.tsx
  src/components/presentation/Presentation.test.tsx
  src/core/texts/appTexts.test.tsx
  src/features/expressions/shared-context.test.tsx
  src/features/expressions/shared-functions.test.tsx
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataReaders.test.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.test.tsx
  src/features/receipt/ReceiptContainer.test.tsx
  src/features/stateless/getAllowAnonymous.test.tsx
  src/layout/AttachmentList/AttachmentListComponent.test.tsx
  src/layout/CustomButton/CustomButtonComponent.test.tsx
  src/layout/FileUpload/FileUploadComponent.test.tsx
  src/layout/FileUpload/Summary/AttachmentWithTagSummaryComponent.test.tsx
  src/layout/InstantiationButton/InstantiationButton.test.tsx
  src/setupTests.ts
  src/utils/layout/all.test.tsx
Labels: kind/other

#2845 Fix bug where invalid data did not get removed when clearing input
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataWriteStateMachine.tsx
Labels: kind/bug

#2846 Reset command timeout before each
  test/e2e/support/index.ts
Labels: ignore-for-release
