Repository Altinn/app-frontend-react, pull requests merged in 2024-08, with the labels that each got.

#2258 Re-adding skipped tests
  .husky/pre-commit-check-for-skipped-tests
  package.json
  test/e2e/integration/frontend-test/footer.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: ignore-for-release

#2253 feat: can navigate to specific html elements inside a component
  src/components/message/ErrorReport.tsx
  src/features/form/layout/NavigateToNode.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/GenericComponent.tsx
  test/README.md
  test/e2e/integration/component-library/address.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#2210 Document allowedKeysForUserDefinedMetadata property
  schemas/json/application/application-metadata.schema.v1.json
Labels: kind/product-feature

#2209 Update applicationmetadata schema for manual instantiation
  schemas/json/application/application-metadata.schema.v1.json
Labels: kind/product-feature

#2281 V3: Upgrade altinn-design-system to 0.30.2
  package.json
  yarn.lock
Labels: kind/dependencies

#2282 Upgrade altinn-design-system to 0.30.2
  package.json
  src/layout/Map/MapComponent.tsx
  yarn.lock
Labels: kind/dependencies

#2280 Fix labels rendered as span not getting their styling set
  src/components/label/LabelContent.tsx
Labels: ignore-for-release

#2278 Feat/21890 summary2 hide unanswered fields
  src/codegen/Common.ts
  src/layout/Group/GroupSummary.tsx
  src/layout/Summary2/CommonSummaryComponents/SingleValueSummary.tsx
  src/layout/Summary2/SummaryComponent2/ComponentSummary.tsx
  src/layout/Summary2/SummaryComponent2/SummaryComponent2.test.tsx
  src/layout/Summary2/SummaryComponent2/SummaryComponent2.tsx
  src/layout/Summary2/SummaryComponent2/TaskSummary.tsx
  src/layout/Summary2/config.tsx
  src/layout/Summary2/taskIdStore.tsx
Labels: kind/product-feature, area/summary

#2263 Add 'base' element to 'head' to normalize relative urls/references
  src/features/baseurlinjection.ts
  src/index.tsx
Labels: kind/bug

#2284 Removing undefined CSS classes
  src/components/message/ErrorPaper.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorDataField.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorDataModelBindings.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorTextResourceBindings.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/FileUploadTable/FileTableRow.tsx
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Likert/Summary/LargeLikertSummaryContainer.tsx
  src/layout/Likert/Summary/LikertSummary.tsx
  src/layout/Payment/PaymentComponent.tsx
  src/layout/Payment/SummaryPaymentComponent.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.tsx
  src/layout/Summary2/SummaryComponent2/ComponentSummary.tsx
Labels: kind/other, ignore-for-release

#2289 Respect `overrideItemProps` in `ComponentStructureWrapper`
  src/layout/ComponentStructureWrapper.tsx
  src/layout/FormComponentContext.tsx
  src/layout/GenericComponent.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/LikertTestUtils.tsx
  src/layout/Payment/PaymentComponent.tsx
Labels: kind/bug

#2299 Grid: Rendering header rows and non-header rows in order
  src/layout/Grid/Grid.module.css
  src/layout/Grid/GridComponent.tsx
  test/e2e/integration/frontend-test/grid.ts
Labels: kind/bug

#2300 Logging errors when we see duplicate component IDs
  src/features/form/layout/LayoutsContext.tsx
Labels: kind/bug

#2264 Improves AttachmentSummaryComponent2 implementation
  src/components/label/Label.tsx
  src/layout/FileUpload/AttachmentSummaryComponent2.tsx
  src/layout/FileUpload/FileUploadComponent.module.css
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/FileUploadTable/FileTableComponent.module.css
  src/layout/FileUpload/FileUploadTable/FileTableRow.module.css
  src/layout/FileUpload/FileUploadTable/FileTableRow.tsx
  src/layout/LikertItem/LikertItemComponent.tsx
Labels: kind/bug

#2292 fix: quickfix for fileupload window showing when clicking anywhere in the component
  src/components/label/Label.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
Labels: kind/bug

#2303 chore: fix broken timestamp in pdf
  package.json
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/utils/dateHelpers.ts
  yarn.lock
Labels: kind/bug

#2302 Fix inconsistent text styling
  src/language/sharedLanguage.ts
  src/layout/Paragraph/ParagraphComponent.test.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
Labels: kind/bug

#2314 Add test for component in table with innerGrid
  test/e2e/integration/frontend-test/group-pets.ts
Labels: kind/other

#2196 Feature/number component
  src/codegen/Common.ts
  src/features/expressions/index.ts
  src/hooks/useMapToReactNumberConfig.ts
  src/layout/Input/InputComponent.tsx
  src/layout/Input/config.ts
  src/layout/Input/index.tsx
  src/layout/Number/NumberComponent.module.css
  src/layout/Number/NumberComponent.tsx
  src/layout/Number/config.ts
  src/layout/Number/index.tsx
  test/e2e/integration/frontend-test/formatting.ts
  test/e2e/integration/frontend-test/number.ts
Labels: kind/feature-request

#2312 Fix summary2 validation message styling
  src/layout/Summary2/CommonSummaryComponents/MultipleValueSummary.module.css
  src/layout/Summary2/CommonSummaryComponents/MultipleValueSummary.tsx
  src/layout/Summary2/CommonSummaryComponents/SingleValueSummary.module.css
  src/layout/Summary2/CommonSummaryComponents/SingleValueSummary.tsx
Labels: kind/bug

#2171 Feature/text component
  src/layout/Number/NumberComponent.tsx
  src/layout/Text/TextComponent.module.css
  src/layout/Text/TextComponent.tsx
  src/layout/Text/config.ts
  src/layout/Text/index.tsx
  test/e2e/integration/frontend-test/number-text.ts
Labels: kind/product-feature

#2307 Fix payment information component not fetching latest data on first render
  src/layout/PaymentDetails/PaymentDetailsComponent.tsx
Labels: kind/bug

#2324 Feat: External API
  schemas/json/layout/expression.schema.v1.json
  src/__mocks__/getExpressionDataSourcesMock.ts
  src/features/applicationMetadata/types.ts
  src/features/expressions/ExprContext.ts
  src/features/expressions/errors.ts
  src/features/expressions/expression-functions.ts
  src/features/expressions/index.test.ts
  src/features/expressions/index.ts
  src/features/expressions/schema.test.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/shared-tests/functions/externalApi/should-pick-data-with-nested-path.json
  src/features/expressions/shared-tests/functions/externalApi/should-return-empty-string-on-undefined-result.json
  src/features/expressions/shared-tests/functions/externalApi/should-return-empty-string-when-path-does-not-exist.json
  src/features/expressions/shared-tests/functions/externalApi/should-return-stringified-json-on-object-result.json
  src/features/expressions/shared-tests/functions/externalApi/should-return-whole-result-with-empty-path-param.json
  src/features/expressions/shared.ts
  src/features/expressions/types.ts
  src/features/expressions/validation.ts
  src/features/externalApi/useExternalApi.ts
  src/hooks/useSourceOptions.ts
  src/queries/queries.ts
  src/queries/types.ts
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/useExpressionDataSources.ts
Labels: kind/product-feature

#2342 Support for generic layout validation for components
  src/layout/LayoutComponent.tsx
  src/layout/index.ts
  src/layout/layout.ts
  src/utils/layout/generator/validation/NodePropertiesValidation.tsx
Labels: kind/other, ignore-for-release

#2348 Remove non-used expression data sources
  src/__mocks__/getExpressionDataSourcesMock.ts
  src/features/expressions/expression-functions.ts
  src/utils/layout/useExpressionDataSources.ts
Labels: kind/other, ignore-for-release

#2347 Optimizations in node traversal
  src/components/form/Form.tsx
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/attachments/hooks.ts
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeHierarchy.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/validation/ValidationStorePlugin.tsx
  src/layout/GenericComponent.test.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Group/GroupComponent.tsx
  src/layout/Group/SummaryGroupComponent.test.tsx
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/Likert/Summary/LargeLikertSummaryContainer.tsx
  src/layout/RepeatingGroup/Summary/LargeGroupSummaryContainer.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.test.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.tsx
  src/utils/layout/LayoutNode.ts
  src/utils/layout/LayoutPage.ts
  src/utils/layout/LayoutPages.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/useNodeItem.ts
  src/utils/layout/useNodeTraversal.ts
  test/e2e/integration/frontend-test/grid.ts
Labels: kind/other, ignore-for-release
