Repository Altinn/app-frontend-react, pull requests merged in 2024-10, with the labels that each got.

#2532 Fix small visual bugs in grid and group
  src/components/form/Fieldset.module.css
  src/components/form/Fieldset.tsx
  src/layout/Grid/GridComponent.tsx
Labels: kind/bug

#2512 Fix edit button not showing and allow Header component in grid summary
  src/layout/Grid/GridSummary.module.css
  src/layout/Grid/GridSummary.tsx
Labels: kind/bug

#2514 Validation logic fixes
  src/__mocks__/getApplicationMetadataMock.ts
  src/core/loading/Loader.tsx
  src/features/applicationMetadata/types.ts
  src/features/attachments/StoreAttachmentsInNode.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/features/datamodel/useBindingSchema.tsx
  src/features/form/layout/LayoutsContext.tsx
  src/features/form/layoutSets/useCurrentLayoutSet.ts
  src/features/formData/FormDataWrite.tsx
  src/features/instance/ProcessNavigationContext.tsx
  src/features/instance/useProcessTaskId.ts
  src/features/validation/StoreValidationsInNode.tsx
  src/features/validation/ValidationPlugin.test.tsx
  src/features/validation/ValidationPlugin.tsx
  src/features/validation/ValidationStorePlugin.tsx
  src/features/validation/backendValidation/backendValidationQuery.ts
  src/features/validation/backendValidation/backendValidationUtils.ts
  src/features/validation/callbacks/onFormSubmitValidation.ts
  src/features/validation/callbacks/onPageNavigationValidation.ts
  src/features/validation/index.ts
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/features/validation/selectors/attachmentValidations.ts
  src/features/validation/selectors/bindingValidationsForNode.ts
  src/features/validation/selectors/componentValidationsForNode.ts
  src/features/validation/selectors/deepValidationsForNode.ts
  src/features/validation/selectors/isValid.ts
  src/features/validation/selectors/taskErrors.ts
  src/features/validation/selectors/unifiedValidationsForNode.ts
  src/features/validation/utils.ts
  src/features/validation/validationContext.tsx
  src/hooks/useNavigatePage.ts
  src/layout/FileUpload/FileUploadTable/FileTableRow.tsx
  src/layout/Subform/index.tsx
  src/layout/Summary2/CommonSummaryComponents/EditButton.tsx
  src/layout/Summary2/SummaryComponent2/LayoutSetSummary.tsx
  src/layout/Summary2/SummaryComponent2/TaskSummaryWrapper.tsx
  src/queries/queries.ts
  src/setupTests.ts
  src/test/renderWithProviders.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/urls/appUrlHelper.ts
Labels: kind/bug

#2521 Likert wcag
  src/components/form/Caption.module.css
  src/components/form/Caption.tsx
  src/components/form/Description.module.css
  src/components/form/Description.tsx
  src/components/form/Fieldset.module.css
  src/components/form/Fieldset.tsx
  src/components/label/Label.module.css
  src/components/label/Label.tsx
  src/components/label/LabelContent.module.css
  src/components/label/LabelContent.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Datepicker/DatepickerComponent.test.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/FileUpload/DropZone/DropzoneComponent.test.tsx
  src/layout/FileUpload/DropZone/DropzoneComponent.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/GridSummary.tsx
  src/layout/Input/InputComponent.test.tsx
  src/layout/Input/InputComponent.tsx
  src/layout/Likert/LikertComponent.test.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/LikertTestUtils.tsx
  src/layout/LikertItem/LikertItemComponent.module.css
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/Number/NumberComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/Text/TextComponent.tsx
  src/layout/TextArea/TextAreaComponent.test.tsx
  src/layout/TextArea/TextAreaComponent.tsx
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/likert.ts
  test/e2e/integration/frontend-test/mobile.ts
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/pageobjects/likert.ts
  test/e2e/support/formFiller.ts
Labels: area/accessibility

#2523 Fixing 'unknown error' when clicking the back button (stateless <- instance)
  src/features/applicationMetadata/ApplicationMetadataProvider.tsx
  src/features/entrypoint/Entrypoint.tsx
  src/layout/InstantiationButton/InstantiationButton.test.tsx
  src/queries/appPrefetcher.ts
  src/test/renderWithProviders.tsx
  test/e2e/integration/stateless-app/stateless.ts
Labels: kind/bug

#2545 Udate designsystem react to 0.63.1
  package.json
  yarn.lock
Labels: area/accessibility, kind/other

#2537 Add support for new multi-patch response and updating instance data
  src/components/presentation/Presentation.tsx
  src/features/applicationMetadata/appMetadataUtils.test.ts
  src/features/applicationMetadata/appMetadataUtils.ts
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/attachments/StoreAttachmentsInNode.tsx
  src/features/datamodel/DataElementIdsForCypress.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/features/datamodel/useBindingSchema.tsx
  src/features/datamodel/utils.ts
  src/features/devtools/components/DownloadXMLButton/DownloadXMLButton.tsx
  src/features/devtools/components/PDFPreviewButton/PDFGeneratorPreview.tsx
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.tsx
  src/features/formData/FormDataReaders.test.tsx
  src/features/formData/FormDataReaders.tsx
  src/features/formData/FormDataWrite.tsx
  src/features/formData/FormDataWriteStateMachine.tsx
  src/features/formData/types.ts
  src/features/instance/InstanceContext.tsx
  src/features/instance/ProcessNavigationContext.tsx
  src/features/instance/instanceUtils.ts
  src/features/instance/useProcessNextTasks.ts
  src/features/processEnd/confirm/containers/Confirm.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/features/subformData/useSubformMutations.tsx
  src/features/validation/index.ts
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/features/validation/validationContext.tsx
  src/global.ts
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/layout/Payment/PaymentReceiptDetails/PaymentReceiptDetails.tsx
  src/layout/Subform/index.tsx
  src/queries/queries.ts
  src/types/shared.ts
  test/e2e/integration/multiple-datamodels-test/validation.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: kind/product-feature, ignore-for-release

#2550 Purge azure front door cache on deploy
  .github/scripts/purge-frontdoor-cache.sh
  .github/scripts/release.sh
  .github/workflows/release.yml
Labels: kind/other, ignore-for-release

#2552 Fix subscription id secret in release workflow
  .github/workflows/release.yml
Labels: ignore-for-release

#2473 New Datepicker
  package.json
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Datepicker/Calendar.module.css
  src/layout/Datepicker/DatePickerCalendar.tsx
  src/layout/Datepicker/DatePickerHelpers.ts
  src/layout/Datepicker/DatePickerInput.tsx
  src/layout/Datepicker/DatepickerComponent.css
  src/layout/Datepicker/DatepickerComponent.test.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Datepicker/DropdownCaption.tsx
  src/layout/Datepicker/config.ts
  src/layout/Datepicker/index.tsx
  src/utils/dateHelpers.test.ts
  src/utils/dateHelpers.ts
  src/utils/dateLocales.ts
  test/e2e/integration/expression-validation-test/expression-validation.ts
  test/e2e/integration/frontend-test/auto-save-behavior.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/integration/multiple-datamodels-test/readonly.ts
  test/e2e/integration/multiple-datamodels-test/saving.ts
  test/e2e/support/formFiller.ts
  yarn.lock
Labels: kind/feature-request

#2561 Refactor/migrate moment
  package.json
  src/features/receipt/ReceiptContainer.tsx
  src/language/texts/nb.ts
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/utils/dateHelpers.test.ts
  src/utils/dateHelpers.ts
  src/utils/formatDate.ts
  yarn.lock
Labels: kind/feature-request

#2547 Avoid line break for required indicator in likert
  src/layout/LikertItem/LikertItemComponent.tsx
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/other

#2553 Switch from using `jsPropertySyntax` to `jsonPointer` in AJV
  src/features/datamodel/notations.test.ts
  src/features/devtools/utils/layoutSchemaValidation.ts
  src/features/validation/schemaValidation/SchemaValidation.tsx
  src/features/validation/schemaValidation/schemaValidationUtils.ts
  src/utils/layout/all.test.tsx
  src/utils/schemaUtils.ts
Labels: kind/bug

#2373 Refactors legacy listcomponent to new designsystemet
  src/components/form/Description.tsx
  src/features/dataLists/useDataListQuery.tsx
  src/layout/List/ListComponent.module.css
  src/layout/List/ListComponent.tsx
  test/e2e/integration/frontend-test/list-component.ts
  test/e2e/integration/frontend-test/mobile.ts
  test/e2e/pageobjects/datalist.ts
  test/e2e/support/custom.ts
Labels: kind/other

#2549 Conditinally render fieldset for Group
  src/layout/Group/GroupComponent.module.css
  src/layout/Group/GroupComponent.tsx
  test/e2e/integration/component-library/group.ts
Labels: kind/bug

#2573 Add instance to single-patch response
  src/features/formData/FormDataWrite.tsx
  src/features/formData/types.ts
Labels: kind/product-feature

#2575 Add "no-visual-testing" to example date string
  src/layout/Datepicker/DatePickerInput.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
Labels: kind/bug

#2581 Fix error when test trying to click on default selected date.
  src/layout/Datepicker/DatePickerCalendar.tsx
  src/layout/Datepicker/DatepickerComponent.test.tsx
Labels: kind/bug

#2586 Fix broken link to roles on error page
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/bug

#2539 Fix broken payment test
  src/layout/PaymentDetails/PaymentDetailsComponent.tsx
  test/e2e/integration/payment-test/payment.ts
Labels: ignore-for-release

#2585 Fix bugs in List component
  src/layout/List/ListComponent.test.tsx
  src/layout/List/ListComponent.tsx
  src/layout/List/index.tsx
Labels: kind/bug

#2565 Fix stale data when clicking back button to stateless app
  package.json
  src/features/formData/FormData.test.tsx
  src/features/formData/useFormDataQuery.tsx
  test/e2e/integration/stateless-app/stateless.ts
  yarn.lock
Labels: kind/bug

#2602 Fix duplicate required validation for options-based components
  src/features/validation/nodeValidation/emptyFieldValidation.ts
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/Dropdown/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/LikertItem/index.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.test.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/RadioButtons/ControlledRadioGroup.test.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/layout.ts
Labels: kind/bug

#2604 Revert "feat: added print preview action type to action button"
  src/features/devtools/components/PDFPreviewButton/PDFGeneratorPreview.tsx
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/ActionButton/config.ts
Labels: ignore-for-release

#2605 Created github action to check that a label has been added before merge
  .github/workflows/check-label-added.yml
Labels: kind/other

#2607 Fix/null error in useLanguage
  src/features/datamodel/DataModelsProvider.tsx
Labels: kind/bug

#2609 Fixed incorrect datepicker save format
  src/utils/dateHelpers.ts
Labels: kind/bug

#2220 Feature/PaymentDetails - set renderInCards: true
  src/layout/PaymentDetails/config.ts
Labels: kind/product-feature

#2615 Quickfix: Broken FileUploadWithTag and simpleBinding
  src/features/options/StoreOptionsInNode.tsx
Labels: kind/bug

#2614 hiding button
  src/components/wrappers/ProcessWrapper.tsx
Labels: kind/bug

#2624 Fix text resource bindings for summary2
  src/layout/Address/AddressSummary/AddressSummary.tsx
  src/layout/Checkboxes/CheckboxesSummary.tsx
  src/layout/Datepicker/DatepickerSummary.tsx
  src/layout/Dropdown/DropdownSummary.tsx
  src/layout/Grid/GridSummary.tsx
  src/layout/Group/GroupSummary.tsx
  src/layout/Header/HeaderComponent.tsx
  src/layout/Input/InputSummary.tsx
  src/layout/Likert/Summary2/LikertSummary.tsx
  src/layout/List/ListSummary.tsx
  src/layout/Map/Summary2/MapSummary.tsx
  src/layout/MultipleSelect/MultipleSelectSummary.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
  src/layout/RadioButtons/RadioButtonsSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/Tabs/TabsSummary.tsx
  src/layout/TextArea/TextAreaSummary.tsx
Labels: kind/bug

#2584 Fix/handle errors from payment provider
  src/features/payment/PaymentInformationProvider.tsx
  src/features/payment/types.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Payment/PaymentComponent.module.css
  src/layout/Payment/PaymentComponent.tsx
  src/layout/Payment/PaymentReceiptDetails/PaymentReceiptDetails.tsx
  src/layout/PaymentDetails/PaymentDetailsTable.tsx
Labels: kind/bug

#2626 Feat/2623 isCompact support for summary2
  src/layout/Likert/Summary2/LikertSummary.tsx
  src/layout/Summary2/SummaryComponent2/ComponentSummary.tsx
  src/layout/Summary2/SummaryComponent2/SummaryComponent2.test.tsx
  src/layout/Summary2/config.tsx
Labels: kind/bug

#2627 Don't render pagination in `List` without explicit config
  src/layout/List/ListComponent.tsx
Labels: kind/bug

#2577 removes fetchProcessState from AppQueriesProvider and mocks with jest
  src/features/expressions/shared-functions.test.tsx
  src/features/instance/ProcessContext.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.test.tsx
  src/features/receipt/ReceiptContainer.test.tsx
  src/layout/CustomButton/CustomButtonComponent.test.tsx
  src/queries/appPrefetcher.ts
  src/queries/types.ts
  src/setupTests.ts
  src/test/allApps.ts
  src/test/renderWithProviders.tsx
  src/utils/layout/all.test.tsx
Labels: quality/debt, kind/other

#2582 Refactor ProcessContext
  src/components/wrappers/ProcessWrapper.tsx
  src/features/instance/ProcessContext.tsx
  src/features/instance/ProcessNavigationContext.tsx
  src/hooks/useNavigatePage.ts
Labels: quality/debt, kind/other

#2598 Refactor routes
  src/App.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/entrypoint/Entrypoint.tsx
  src/layout/Subform/SubformWrapper.tsx
Labels: quality/debt, kind/other

#2628 Prevent PDF generator from printing "Unknown error" page
  src/components/ReadyForPrint.tsx
  src/components/form/Form.tsx
  src/features/instantiate/containers/InstantiationContainer.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/pdf/PDFWrapper.tsx
  src/features/pdf/PdfView2.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.tsx
  src/features/processEnd/feedback/Feedback.tsx
  src/features/receipt/ReceiptContainer.tsx
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/manual/page-load.ts
  test/e2e/support/custom.ts
Labels: kind/bug

#2630 Don't show unknown error if the user can retry submit
  src/features/instance/ProcessNavigationContext.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/other

#2625 Fixing several issues with the new Datepicker and making behavior closer to the old one
  src/layout/Datepicker/DatePickerCalendar.tsx
  src/layout/Datepicker/DatePickerInput.tsx
  src/layout/Datepicker/DatepickerComponent.test.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Datepicker/DatepickerDialog.tsx
  src/layout/Datepicker/DropdownCaption.tsx
  src/layout/Datepicker/index.tsx
  src/utils/dateHelpers.test.ts
  src/utils/dateHelpers.ts
  src/utils/formatDateLocale.ts
Labels: kind/bug

#2653 updates eslint-plugin-react-hooks and fixes errors
  package.json
  src/layout/GenericComponent.tsx
  src/layout/Likert/Generator/LikertGeneratorChildren.tsx
  src/layout/RepeatingGroup/Pagination/RepeatingGroupPagination.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  yarn.lock
Labels: kind/dependencies

#2651 Add language to multipatch and instantiation
  src/features/formData/FormDataWrite.tsx
  src/features/instantiate/InstantiationContext.tsx
  src/queries/queries.ts
  src/utils/urls/appUrlHelper.test.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/frontend-test/party-selection.ts
  test/e2e/integration/multiple-datamodels-test/readonly.ts
  test/e2e/integration/multiple-datamodels-test/saving.ts
  test/e2e/support/custom.ts
Labels: kind/bug

#2663 Fix PDF generation when using subform
  src/layout/Subform/Summary/SubformSummaryComponent2.tsx
  src/utils/layout/NodesContext.tsx
  test/e2e/integration/subform-test/subform.ts
Labels: kind/bug

#2670 stricter label check
  .github/workflows/check-label-added.yml
Labels: ignore-for-release

#2676 Fixes multiple tests failing
  test/e2e/integration/component-library/summary-of-previous-task.ts
  test/e2e/integration/component-library/title-tag-updates.ts
  test/e2e/integration/frontend-test/auto-save-behavior.ts
  test/e2e/integration/multiple-datamodels-test/readonly.ts
  test/e2e/integration/multiple-datamodels-test/saving.ts
Labels: kind/bug
