Repository Altinn/app-frontend-react, pull requests merged in 2024-09, with the labels that each got.

#2326 Add regression test for PaymentDetails component
  src/layout/PaymentDetails/PaymentDetailsComponent.tsx
  test/e2e/integration/payment-test/payment.ts
Labels: kind/other, ignore-for-release

#2327 Feat/2006 custom empty component text
  src/codegen/Common.ts
  src/layout/Checkboxes/CheckboxesSummary.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Dropdown/DropdownSummary.tsx
  src/layout/Dropdown/index.tsx
  src/layout/Input/InputSummary.tsx
  src/layout/Input/index.tsx
  src/layout/MultipleSelect/MultipleSelectSummary.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/RadioButtons/RadioButtonsSummary.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/Summary2/CommonSummaryComponents/MultipleValueSummary.tsx
  src/layout/Summary2/CommonSummaryComponents/SingleValueSummary.tsx
  src/layout/Summary2/SummaryComponent2/SummaryComponent2.test.tsx
  src/layout/TextArea/TextAreaSummary.tsx
  src/layout/TextArea/index.tsx
Labels: kind/product-feature

#2371 Adding back `eslint` automatic formatting in generated files
  eslint.config.mjs
  src/codegen/run.ts
Labels: kind/other, ignore-for-release

#2283 Add support for showing geometries in Map component
  package.json
  src/features/expressions/shared-tests/functions/displayValue/map.json
  src/layout/GenericComponent.module.css
  src/layout/Map/Map.tsx
  src/layout/Map/MapComponent.module.css
  src/layout/Map/MapComponent.test.tsx
  src/layout/Map/MapComponent.tsx
  src/layout/Map/MapComponentSummary.tsx
  src/layout/Map/MapIcons.ts
  src/layout/Map/config.ts
  src/layout/Map/index.tsx
  src/layout/Map/types.ts
  src/layout/Map/utils.ts
  test/e2e/fixtures/map-tile.png
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
  test/e2e/support/index.ts
  yarn.lock
Labels: kind/product-feature

#2380 Preventing data model updates when rounding numbers in Input
  src/layout/Input/InputComponent.tsx
  src/layout/Input/number-format-helpers.ts
  test/e2e/integration/frontend-test/components.ts
Labels: kind/bug

#2405 Updated quirks for fixed duplicate ids in apps
  src/features/form/layout/quirks.ts
Labels: kind/other

#2403 Add summary2 for List component
  src/layout/List/ListSummary.tsx
  src/layout/List/config.ts
  src/layout/List/index.tsx
  src/layout/Summary2/config.tsx
Labels: kind/product-feature

#2407 Fixing some flaky tests
  test/e2e/integration/component-library/address.ts
  test/e2e/integration/component-library/checkboxes.ts
  test/e2e/integration/component-library/dropdown.ts
  test/e2e/integration/component-library/fileupload.ts
  test/e2e/integration/component-library/group.ts
  test/e2e/integration/component-library/input.ts
  test/e2e/integration/component-library/multiple-select.ts
  test/e2e/integration/component-library/radio-buttons.ts
  test/e2e/integration/component-library/repeating-group.ts
  test/e2e/integration/component-library/text-area.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/dynamics.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/hide-row-in-group.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/frontend-test/tabs.ts
Labels: kind/other, ignore-for-release

#2377 Replacing `useMediaQuery` with custom hook (fixes #2177)
  src/components/ThemeWrapper.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/hooks/useDeviceWidths.ts
  src/hooks/useIsMobile.ts
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/FileUpload/AttachmentSummaryComponent2.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/GridSummary.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/RepeatingGroup/Pagination/RepeatingGroupPagination.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/layout/Summary2/CommonSummaryComponents/EditButton.tsx
  test/e2e/integration/frontend-test/mobile.ts
  test/e2e/support/custom.ts
Labels: kind/bug

#2376 Minor fixes for RepeatingGroup in non-standard modes
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupsEditContainer.tsx
  test/e2e/integration/frontend-test/group.ts
Labels: kind/bug

#2415 remove header summary2
  src/layout/Header/index.tsx
Labels: kind/other

#2411 Added download option for Link component
  src/layout/Link/LinkComponent.test.tsx
  src/layout/Link/LinkComponent.tsx
  src/layout/Link/config.ts
Labels: external-contribution-❤️, kind/product-feature

#2417 Add spacing for components rendered in tabs
  src/layout/Tabs/Tabs.module.css
  src/layout/Tabs/Tabs.tsx
Labels: kind/bug

#2418 Preventing crash if function in ruleHandler is not found
  src/features/form/dynamics/HiddenComponentsProvider.tsx
  src/features/formData/LegacyRules.ts
  src/test/allApps.ts
  src/utils/layout/all.test.tsx
Labels: kind/bug

#2419 Avoiding removing stale options for hidden nodes
  src/features/options/useGetOptions.ts
  test/e2e/integration/frontend-test/options.ts
Labels: kind/bug

#2409 Feat/test previous task
  src/features/attachments/StoreAttachmentsInNode.tsx
  src/layout/FileUpload/FileUploadTable/FileTableRow.tsx
  test/e2e/integration/component-library/address.ts
  test/e2e/integration/component-library/fileupload.ts
  test/e2e/integration/component-library/input.ts
  test/e2e/integration/component-library/summary-of-previous-task.ts
Labels: area/test

#2428 Showing backend validations that conflicts with frontend-validations (fixes #2412)
  src/features/validation/callbacks/onFormSubmitValidation.ts
Labels: kind/bug

#2410 Add summary2 for Map
  src/layout/Map/Summary2/MapSummary.module.css
  src/layout/Map/Summary2/MapSummary.tsx
  src/layout/Map/config.ts
  src/layout/Map/index.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/Summary2/config.tsx
Labels: kind/product-feature

#2426 Fixed accordion view for Summary2 of a layoutset
  src/layout/Summary2/CommonSummaryComponents/LayoutSetSummaryAccordion.module.css
  src/layout/Summary2/CommonSummaryComponents/LayoutSetSummaryAccordion.tsx
  src/layout/Summary2/SummaryComponent2/LayoutSetSummary.tsx
Labels: kind/bug

#2433 Fix grid not working multiple places
  src/layout/Group/GroupSummary.module.css
  src/layout/Group/GroupSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.module.css
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/Tabs/Tabs.module.css
  src/layout/Tabs/Tabs.tsx
Labels: kind/bug

#2427 Sumary2 for Tabs component
  src/layout/Summary2/config.tsx
  src/layout/Tabs/TabsSummary.module.css
  src/layout/Tabs/TabsSummary.tsx
  src/layout/Tabs/TabsSummaryComponent.tsx
  src/layout/Tabs/config.ts
  src/layout/Tabs/index.tsx
Labels: kind/product-feature

#2446 Direct Percy snapshot method to capture PDF with emulated print media
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: kind/other

#2453 Fixing missing nodes in repeating group when UUID has changed
  src/codegen/ComponentConfig.ts
  src/features/formData/FormDataWrite.tsx
  src/features/options/useGetOptions.ts
  src/layout/LayoutComponent.tsx
  src/layout/Likert/Generator/LikertGeneratorChildren.tsx
  src/layout/Likert/Generator/LikertRowsPlugin.tsx
  src/layout/RepeatingGroup/useTableNodes.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/NodeDefPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
  src/utils/layout/types.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/cards.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/dynamics.ts
  test/e2e/integration/frontend-test/number-text.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/support/global.ts
  test/e2e/support/navigation.ts
Labels: kind/bug

#2457 Fixing a bug causing infinite PATCH requests
  src/features/formData/jsonPatch/createPatch.test.ts
  src/features/formData/jsonPatch/createPatch.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/auto-save-behavior.ts
Labels: kind/bug

#2461 Merging `v4.8-patches`
  src/codegen/ComponentConfig.ts
  src/features/formData/FormDataWrite.tsx
  src/features/formData/jsonPatch/createPatch.test.ts
  src/features/formData/jsonPatch/createPatch.ts
  src/features/options/evalQueryParameters.ts
  src/features/options/useGetOptions.ts
  src/layout/LayoutComponent.tsx
  src/layout/Likert/Generator/LikertGeneratorChildren.tsx
  src/layout/Likert/Generator/LikertRowsPlugin.tsx
  src/layout/RepeatingGroup/useTableNodes.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/NodeDefPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
  src/utils/layout/types.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/auto-save-behavior.ts
  test/e2e/integration/frontend-test/cards.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/dynamics.ts
  test/e2e/integration/frontend-test/number-text.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/support/global.ts
  test/e2e/support/navigation.ts
Labels: kind/other, ignore-for-release

#2451 Fix console warnings
  src/layout/Group/GroupSummary.tsx
  src/layout/Tabs/TabsSummary.tsx
Labels: ignore-for-release

#2469 Fix flaky Map and PDF snapshots
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: ignore-for-release

#2463 Add summary2 for Likert component
  src/layout/Grid/GridSummary.tsx
  src/layout/Likert/Summary/LargeLikertSummaryContainer.tsx
  src/layout/Likert/Summary/LikertSummaryComponent.module.css
  src/layout/Likert/Summary/LikertSummaryComponent.tsx
  src/layout/Likert/Summary2/LikertSummary.module.css
  src/layout/Likert/Summary2/LikertSummary.tsx
  src/layout/Likert/config.ts
  src/layout/Likert/index.tsx
  src/layout/Map/Summary2/MapSummary.module.css
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/Summary2/config.tsx
  src/layout/Tabs/TabsSummary.tsx
Labels: kind/product-feature

#2460 Removing some node traversal
  src/codegen/ComponentConfig.ts
  src/components/form/Form.tsx
  src/components/message/ErrorReport.tsx
  src/features/form/layout/NavigateToNode.tsx
  src/features/validation/ValidationStorePlugin.tsx
  src/features/validation/callbacks/onFormSubmitValidation.ts
  src/features/validation/expressionValidation/ExpressionValidation.tsx
  src/features/validation/index.ts
  src/features/validation/selectors/taskErrors.ts
  src/test/renderWithProviders.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/types.ts
  src/utils/layout/useNodeTraversal.ts
Labels: kind/other, ignore-for-release

#2500 Fix tab navigation for dropdown
  src/features/options/useGetOptions.ts
  src/layout/Dropdown/DropdownComponent.tsx
  test/e2e/integration/component-library/dropdown.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: kind/bug

#2479 Validate subform data in main form
  src/components/ReadyForPrint.tsx
  src/components/form/Form.tsx
  src/components/message/ErrorReport.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/features/instance/ProcessNavigationContext.tsx
  src/features/routing/AppRoutingContext.tsx
  src/features/validation/backendValidation/BackendValidation.tsx
  src/features/validation/backendValidation/backendValidationUtils.ts
  src/features/validation/callbacks/onFormSubmitValidation.ts
  src/features/validation/callbacks/onPageNavigationValidation.ts
  src/features/validation/expressionValidation/ExpressionValidation.test.tsx
  src/features/validation/expressionValidation/ExpressionValidation.tsx
  src/features/validation/index.ts
  src/features/validation/invalidDataValidation/InvalidDataValidation.tsx
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/features/validation/schemaValidation/SchemaValidation.test.tsx
  src/features/validation/schemaValidation/SchemaValidation.tsx
  src/features/validation/validationContext.tsx
  src/hooks/useNavigatePage.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Subform/SubformComponent.module.css
  src/layout/Subform/SubformComponent.tsx
  src/layout/Subform/SubformWrapper.tsx
  src/layout/Subform/index.tsx
  src/layout/index.ts
  src/utils/waitForAnimationFrames.ts
  test/e2e/integration/subform-test/subform.ts
Labels: kind/product-feature
