Repository Altinn/app-frontend-react, pull requests merged in 2024-06, with the labels that each got.

#2132 Use proper readOnly state for Checkboxes, Radiobuttons, and Likert
  src/components/form/Legend.module.css
  src/components/form/Legend.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/GenericComponentUtils.tsx
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  test/e2e/integration/frontend-test/components.ts
Labels: kind/other

#2127 Expression support for number formatting
  src/__mocks__/getHierarchyDataSourcesMock.ts
  src/core/ui/RenderStart.tsx
  src/features/expressions/ExprContext.ts
  src/features/expressions/index.ts
  src/features/expressions/shared.test.ts
  src/features/language/LangDataSourcesProvider.tsx
  src/features/language/LangToolsStore.tsx
  src/features/language/useLanguage.ts
  src/features/validation/expressionValidation/useExpressionValidation.test.ts
  src/hooks/useMapToReactNumberConfig.ts
  src/hooks/useSourceOptions.ts
  src/layout/Input/InputComponent.tsx
  src/layout/Input/config.ts
  src/layout/Input/index.tsx
  src/utils/layout/hierarchy.ts
  test/e2e/integration/frontend-test/formatting.ts
Labels: kind/product-feature

#2126 Fix/kan-ikke-velge-underenhet-2033
  src/features/party/PartiesProvider.tsx
  src/features/party/partyProviderUtils.test.ts
  src/features/party/partyProviderUtils.ts
  test/README.md
Labels: kind/bug

#2131 Feat/2070 summary component 2: Added Radio group Feat/2060 and Checkbox group Feat/2061
  src/layout/Checkboxes/CheckboxesContainerComponentSummary.module.css
  src/layout/Checkboxes/config.ts
  src/layout/Checkboxes/index.tsx
  src/layout/RadioButtons/ControlledRadioGroupSummary.module.css
  src/layout/RadioButtons/index.tsx
Labels: kind/product-feature

#2141 refactor: never show add button when maxCount is reached
  src/layout/RepeatingGroup/RepeatingGroupContainer.tsx
  test/e2e/integration/frontend-test/group.ts
Labels: kind/bug

#2140 Alert on change for Dropdown and MultipleSelect
  package.json
  src/components/form/Caption.tsx
  src/components/form/RadioButton.module.css
  src/components/molecules/DeleteWarningPopover.module.css
  src/components/molecules/DeleteWarningPopover.tsx
  src/components/presentation/LanguageSelector.tsx
  src/components/presentation/NavBar.test.tsx
  src/features/devtools/DevTools.module.css
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/DevToolsLogs/DevToolsLogs.tsx
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.module.css
  src/features/devtools/components/VersionSwitcher/VersionSwitcher.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/features/language/textResources/useGetAppLanguagesQuery.ts
  src/features/options/useGetOptions.test.tsx
  src/features/options/useGetOptions.ts
  src/hooks/useAlertOnChange.ts
  src/index.css
  src/language/sharedLanguage.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Checkboxes/CheckboxesContainerComponent.module.css
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Dropdown/config.ts
  src/layout/FileUpload/FileUploadComponent.test.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/Input/InputComponent.tsx
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.test.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/MultipleSelect/config.ts
  src/layout/Paragraph/ParagraphComponent.test.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RadioButtons/radioButtonsUtils.ts
  src/layout/RepeatingGroup/RepeatingGroupTableRow.tsx
  src/layout/RepeatingGroup/Summary/__snapshots__/SummaryRepeatingGroup.test.tsx.snap
  src/styles/combobox.module.css
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/custom.ts
  yarn.lock
Labels: kind/product-feature

#2157 fix: normalize file extensions to lower case
  src/layout/FileUpload/utils/fileEndings.test.ts
  src/layout/FileUpload/utils/fileEndings.ts
Labels: kind/bug

#2159 DevTools: Click directly on components to show details
  src/features/devtools/DevTools.module.css
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/components/LayoutInspector/ComponentSelector.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspectorItem.tsx
  src/features/devtools/components/NodeInspector/NodeHierarchy.tsx
  src/features/devtools/hooks/useComponentHighlighter.ts
  src/layout/ButtonGroup/ButtonGroupComponent.tsx
  src/layout/Cards/Cards.tsx
  src/layout/Group/GroupComponent.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/Summary/LargeLikertSummaryContainer.tsx
  src/layout/LikertItem/LikertItemComponent.module.css
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/RepeatingGroup/RepeatingGroupContainer.tsx
  src/layout/Summary/SummaryComponent.tsx
Labels: kind/other

#2110 Feature/tabs
  src/codegen/ComponentConfig.ts
  src/features/expressions/index.ts
  src/features/expressions/shared-tests/functions/displayValue/tabs.json
  src/layout/Group/GroupComponent.tsx
  src/layout/Image/ImageComponent.tsx
  src/layout/LayoutComponent.tsx
  src/layout/RadioButtons/config.ts
  src/layout/RepeatingGroup/index.tsx
  src/layout/Tabs/Tabs.tsx
  src/layout/Tabs/config.ts
  src/layout/Tabs/hierarchy.ts
  src/layout/Tabs/index.tsx
  src/layout/index.ts
  src/utils/layout/HierarchyGenerator.ts
  src/utils/layout/LayoutNode.ts
  src/utils/layout/LayoutPages.ts
  src/utils/layout/hierarchy.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/dynamics.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/frontend-test/rules.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/frontend-test/tabbing.ts
  test/e2e/integration/frontend-test/tabs.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/support/formFiller.ts
Labels: kind/feature-request, kind/product-feature

#2167 Feat/2062 group
  src/features/pdf/PDFView.module.css
  src/layout/Group/GroupSummary.module.css
  src/layout/Group/GroupSummary.tsx
  src/layout/Group/config.ts
  src/layout/Group/index.tsx
  src/layout/Summary2/SummaryComponent2/ComponentSummary.tsx
Labels: kind/product-feature

#2175 Fix alertOnChange for RadioButtons so it does not alert when empty
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  test/e2e/integration/frontend-test/components.ts
Labels: kind/bug

#2183 Skip payment e2e test
  test/e2e/integration/payment-test/payment.ts
Labels: kind/other, ignore-for-release

#2186 Fix dropdown crashing if option is missing label (attempt #2)
  src/features/options/useGetOptions.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/utils/options.ts
Labels: kind/bug

#2187 Feat/2062 group
  src/layout/Group/GroupSummary.module.css
  src/layout/Group/GroupSummary.tsx
  src/layout/Header/index.tsx
Labels: kind/product-feature

#2181 Feat/2174 text area
  src/layout/Summary2/CommonSummaryComponents/SingleValueSummary.module.css
  src/layout/Summary2/CommonSummaryComponents/SingleValueSummary.tsx
  src/layout/TextArea/TextAreaSummary.tsx
  src/layout/TextArea/config.ts
  src/layout/TextArea/index.tsx
Labels: kind/product-feature
