Repository Altinn/app-frontend-react, pull requests merged in 2024-11, with the labels that each got.

#2677 Grid summary did not render components as desired
  src/layout/Grid/GridSummary.tsx
Labels: kind/bug

#2661 Fix spelling mistake in payment receipt
  src/language/texts/nb.ts
Labels: kind/bug

#2674 Panel Component
  src/app-components/panel/Panel.module.css
  src/app-components/panel/Panel.test.tsx
  src/app-components/panel/Panel.tsx
  src/app-components/panel/constants.ts
  src/codegen/Common.ts
  src/components/form/Panel.test.tsx
  src/components/form/Panel.tsx
  src/components/message/ErrorPaper.test.tsx
  src/components/message/ErrorReport.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/instance/ProcessContext.tsx
  src/hooks/useNavigatePage.ts
  src/layout/IFrame/IFrameComponent.tsx
  src/layout/Panel/CustomPanelIcon.tsx
  src/layout/Panel/Panel.module.css
  src/layout/Panel/PanelComponent.tsx
  src/layout/Panel/config.ts
Labels: kind/other

#2683 Fixing frequent re-renders with latest `app-lib-dotnet`
  src/features/datamodel/DataModelsProvider.tsx
  src/features/datamodel/useBindingSchema.tsx
  src/features/instance/InstanceContext.tsx
  src/features/validation/index.ts
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/layout/Subform/index.tsx
Labels: kind/bug

#2682 Remove `ApplicationLogic.AllowInSubform` property
  src/__mocks__/getApplicationMetadataMock.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Subform/SubformValidator.tsx
  src/types/shared.ts
Labels: kind/other

#2686 Performance: Make node data commit queue cheaper
  src/core/contexts/zustandContext.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/CommitQueue.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
Labels: kind/other

#2688 Performance: Use node directly in getValidations instead of searching by id
  src/features/validation/ValidationStorePlugin.tsx
  src/utils/layout/LayoutPage.ts
  src/utils/layout/LayoutPages.ts
  src/utils/splitDashedKey.ts
Labels: kind/other

#2685 Performance: Make delayed selector much cheaper
  src/core/structures/ShallowArrayMap.test.ts
  src/core/structures/ShallowArrayMap.ts
  src/hooks/delayedSelectors.ts
Labels: kind/other

#2680 Refactor Input component to App Components
  src/app-components/Input/FormattedInput.tsx
  src/app-components/Input/Input.module.css
  src/app-components/Input/Input.tsx
  src/app-components/Input/NumericInput.tsx
  src/app-components/Input/constants.ts
  src/features/devtools/components/DevToolsLogs/DevToolsLogs.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/Input/InputComponent.module.css
  src/layout/Input/InputComponent.tsx
  src/layout/Input/config.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/tabs.ts
  test/e2e/integration/multiple-datamodels-test/saving.ts
Labels: kind/other

#2701 Making node-lookups faster
  src/utils/layout/LayoutPage.ts
  src/utils/layout/LayoutPages.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/useNodeTraversal.ts
Labels: kind/other

#2703 Performance: static componentConfigs
  src/codegen/run.ts
Labels: kind/other

#2704 Queue for removing nodes
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/CommitQueue.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/generator/NodeGenerator.tsx
Labels: kind/bug, org/ssb

#2700 Associate test and staging envs in pipeline
  .github/workflows/release.yml
  .github/workflows/revert.yml
Labels: kind/other, ignore-for-release

#2709 Performance: Speed up `getHostSibling` for repeating group row generation
  src/layout/Checkboxes/__snapshots__/MultipleChoiceSummary.test.tsx.snap
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/RepeatingGroup/Summary/__snapshots__/SummaryRepeatingGroup.test.tsx.snap
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
Labels: kind/other

#2705 Upgrade Cypress GitHub Action
  .github/workflows/cypress.yml
Labels: kind/dependencies

#2707 Rewriting `AppRoutingContext` to avoid late URL state problems
  src/components/form/Form.tsx
  src/components/form/LinkToPotentialNode.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/features/expressions/expression-functions.ts
  src/features/instance/ProcessNavigationContext.tsx
  src/features/routing/AppRoutingContext.tsx
  src/hooks/useIsPdf.ts
  src/hooks/useNavigatePage.ts
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/Subform/SubformComponent.tsx
  src/layout/Subform/Summary/SubformSummaryTable.tsx
Labels: kind/bug

#2711 Steps to validate tag name in pipelines
  .github/workflows/release.yml
  .github/workflows/revert.yml
  .github/workflows/test/release-preview-invalid-suffix.json
  .github/workflows/test/release-preview-success.json
  .github/workflows/test/release-rc-invalid-suffix.json
  .github/workflows/test/release-rc-success.json
  .github/workflows/test/release-stable-invalid-prerelease-value.json
  .github/workflows/test/release-stable-invalid-suffix.json
  .github/workflows/test/release-stable-missing-v.json
  .github/workflows/test/release-stable-success.json
Labels: kind/other, ignore-for-release

#2692 Fixing plugin code broken by minification
  src/features/alertOnChange/AlertOnChangePlugin.tsx
  src/features/attachments/AttachmentsPlugin.tsx
  src/features/options/OptionsPlugin.tsx
  src/features/validation/ValidationPlugin.tsx
  src/layout/Cards/CardsPlugin.tsx
  src/layout/Grid/GridRowsPlugin.tsx
  src/layout/Likert/Generator/LikertRowsPlugin.tsx
  src/layout/Tabs/TabsPlugin.tsx
  src/utils/layout/plugins/NodeDefPlugin.tsx
  src/utils/layout/plugins/NonRepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
Labels: kind/other, ignore-for-release

#2712 Repeating group summary2 table mode
  src/features/expressions/shared-tests/functions/displayValue/date.json
  src/features/expressions/shared-tests/functions/displayValue/number.json
  src/features/expressions/shared-tests/functions/displayValue/text.json
  src/layout/Date/index.tsx
  src/layout/Number/index.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.module.css
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableTitle.tsx
  src/layout/RepeatingGroup/config.ts
  src/layout/RepeatingGroup/index.tsx
  src/layout/RepeatingGroup/useTableNodes.ts
  src/layout/Summary2/CommonSummaryComponents/EditButton.tsx
  src/layout/Text/index.tsx
  test/e2e/integration/component-library/repeating-group.ts
Labels: kind/product-feature

#2715 Safer way to select older data while re-generating parts of the node tree
  src/features/formData/FormDataWrite.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupContext.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupFocusContext.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/CommitQueue.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
  src/utils/layout/useNodeItem.ts
  src/utils/layout/useNodeTraversal.ts
Labels: kind/other

#2710 Feat/1804 pdf preview
  .github/workflows/cypress.yml
  src/components/PDFGeneratorPreview/PDFGeneratorPreview.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/features/instance/InstanceContext.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/PDFPreviewButton/PDFPreviewButtonComponent.tsx
  src/layout/PDFPreviewButton/config.ts
  src/layout/PDFPreviewButton/index.tsx
Labels: kind/product-feature

#2724 Faster save processing, reworking `useNodeValidation()`
  src/components/form/Form.tsx
  src/components/presentation/Presentation.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/core/loading/Loader.tsx
  src/features/formData/FormDataWrite.tsx
  src/features/formData/FormDataWriteStateMachine.tsx
  src/features/routing/AppRoutingContext.tsx
  src/features/validation/StoreValidationsInNode.tsx
  src/features/validation/ValidationPlugin.tsx
  src/features/validation/backendValidation/BackendValidation.tsx
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/features/validation/nodeValidation/waitForNodesToValidate.ts
  src/features/validation/validationContext.tsx
  src/hooks/useWaitForState.ts
  src/layout/Subform/SubformComponent.tsx
  src/layout/Subform/SubformWrapper.tsx
  src/layout/Subform/Summary/SubformSummaryTable.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/GeneratorDataSources.tsx
  src/utils/layout/generator/GeneratorStages.tsx
Labels: kind/other

#2730 Faster directChildren and pickDirectChildren
  src/core/contexts/context.tsx
  src/utils/layout/LayoutPage.ts
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
Labels: kind/other

#2722 Added support for wms-type tilelayers in map-component
  src/layout/Map/Map.tsx
  src/layout/Map/config.ts
Labels: external-contribution-❤️, kind/product-feature

#2732 Performance fixes that improved ra0692-01
  src/features/alertOnChange/DeleteWarningPopover.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/utils/layout/generator/GeneratorStages.tsx
Labels: kind/bug, org/ssb

#2733 Fix distracting MUI console error
  src/components/organisms/AltinnAppHeaderMenu.module.css
  src/components/organisms/AltinnAppHeaderMenu.tsx
  src/layout/Checkboxes/__snapshots__/MultipleChoiceSummary.test.tsx.snap
  test/e2e/integration/stateless-app/stateless.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#2739 Cheaper version of zustand's useShallow
  src/core/contexts/zustandContext.tsx
  src/hooks/useShallowObjectMemo.ts
Labels: kind/other

#2742 maybe fix flaky test
  src/features/validation/ValidationPlugin.test.tsx
Labels: ignore-for-release

#2744 Run Percy on main branch
  .github/workflows/cypress.yml
Labels: kind/bug

#2726 Extract label type from label
  src/app-components/Label/Label.module.css
  src/app-components/Label/Label.tsx
  src/components/form/Fieldset.tsx
  src/components/form/OptionalIndicator.tsx
  src/components/form/caption/Caption.tsx
  src/components/label/Label.tsx
  src/components/label/LabelContent.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/GenericComponent.tsx
  src/layout/Input/InputComponent.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/List/ListComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/TextArea/TextAreaComponent.tsx
  src/utils/layout/useLabel.tsx
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/mobile.ts
Labels: kind/other

#2741 Fixes address padding and validation error positions
  src/layout/Address/AddressComponent.tsx
  test/e2e/integration/component-library/address.ts
Labels: kind/bug

#2751 Removing dep @material-ui/pickers
  package.json
  yarn.lock
Labels: kind/dependencies

#2749 Queue for removing rows
  src/layout/Likert/Generator/LikertGeneratorChildren.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/CommitQueue.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
Labels: kind/bug

#2754 Add support for new attachment API and improve UX for error messages
  src/features/attachments/AttachmentsPlugin.tsx
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/attachments/StoreAttachmentsInNode.tsx
  src/features/attachments/hooks.ts
  src/features/attachments/index.ts
  src/features/attachments/sortAttachments.ts
  src/features/formData/types.ts
  src/features/instance/InstanceContext.tsx
  src/features/subformData/useSubformMutations.tsx
  src/features/validation/backendValidation/validationTexts.ts
  src/features/validation/index.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/FileUpload/DropZone/DropzoneComponent.tsx
  src/layout/FileUpload/Error/FailedAttachments.module.css
  src/layout/FileUpload/Error/FailedAttachments.tsx
  src/layout/FileUpload/FileUploadComponent.test.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/FileUpload/RejectedFileError.ts
  src/layout/FileUpload/handleRejectedFiles.ts
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
  src/types/shared.ts
  src/utils/attachmentsUtils.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/product-feature

#2757 Allowing `maxCount: 1` in RepeatingGroup
  src/features/devtools/utils/layoutSchemaValidation.ts
  src/layout/RepeatingGroup/config.ts
Labels: kind/bug

#2747 Pass tracecontext from PDF generator cookies back to app
  src/features/propagateTraceWhenPdf/index.ts
  src/features/routing/AppRoutingContext.tsx
  src/index.tsx
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/subform-test/subform.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
  test/e2e/support/navigation.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/other, ignore-for-release

#2766 Renamed app-components to pascal casing
  src/app-components/Button/Button.tsx
  src/app-components/Datepicker/Datepicker.tsx
  src/app-components/Panel/Panel.module.css
  src/app-components/Panel/Panel.test.tsx
  src/app-components/Panel/Panel.tsx
  src/app-components/Panel/constants.ts
  src/app-components/Table/Table.module.css
  src/app-components/Table/Table.test.tsx
  src/app-components/Table/Table.tsx
  src/components/PDFGeneratorPreview/PDFGeneratorPreview.tsx
  src/components/message/ErrorReport.tsx
  src/components/presentation/NavBar.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/alertOnChange/DeleteWarningPopover.tsx
  src/features/devtools/DevToolsPanel.tsx
  src/features/devtools/components/DevToolsLogs/DevToolsLogs.tsx
  src/features/devtools/components/DownloadXMLButton/DownloadXMLButton.tsx
  src/features/devtools/components/FeatureToggles/FeatureToggles.tsx
  src/features/devtools/components/LayoutInspector/ComponentSelector.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/features/devtools/components/VersionSwitcher/VersionSwitcher.tsx
  src/features/instantiate/containers/InvalidSubformLayoutError.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/features/instantiate/containers/UnknownError.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.tsx
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/Button/ButtonComponent.tsx
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/Datepicker/DropdownCaption.tsx
  src/layout/FileUpload/FileUploadTable/FileTableButtons.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/IFrame/IFrameComponent.tsx
  src/layout/InstantiationButton/InstantiationButton.tsx
  src/layout/Link/LinkComponent.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/layout/Panel/PanelComponent.tsx
  src/layout/Panel/config.ts
  src/layout/PrintButton/PrintButtonComponent.tsx
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupsEditContainer.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/layout/SimpleTable/SimpleTableComponent.tsx
  src/layout/SimpleTable/SimpleTableSummary.tsx
  src/layout/SimpleTable/typeguards.ts
  src/layout/Subform/SubformComponent.tsx
  src/layout/Summary/EditButton.tsx
  src/layout/Summary2/CommonSummaryComponents/EditButton.tsx
Labels: kind/other

#2769 Feature/simple table external api fix casting
  src/app-components/Table/Table.tsx
  src/layout/SimpleTable/ApiTable.tsx
  src/layout/SimpleTable/SimpleTableComponent.tsx
  src/layout/SimpleTable/typeguards.ts
Labels: kind/other
