Repository Altinn/app-frontend-react, pull requests merged in 2024-05, with the labels that each got.

#2073 chore: remove unnecessary logging of error stack in custom button
  src/layout/CustomButton/CustomButtonComponent.tsx
Labels: kind/other, ignore-for-release

#2075 Fix severities in expression validation schema
  schemas/json/validation/validation.schema.v1.json
Labels: kind/other

#2076 Several performace improvements
  src/core/contexts/zustandContext.tsx
  src/features/devtools/layoutValidation/useLayoutValidation.tsx
  src/features/form/layout/PageNavigationContext.tsx
  src/features/formData/FormDataWrite.tsx
  src/features/options/useAllOptions.tsx
  src/features/validation/selectors/taskErrors.ts
  src/utils/layout/NodesContext.tsx
Labels: kind/other

#2043 Feat/1736 payment
  .github/workflows/cypress.yml
  cypress.config.js
  package.json
  src/__mocks__/getOrderDetailsPayloadMock.ts
  src/__mocks__/getPaymentPayloadMock.ts
  src/features/pdf/PDFView.module.css
  src/features/pdf/PDFView.tsx
  src/global.d.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/layout/Payment/PaymentComponent.module.css
  src/layout/Payment/PaymentComponent.tsx
  src/layout/Payment/SkeletonLoader/SkeletonLoader.module.css
  src/layout/Payment/SkeletonLoader/SkeletonLoader.tsx
  src/layout/Payment/SummaryPaymentComponent.tsx
  src/layout/Payment/config.ts
  src/layout/Payment/index.tsx
  src/layout/Payment/queries/types.ts
  src/layout/Payment/queries/useOrderDetailsQuery.tsx
  src/layout/Payment/queries/usePaymentInformationQuery.tsx
  src/layout/Payment/queries/usePerformPaymentMutation.tsx
  src/layout/PaymentDetails/PaymentDetailsComponent.tsx
  src/layout/PaymentDetails/PaymentDetailsTable.module.css
  src/layout/PaymentDetails/PaymentDetailsTable.tsx
  src/layout/PaymentDetails/config.ts
  src/layout/PaymentDetails/index.tsx
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
  src/types/index.ts
  src/utils/urls/appUrlHelper.ts
  test/README.md
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/payment-test/payment.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.d.ts
  test/e2e/support/index.ts
  test/e2e/support/start-app-instance.ts
  test/tsconfig.json
  yarn.lock
Labels: kind/product-feature

#2093 Fix/2000 empty headers and description
  src/components/atoms/AltinnAttachment.tsx
  src/layout/Panel/PanelComponent.tsx
  src/layout/TextArea/TextAreaComponent.test.tsx
  src/layout/TextArea/TextAreaComponent.tsx
Labels: kind/bug

#2085 Pagination for repeating groups
  src/components/message/ErrorReport.tsx
  src/hooks/useIsMobile.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/RepeatingGroup/RepeatingGroup.module.css
  src/layout/RepeatingGroup/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/RepeatingGroupContext.tsx
  src/layout/RepeatingGroup/RepeatingGroupFocusContext.tsx
  src/layout/RepeatingGroup/RepeatingGroupPagination.module.css
  src/layout/RepeatingGroup/RepeatingGroupPagination.tsx
  src/layout/RepeatingGroup/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/RepeatingGroupTableRow.tsx
  src/layout/RepeatingGroup/config.ts
  src/utils/useGetKeyFromObject.ts
Labels: kind/product-feature

#2097 Fix cypress error caused by mixing up sync and async code
  test/e2e/support/custom.ts
Labels: ignore-for-release

#2100 Avoid 401 in anonymous apps due to prefetching
  src/features/language/LanguageProvider.tsx
  src/features/language/textResources/TextResourcesProvider.tsx
  src/features/party/PartiesProvider.tsx
  src/index.tsx
  src/queries/appPrefetcher.ts
  src/queries/partyPrefetcher.ts
  test/e2e/integration/frontend-test/party-selection.ts
Labels: kind/other

#2094 Display name instead of paymentId in name field, and format expiration date
  src/layout/Payment/SummaryPaymentComponent.tsx
Labels: kind/bug

#2103 Make sure payment data is loaded for PDF
  src/__mocks__/getPaymentPayloadMock.ts
  src/features/form/FormContext.tsx
  src/features/payment/OrderDetailsProvider.tsx
  src/features/payment/PaymentInformationProvider.tsx
  src/features/payment/types.ts
  src/features/payment/usePerformPaymentMutation.ts
  src/features/payment/utils.ts
  src/features/pdf/PDFView.tsx
  src/layout/Payment/PaymentComponent.tsx
  src/layout/Payment/SkeletonLoader/index.tsx
  src/layout/Payment/SummaryPaymentComponent.tsx
  src/layout/Payment/queries/useOrderDetailsQuery.tsx
  src/layout/Payment/queries/usePaymentInformationQuery.tsx
  src/layout/PaymentDetails/PaymentDetailsComponent.tsx
  src/layout/PaymentDetails/PaymentDetailsTable.tsx
  src/queries/formPrefetcher.ts
  src/queries/queries.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/other

#2109 Use language in Nets
  src/features/payment/OrderDetailsProvider.tsx
  src/features/payment/PaymentInformationProvider.tsx
  src/features/payment/usePerformPaymentMutation.ts
  src/queries/queries.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/payment-test/payment.ts
Labels: kind/product-feature, ignore-for-release

#2111 Fix edge case where validations may not show up
  src/features/validation/ComponentValidations.tsx
  src/features/validation/selectors/deepValidationsForNode.ts
  src/features/validation/utils.ts
  src/layout/GenericComponent.tsx
  src/layout/RepeatingGroup/RepeatingGroupPagination.tsx
Labels: kind/bug
