Repository Altinn/app-frontend-react, pull requests merged in 2024-02, with the labels that each got.

#1765 Fixing some complex text resource lookups
  src/features/language/useLanguage.test.tsx
  src/features/language/useLanguage.ts
  src/types/shared.ts
Labels: kind/bug

#1768 fix: Navigating between pages scrolls the window to top
  src/index.tsx
  test/e2e/integration/frontend-test/navigation.ts
Labels: kind/bug

#1771 DevTools bugfixes
  src/features/devtools/DevTools.module.css
  src/features/devtools/DevToolsControls.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/DownloadXMLButton/DownloadXMLButton.tsx
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.module.css
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/devtools/components/FeatureToggles/FeatureToggles.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/devtools/components/PermissionsEditor/PermissionsEditor.tsx
  src/features/devtools/data/DevToolsStore.ts
  src/features/logging.ts
  src/features/pdf/PDFWrapper.tsx
  src/layout/GenericComponent.module.css
Labels: kind/bug

#1769 Showing the current git branch in LocalTest when picking a frontend version
  webpack.config.development.js
Labels: kind/product-feature

#1775 Make sure buttons are not visible in PDF
  src/components/form/HelpTextContainer.module.css
  src/features/pdf/PDFView.module.css
  src/features/pdf/PDFView.tsx
  src/layout/Grid/GridSummaryComponent.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/RepeatingGroup/Summary/__snapshots__/SummaryRepeatingGroup.test.tsx.snap
  src/layout/Summary/EditButton.module.css
  src/layout/Summary/EditButton.tsx
  test/e2e/support/custom.ts
Labels: kind/bug

#1777 Fix custom PDF layout
  src/features/pdf/PDFView.module.css
  src/features/pdf/PDFWrapper.tsx
  src/hooks/usePdfPage.ts
  test/e2e/integration/frontend-test/pdf.ts
Labels: kind/bug

#1787 Bugfix: Multiple issues with `openByDefault`
  src/core/contexts/zustandContext.tsx
  src/features/validation/backend/useBackendValidation.ts
  src/features/validation/hooks.ts
  src/features/validation/validationContext.tsx
  src/layout/RepeatingGroup/OpenByDefaultProvider.test.tsx
  src/layout/RepeatingGroup/OpenByDefaultProvider.tsx
  src/layout/RepeatingGroup/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/RepeatingGroupContext.tsx
  src/layout/RepeatingGroup/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/RepeatingGroupsEditContainer.tsx
  test/e2e/integration/frontend-test/group.ts
Labels: kind/breaking-change

#1788 Remove global `list-style-type: none;`
  src/features/validation/ComponentValidations.tsx
  src/index.css
Labels: kind/bug

#1789 Enable grid support in custom pdf
  src/features/pdf/PDFView.module.css
  src/features/pdf/PDFView.tsx
  src/features/pdf/usePdfFormatQuery.ts
  src/hooks/usePdfPage.ts
  src/layout/Summary/SummaryContent.module.css
Labels: kind/bug, kind/breaking-change, fe-v4

#1793 Added support for the property headingLevel on group components
  src/layout/Group/GroupComponent.tsx
  src/layout/Group/config.ts
Labels: area/accessibility, kind/product-feature

#1796 Make attachment summary more responsive
  src/layout/FileUpload/Summary/AttachmentSummaryComponent.module.css
  src/layout/FileUpload/Summary/AttachmentSummaryComponent.tsx
Labels: kind/bug

#1798 fix: add logging to devtools whenever an action fails.
  src/layout/CustomButton/CustomButtonComponent.tsx
Labels: kind/product-feature

#1810 hiding hidden rows in summary
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.tsx
  src/layout/RepeatingGroup/Summary/__snapshots__/SummaryRepeatingGroup.test.tsx.snap
  test/e2e/integration/frontend-test/group.ts
Labels: kind/bug

#1800 Fix/1779 likert error report
  src/features/instantiate/selection/InstanceSelection.module.css
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/validation/ComponentValidations.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Accordion/index.tsx
  src/layout/AccordionGroup/index.tsx
  src/layout/ActionButton/index.tsx
  src/layout/Address/index.tsx
  src/layout/Alert/index.tsx
  src/layout/AttachmentList/index.tsx
  src/layout/Button/index.tsx
  src/layout/ButtonGroup/index.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Custom/index.tsx
  src/layout/CustomButton/index.tsx
  src/layout/Datepicker/index.tsx
  src/layout/Dropdown/index.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUploadWithTag/index.tsx
  src/layout/GenericComponent.tsx
  src/layout/Grid/Grid.module.css
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/index.tsx
  src/layout/Group/index.tsx
  src/layout/Header/index.tsx
  src/layout/IFrame/index.tsx
  src/layout/Image/index.tsx
  src/layout/Input/index.tsx
  src/layout/InstanceInformation/index.tsx
  src/layout/InstantiationButton/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/LikertComponent.test.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/index.tsx
  src/layout/LikertItem/LikertItemComponent.module.css
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/LikertItem/index.tsx
  src/layout/Link/index.tsx
  src/layout/List/index.tsx
  src/layout/Map/index.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/NavigationBar/index.tsx
  src/layout/NavigationButtons/index.tsx
  src/layout/Panel/index.tsx
  src/layout/Paragraph/index.tsx
  src/layout/PrintButton/index.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/RepeatingGroup/RepeatingGroup.module.css
  src/layout/RepeatingGroup/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/RepeatingGroupTableRow.tsx
  src/layout/RepeatingGroup/index.tsx
  src/layout/Summary/index.tsx
  src/layout/TextArea/index.tsx
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/bug

#1814 Remove support for non-layout-sets apps
  src/features/form/layout/LayoutsContext.tsx
Labels: kind/breaking-change

#1770 Fullwidth setting for layout pages
  src/codegen/Common.ts
  src/components/form/Form.tsx
  src/features/form/layout/LayoutsContext.tsx
  src/features/form/layout/UiConfigContext.tsx
  src/features/form/layoutSettings/LayoutSettingsContext.tsx
  src/test/renderWithProviders.tsx
  src/types/index.ts
  test/e2e/integration/frontend-test/ui-settings.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/product-feature

#1816 Fixing `go-to-task` button, adding tests (v3)
  src/features/layout/fetch/fetchFormLayoutSagas.test.ts
  src/features/layout/fetch/fetchFormLayoutSagas.ts
  src/hooks/queries/useFormDataQuery.ts
  src/hooks/useProcess.ts
  src/layout/Likert/RepeatingGroupsLikertContainer.test.tsx
  test/e2e/integration/frontend-test/custom-confirm.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/bug

#1818 Adding cypress test for custom confirm page, removing `go-to-task` button
  src/features/instance/ProcessNavigationContext.tsx
  src/layout/Button/GoToTaskButton.test.tsx
  src/layout/Button/GoToTaskButton.tsx
  src/layout/Button/config.ts
  src/layout/Button/getComponentFromMode.ts
  src/queries/queries.ts
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/custom-confirm.ts
Labels: kind/other

#1819 Fix `labelFrom` in Grid
  src/layout/Grid/GridComponent.tsx
Labels: kind/bug

#1822 Fix `labelFrom` in Grid (v3)
  src/layout/Grid/GridComponent.tsx
Labels: kind/bug

#1820 Adding cypress test for validation + saving `onChangePage`
  test/e2e/integration/frontend-test/auto-save-behavior.ts
Labels: kind/other

#1824 Allowing project references in version numbers
  src/features/applicationMetadata/ApplicationMetadataProvider.tsx
  src/utils/versionCompare.test.ts
  src/utils/versionCompare.ts
Labels: kind/bug

#1829 Fix options loading and clearing
  src/features/options/useAllOptions.tsx
  src/features/options/useGetOptions.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#1826 feat: add support for defining a custom receipt layoutset
  src/codegen/Common.ts
  src/components/wrappers/ProcessWrapper.tsx
  src/features/applicationMetadata/appMetadataUtils.test.ts
  src/features/applicationMetadata/appMetadataUtils.ts
  src/features/datamodel/useBindingSchema.tsx
  src/features/form/FormContext.tsx
  src/features/form/layoutSets/useCurrentLayoutSetId.ts
  src/features/instance/ProcessContext.tsx
  src/features/instance/useProcessTaskId.ts
  src/features/receipt/CustomReceipt.module.css
  src/features/receipt/CustomReceipt.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/features/validation/backend/useBackendValidation.ts
  src/features/validation/frontend/schemaValidation.test.ts
  src/features/validation/frontend/schemaValidation.ts
  src/features/validation/hooks.ts
  src/features/validation/index.ts
  src/features/validation/validationContext.tsx
  src/hooks/useNavigatePage.ts
  src/utils/layout/LayoutPage.ts
  src/utils/layout/index.tsx
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/support/customReceipt.ts
Labels: kind/product-feature

#1831 fix: use forwardRef instead of renaming the ref-component
  src/layout/LayoutComponent.tsx
  src/layout/RepeatingGroup/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/index.tsx
Labels: kind/bug

#1832 Sticky header for repeating groups
  src/layout/RepeatingGroup/RepeatingGroup.module.css
  src/layout/RepeatingGroup/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/config.ts
Labels: kind/product-feature

#1839 fix: navigate to main content whenever the user performs a page navigation
  src/components/wrappers/Presentation.tsx
  src/features/layout/formLayoutSlice.ts
Labels: kind/bug

#1836 fix: make all layout componenst support receiving refs
  src/layout/Accordion/index.tsx
  src/layout/AccordionGroup/index.tsx
  src/layout/ActionButton/index.tsx
  src/layout/Address/index.tsx
  src/layout/Alert/index.tsx
  src/layout/AttachmentList/index.tsx
  src/layout/Button/index.tsx
  src/layout/ButtonGroup/index.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Custom/index.tsx
  src/layout/CustomButton/index.tsx
  src/layout/Datepicker/index.tsx
  src/layout/Dropdown/index.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUploadWithTag/index.tsx
  src/layout/Grid/index.tsx
  src/layout/Group/index.tsx
  src/layout/Header/index.tsx
  src/layout/IFrame/index.tsx
  src/layout/Image/index.tsx
  src/layout/Input/index.tsx
  src/layout/InstanceInformation/index.tsx
  src/layout/InstantiationButton/index.tsx
  src/layout/Likert/index.tsx
  src/layout/LikertItem/index.tsx
  src/layout/Link/index.tsx
  src/layout/List/index.tsx
  src/layout/Map/index.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/NavigationBar/index.tsx
  src/layout/NavigationButtons/index.tsx
  src/layout/Panel/index.tsx
  src/layout/Paragraph/index.tsx
  src/layout/PrintButton/index.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/RepeatingGroup/index.tsx
  src/layout/Summary/index.tsx
  src/layout/TextArea/index.tsx
Labels: kind/other

#1837 fix: focus on main content of the form on page navigation
  src/components/form/Form.tsx
  src/components/presentation/Presentation.tsx
  src/hooks/useNavigatePage.ts
  test/e2e/integration/frontend-test/navigation.ts
Labels: kind/bug, area/accessibility

#1838 Show unknown error on options not found
  src/features/options/useAllOptions.test.tsx
  src/features/options/useAllOptions.tsx
  src/features/options/useGetOptions.ts
Labels: kind/bug

#1835 Include empty fields in mapping as empty query parameters
  src/features/formData/FormDataWrite.tsx
  src/features/options/useGetOptions.test.tsx
  src/layout/FileUpload/Summary/AttachmentWithTagSummaryComponent.test.tsx
Labels: kind/bug

#1843 Fix/navigation main content
  src/components/wrappers/Presentation.module.css
  src/features/formData/submit/submitFormDataSagas.ts
  src/features/layout/fetch/fetchFormLayoutSagas.test.ts
  src/features/layout/fetch/fetchFormLayoutSagas.ts
  src/features/layout/formLayoutSlice.ts
  src/features/layout/formLayoutTypes.ts
  src/features/layout/update/updateFormLayoutSagas.ts
  src/utils/formLayout.ts
Labels: kind/bug, area/accessibility

#1840 Change the screen reader semantics of the Likert component
  src/layout/Likert/LikertComponent.module.css
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.test.tsx
  src/layout/Likert/RepeatingGroupsLikertContainer.tsx
  src/layout/Likert/RepeatingGroupsLikertContainerTestUtils.tsx
  test/e2e/integration/frontend-test/likert.ts
  test/e2e/integration/frontend-test/mobile.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/pageobjects/likert.ts
Labels: kind/bug, area/accessibility

#1865 Validation for "invalid data" that cannot be saved + refactoring
  src/features/attachments/utils/preUpload.ts
  src/features/customValidation/CustomValidationContext.tsx
  src/features/customValidation/customValidationUtils.ts
  src/features/formData/FormDataWrite.tsx
  src/features/formData/FormDataWriteStateMachine.tsx
  src/features/validation/backend/useBackendValidation.ts
  src/features/validation/backendValidation/backendValidationUtils.ts
  src/features/validation/backendValidation/useBackendValidation.ts
  src/features/validation/backendValidation/validationTexts.ts
  src/features/validation/expressionValidation/shared-expression-validation-tests/many-errors.json
  src/features/validation/expressionValidation/shared-expression-validation-tests/nested-repeating.json
  src/features/validation/expressionValidation/shared-expression-validation-tests/override.json
  src/features/validation/expressionValidation/shared-expression-validation-tests/repeating.json
  src/features/validation/expressionValidation/shared-expression-validation-tests/single-field-equals.json
  src/features/validation/expressionValidation/shared-expression-validation-tests/warning.json
  src/features/validation/expressionValidation/useExpressionValidation.test.ts
  src/features/validation/expressionValidation/useExpressionValidation.ts
  src/features/validation/frontend/runValidations.ts
  src/features/validation/frontend/schemaValidation.ts
  src/features/validation/hooks.ts
  src/features/validation/index.ts
  src/features/validation/invalidDataValidation/useInvalidDataValidation.ts
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/features/validation/schemaValidation/schemaValidationUtils.test.ts
  src/features/validation/schemaValidation/schemaValidationUtils.ts
  src/features/validation/schemaValidation/useSchemaValidation.test.tsx
  src/features/validation/schemaValidation/useSchemaValidation.ts
  src/features/validation/selectors/attachmentValidations.ts
  src/features/validation/selectors/bindingValidationsForNode.ts
  src/features/validation/selectors/componentValidationsForNode.ts
  src/features/validation/selectors/deepValidationsForNode.ts
  src/features/validation/selectors/taskErrors.ts
  src/features/validation/selectors/unifiedValidationsForNode.ts
  src/features/validation/utils.ts
  src/features/validation/validationContext.tsx
  src/features/validation/visibility/useVisibility.ts
  src/features/validation/visibility/visibilityUtils.ts
  src/layout/Datepicker/index.tsx
  src/layout/GenericComponent.tsx
  src/layout/Group/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/index.tsx
  src/layout/RepeatingGroup/index.tsx
  src/layout/componentValidation.ts
  src/layout/index.ts
  src/modules.d.ts
  test/e2e/fixtures/texts.json
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/product-feature

#1861 fix: Likert component is now semantically a grouping of radio groups …
  src/layout/Likert/LikertComponent.test.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/LikertTestUtils.tsx
  src/layout/LikertItem/LikertItemComponent.module.css
  src/layout/LikertItem/LikertItemComponent.tsx
  test/e2e/integration/frontend-test/likert.ts
  test/e2e/integration/frontend-test/mobile.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/pageobjects/likert.ts
Labels: kind/bug

#1869 Fixes #1860
  src/layout/Summary/SummaryComponent.tsx
Labels: kind/bug

#1857 Removing some more code related to non-layoutset apps
  src/features/applicationMetadata/appMetadataUtils.ts
  src/features/form/dynamics/DynamicsContext.tsx
  src/features/form/layoutSettings/LayoutSettingsContext.tsx
  src/features/form/rules/RulesContext.tsx
  src/queries/queries.ts
  src/utils/urls/appUrlHelper.test.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/other

#1858 Removing release-script functionality that overwrites JsonSchema files
  .github/scripts/release.sh
Labels: kind/other

#1866 PDF generator preview
  src/features/devtools/components/PDFPreviewButton/PDFGeneratorPreview.tsx
  src/features/devtools/components/PDFPreviewButton/PDFPreview.module.css
  src/features/devtools/components/PDFPreviewButton/PDFPreviewButton.tsx
  src/hooks/useIsDev.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/product-feature

#1877 Fixes to number conversion, validation for invalid numbers/data
  src/features/formData/FormDataWrite.tsx
  src/features/formData/FormDataWriteStateMachine.tsx
  src/features/formData/convertData.test.ts
  src/features/formData/convertData.ts
  src/layout/Input/InputComponent.tsx
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/bug
