Repository Altinn/app-frontend-react, pull requests merged in 2024-01, with the labels that each got.

#1715 Bug: CustomButton authorization
  src/hooks/useNavigatePage.ts
  src/layout/CustomButton/CustomButtonComponent.test.tsx
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/CustomButton/config.ts
  src/layout/CustomButton/typeHelpers.ts
Labels: kind/bug

#1722 fix: issue with navigation redirecting to /undefined/Task_1 when remo…
  src/hooks/useNavigatePage.ts
  test/e2e/integration/frontend-test/navigation.ts
Labels: kind/bug

#1721 On-demand fetching data models used in text resource variables
  src/__mocks__/getTextResourcesMock.ts
  src/components/presentation/Presentation.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/applicationMetadata/appMetadataUtils.ts
  src/features/datamodel/useAvailableDataModels.tsx
  src/features/datamodel/useBindingSchema.tsx
  src/features/form/FormContext.tsx
  src/features/form/layout/UiConfigContext.tsx
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataReadOnly.tsx
  src/features/formData/FormDataReadWrite.tsx
  src/features/formData/FormDataReaders.test.tsx
  src/features/formData/FormDataReaders.tsx
  src/features/formData/InitialFormData.tsx
  src/features/formData/useFormDataQuery.tsx
  src/features/language/useLanguage.ts
  src/index.tsx
  src/test/renderWithProviders.tsx
Labels: area/language, kind/breaking-change, fe-v4

#1725 Deleting old stuff (fortawesome & tjenester3.css)
  src/components/AltinnAppHeader.module.css
  src/components/AltinnLoader.module.css
  src/components/AltinnLoader.tsx
  src/components/CircleIcon.module.css
  src/components/CircleIcon.tsx
  src/components/altinnAppHeader.test.tsx
  src/components/altinnAppHeader.tsx
  src/components/altinnError.tsx
  src/components/altinnParty.tsx
  src/components/message/ErrorPaper.module.css
  src/components/message/ErrorPaper.tsx
  src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/components/organisms/AltinnAppHeader.test.tsx
  src/components/organisms/AltinnAppHeaderMenu.tsx
  src/components/presentation/ProcessNavigation.tsx
  src/components/wrappers/ProcessWrapper.module.css
  src/features/instantiate/containers/InstantiationContainer.tsx
  src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/features/pdf/PDFView.module.css
  src/features/pdf/PDFWrapper.tsx
  src/index.css
  src/layout/FileUpload/AttachmentsCounter.tsx
  src/layout/FileUpload/DropZone/DropzoneComponent.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/setupTests.ts
  src/styles/tjenester3.css
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/other

#1727 fix: trying to fetch null language when no language is specified in p…
  src/features/language/LanguageProvider.tsx
  src/types/shared.ts
  test/e2e/integration/frontend-test/language.ts
Labels: kind/bug

#1731 Language provider fetching null language
  src/features/language/LanguageProvider.tsx
  test/e2e/integration/frontend-test/language.ts
Labels: kind/bug

#1729 fix: use langAsNonProcessedString instead of langAsString in text dyn…
  src/features/expressions/index.ts
  src/features/language/useLanguage.ts
  src/hooks/useSourceOptions.ts
Labels: kind/bug

#1740 Fix/application logo stretch
  src/components/presentation/OrganisationLogo/OrganisationLogo.module.css
  src/components/presentation/OrganisationLogo/OrganisationLogo.tsx
  src/hooks/useAppLogo.ts
Labels: kind/bug

#1741 fix: issue with organisation logo stretching horizontally if app owne…
  src/components/presentation/OrganisationLogo/OrganisationLogo.module.css
  src/components/presentation/OrganisationLogo/OrganisationLogo.tsx
  src/selectors/simpleSelectors.ts
Labels: kind/bug

#1745 Implementing an error message when backend version is outdated
  src/__mocks__/getApplicationMetadataMock.ts
  src/components/altinnError.tsx
  src/features/applicationMetadata/ApplicationMetadataProvider.tsx
  src/features/applicationMetadata/OldVersionError.tsx
  src/features/applicationMetadata/index.d.ts
  src/features/instantiate/containers/InstantiationErrorPage.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/utils/network/networking.ts
Labels: kind/breaking-change

#1743 fix: update types to httpGetRaw and httpGet
  src/components/presentation/NavBar.tsx
  src/features/options/useGetOptionsQuery.ts
  src/queries/queries.ts
  src/utils/network/networking.ts
Labels: kind/bug

#1751 fix: issue with storing false values in data model not validating as …
  package.json
  src/features/validation/hooks.ts
  src/index.css
  src/utils/layout/LayoutNode.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/validation.ts
  yarn.lock
Labels: kind/bug

#1754 Fix erroneous schema validation errors for null/undefined values
  src/features/validation/frontend/schemaValidation.test.ts
  src/features/validation/frontend/schemaValidation.ts
Labels: kind/bug

#1761 Renaming AddressComponent -> Address + bugfixes, improvements
  src/codegen/Common.ts
  src/codegen/run.ts
  src/core/contexts/zustandContext.tsx
  src/features/applicationMetadata/ApplicationMetadataProvider.tsx
  src/features/attachments/useAttachmentDeletionInRepGroups.ts
  src/features/expressions/shared-tests/functions/displayValue/address.json
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataReaders.test.tsx
  src/features/formData/FormDataWrite.tsx
  src/features/formData/convertData.ts
  src/features/formData/jsonPatch/createPatch.ts
  src/features/formData/useDataModelBindings.test.tsx
  src/features/options/castOptionsToStrings.ts
  src/hooks/queries/usePostPlaceQuery.ts
  src/hooks/useAsRef.ts
  src/layout/Address/AddressComponent.test.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/Address/index.tsx
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/List/ListComponent.test.tsx
  src/layout/RepeatingGroup/RepeatingGroupContainer.test.tsx
  src/layout/RepeatingGroup/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/RepeatingGroupContext.tsx
  src/layout/RepeatingGroup/RepeatingGroupEditContainer.test.tsx
  src/layout/RepeatingGroup/RepeatingGroupTable.test.tsx
  src/layout/RepeatingGroup/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/RepeatingGroupTableRow.tsx
  src/layout/RepeatingGroup/RepeatingGroupsEditContainer.tsx
  src/test/renderWithProviders.tsx
  src/utils/versionCompare.test.ts
  src/utils/versionCompare.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/breaking-change

#1766 Make dev check not care about port
  src/hooks/useIsDev.test.ts
  src/hooks/useIsDev.ts
Labels: kind/other
