Repository Altinn/app-frontend-react, pull requests merged in 2025-09, with the labels that each got.

#3640 Cleans up and collocates versions and features
  src/features/applicationMetadata/ApplicationMetadataProvider.tsx
  src/features/applicationMetadata/VersionErrorOrChildren.tsx
  src/features/applicationMetadata/minVersion.ts
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/attachments/tools.ts
  src/features/instance/useProcessNext.tsx
  src/features/language/LanguageProvider.tsx
  src/features/validation/backendValidation/backendValidationQuery.ts
  src/features/validation/backendValidation/backendValidationUtils.ts
  src/layout/PDFPreviewButton/PDFPreviewButtonComponent.tsx
  src/utils/versioning/versionCompare.test.ts
  src/utils/versioning/versionCompare.ts
  src/utils/versioning/versions.ts
Labels: kind/other, backport-ignore

#3657 feat: add common utils for draw and handlecrop functions + variable viewport
  src/layout/ImageUpload/ImageUpload.tsx
  src/layout/ImageUpload/imageUploadUtils.ts
Labels: ignore-for-release

#3656 Feat/unifiy events (reduce amount of states) and support touch
  src/layout/ImageUpload/ImageUpload.module.css
  src/layout/ImageUpload/ImageUpload.tsx
Labels: ignore-for-release

#3663 Extract logarithmic zoom functions to utils
  src/layout/ImageUpload/ImageUpload.tsx
  src/layout/ImageUpload/imageUploadUtils.ts
Labels: ignore-for-release, backport-ignore

#3658 fix: prevent scrolling
  src/layout/ImageUpload/ImageUpload.module.css
Labels: ignore-for-release, backport-ignore

#3660 Feat/refine image upload buttons according to design
  src/layout/ImageUpload/ImageControllers.module.css
  src/layout/ImageUpload/ImageControllers.tsx
  src/layout/ImageUpload/ImageUpload.module.css
  src/layout/ImageUpload/ImageUpload.tsx
Labels: ignore-for-release, backport-ignore

#3672 Chore: Add environment to pr-actions workflow
  .github/workflows/pr-actions.yml
Labels: ignore-for-release, backport-ignore

#3674 Extract canvas and effects into its own component
  src/layout/ImageUpload/ImageCanvas.tsx
  src/layout/ImageUpload/ImageUpload.tsx
  src/layout/ImageUpload/imageUploadUtils.ts
Labels: ignore-for-release, backport-ignore

#3676 Chore: Use az cli login for azcopy instead of sas token
  .github/scripts/release.sh
  .github/scripts/revert.sh
  .github/scripts/sync-index.sh
  .github/workflows/pr-actions.yml
  .github/workflows/release.yml
  .github/workflows/revert.yml
Labels: ignore-for-release, backport-ignore

#3680 fix: check for stored image at a higher level
  src/layout/ImageUpload/ImageControllers.tsx
  src/layout/ImageUpload/ImageUpload.tsx
Labels: ignore-for-release

#3673 Refactor: Removing child-plugins
  src/codegen/ComponentConfig.ts
  src/features/form/layout/makeLayoutLookups.ts
  src/layout/Accordion/config.ts
  src/layout/Accordion/index.tsx
  src/layout/AccordionGroup/config.ts
  src/layout/AccordionGroup/index.tsx
  src/layout/ButtonGroup/config.ts
  src/layout/ButtonGroup/index.tsx
  src/layout/Cards/CardsPlugin.tsx
  src/layout/Cards/claimCardsChildren.ts
  src/layout/Cards/config.ts
  src/layout/Cards/index.tsx
  src/layout/Grid/GridRowsPlugin.tsx
  src/layout/Grid/claimGridRowsChildren.ts
  src/layout/Grid/config.ts
  src/layout/Grid/index.tsx
  src/layout/Group/config.ts
  src/layout/Group/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/Generator/LikertGeneratorChildren.tsx
  src/layout/Likert/Generator/LikertRowsPlugin.tsx
  src/layout/Likert/config.ts
  src/layout/Likert/index.tsx
  src/layout/RepeatingGroup/config.ts
  src/layout/RepeatingGroup/index.tsx
  src/layout/Tabs/TabsPlugin.tsx
  src/layout/Tabs/claimTabsChildren.ts
  src/layout/Tabs/config.ts
  src/layout/Tabs/index.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/NodeDefPlugin.tsx
  src/utils/layout/plugins/NonRepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/claimNonRepeatingChildren.ts
  src/utils/layout/plugins/claimRepeatingChildren.ts
Labels: kind/other, backport-ignore, squad/utforming

#3684 fix: zooming limits
  src/layout/ImageUpload/ImageUpload.tsx
Labels: ignore-for-release

#3689 Feat/use-language-for-component-texts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/ImageUpload/ImageControllers.tsx
  src/layout/ImageUpload/ImageUpload.tsx
Labels: ignore-for-release, backport-ignore

#3641 Use new update tags endpoint and update validations from result
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/attachments/index.ts
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataWrite.tsx
  src/features/formData/types.ts
  src/features/formData/useDataModelBindings.test.tsx
  src/features/instance/useProcessNext.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.test.tsx
  src/features/validation/backendValidation/BackendValidation.tsx
  src/features/validation/backendValidation/backendValidationUtils.ts
  src/features/validation/index.ts
  src/layout/RepeatingGroup/Providers/OpenByDefaultProvider.test.tsx
  src/queries/queries.ts
  src/queries/types.ts
  src/setupTests.ts
  src/test/renderWithProviders.tsx
  src/utils/network/networking.ts
  src/utils/network/sharedNetworking.ts
  src/utils/urls/appUrlHelper.ts
  src/utils/versioning/versions.ts
  test/e2e/support/global.ts
Labels: kind/product-feature, backport-ignore

#3637 Adding PDF support in subforms
  src/layout/Subform/SubformWrapper.tsx
  test/e2e/integration/subform-test/pdf.ts
  test/e2e/integration/subform-test/subform.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: kind/product-feature, backport-ignore

#3719 Add displaydata expression test
  src/features/expressions/shared-tests/functions/displayValue/type-ImageUpload.json
  src/layout/ImageUpload/index.tsx
Labels: ignore-for-release, backport-ignore

#3725 support summary2
  src/layout/FileUpload/FileUploadTable/FileTable.tsx
  src/layout/ImageUpload/ImageDropzone.tsx
  src/layout/ImageUpload/ImageUploadComponent.tsx
  src/layout/ImageUpload/ImageUploadSummary2.tsx
  src/layout/ImageUpload/imageUploadUtils.ts
  src/layout/ImageUpload/index.tsx
Labels: ignore-for-release, backport-ignore

#3723 Add 'apiScopes' configuration to applicationmetadata JSON schema
  schemas/json/application/application-metadata.schema.v1.json
Labels: kind/other, backport-ignore

#3612 Feat/1261 timepicker
  src/app-components/TimePicker/README.md
  src/app-components/TimePicker/TimePicker.module.css
  src/app-components/TimePicker/TimePicker.responsive.test.tsx
  src/app-components/TimePicker/TimePicker.tsx
  src/app-components/TimePicker/TimeSegment/TimeSegment.test.tsx
  src/app-components/TimePicker/TimeSegment/TimeSegment.tsx
  src/app-components/TimePicker/TimeSegment/hooks/useSegmentDisplay.ts
  src/app-components/TimePicker/TimeSegment/hooks/useSegmentInputHandlers.ts
  src/app-components/TimePicker/TimeSegment/hooks/useTimeout.ts
  src/app-components/TimePicker/TimeSegment/hooks/useTypingBuffer.ts
  src/app-components/TimePicker/types.ts
  src/app-components/TimePicker/utils/calculateNextFocusState/calculateNextFocusState.test.ts
  src/app-components/TimePicker/utils/calculateNextFocusState/calculateNextFocusState.ts
  src/app-components/TimePicker/utils/formatDisplayHour/formatDisplayHour.test.ts
  src/app-components/TimePicker/utils/formatDisplayHour/formatDisplayHour.ts
  src/app-components/TimePicker/utils/generateTimeOptions/generateTimeOptions.test.ts
  src/app-components/TimePicker/utils/generateTimeOptions/generateTimeOptions.ts
  src/app-components/TimePicker/utils/handleSegmentValueChange/handleSegmentValueChange.test.ts
  src/app-components/TimePicker/utils/handleSegmentValueChange/handleSegmentValueChange.ts
  src/app-components/TimePicker/utils/keyboardNavigation.test.ts
  src/app-components/TimePicker/utils/keyboardNavigation.ts
  src/app-components/TimePicker/utils/normalizeHour.ts
  src/app-components/TimePicker/utils/segmentTyping.ts
  src/app-components/TimePicker/utils/timeConstraintUtils.test.ts
  src/app-components/TimePicker/utils/timeConstraintUtils.ts
  src/app-components/TimePicker/utils/timeFormatUtils.test.ts
  src/app-components/TimePicker/utils/timeFormatUtils.ts
  src/features/expressions/shared-tests/functions/displayValue/type-TimePicker.json
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/TimePicker/TimePickerComponent.test.tsx
  src/layout/TimePicker/TimePickerComponent.tsx
  src/layout/TimePicker/TimePickerSummary.tsx
  src/layout/TimePicker/config.ts
  src/layout/TimePicker/index.tsx
  src/layout/TimePicker/useTimePickerValidation.ts
Labels: kind/product-feature, backport-ignore
