Repository Altinn/app-frontend-react, pull requests merged in 2025-03, with the labels that each got.

#3066 Multiple minor bug-fixes, removing type union for layout-sets, compatibility in `all.test.tsx`
  src/__mocks__/getLayoutSetsMock.ts
  src/app-components/Input/Input.tsx
  src/codegen/Common.ts
  src/features/applicationMetadata/appMetadataUtils.ts
  src/features/attachments/StoreAttachmentsInNode.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/features/form/layout/LayoutsContext.tsx
  src/features/form/layout/quirks.ts
  src/features/form/layoutSets/LayoutSetsProvider.tsx
  src/features/form/layoutSets/TypeGuards.ts
  src/layout/List/ListComponent.tsx
  src/layout/PDFPreviewButton/PDFPreviewButtonComponent.tsx
  src/layout/Subform/SubformWrapper.tsx
  src/layout/Subform/index.tsx
  src/layout/Summary2/SummaryComponent2/TaskSummaryWrapper.tsx
  src/test/allApps.ts
  src/utils/formLayout.ts
  src/utils/layout/all.test.tsx
  src/utils/layout/index.tsx
Labels: kind/bug

#3070 Remove 'hasRole' expression support
  schemas/json/layout/expression.schema.v1.json
  src/features/expressions/expression-functions.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/shared-tests/functions/hasRole/should-return-false-with-invalid-role.json
  src/features/expressions/shared-tests/functions/hasRole/should-return-true-with-valid-role.json
  src/features/expressions/shared.ts
  src/features/useCurrentPartyRoles.ts
  src/queries/queries.ts
  src/queries/types.ts
  src/utils/layout/generator/GeneratorDataSources.tsx
  src/utils/layout/useExpressionDataSources.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/other

#3076 Makes card media float correctly
  src/layout/Cards/Cards.module.css
  src/layout/Cards/Cards.tsx
Labels: kind/bug

#3088 [Signing] Signee list summary override
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/SigneeList/SigneeListSummary.test.tsx
  src/layout/SigneeList/SigneeListSummary.tsx
  src/layout/SigneeList/config.ts
  src/layout/SigneeList/index.tsx
  src/layout/Summary2/config.tsx
Labels: kind/other

#3093 validate that custom pdf layout exists (#3063)
  src/features/pdf/PdfView2.tsx
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/support/global.ts
  test/e2e/support/index.ts
Labels: kind/other

#3077 Removing node traversal, fixing bugs in component lookups
  src/codegen/ComponentConfig.ts
  src/features/attachments/useAttachmentDeletionInRepGroups.ts
  src/features/expressions/errors.ts
  src/features/expressions/expression-functions.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/shared-tests/functions/component/find-first-row.json
  src/features/expressions/shared-tests/functions/component/find-grouped-sibling.json
  src/features/expressions/shared-tests/functions/component/find-hidden-sibling-in-other-repeating-group.json
  src/features/expressions/shared-tests/functions/component/find-hidden-unrelated-sibling-in-other-repeating-group.json
  src/features/expressions/shared-tests/functions/component/find-sibling-in-other-repeating-group.json
  src/features/expressions/shared-tests/functions/component/find-unrelated-sibling-in-other-repeating-group.json
  src/features/expressions/shared-tests/functions/component/in-hidden-row-from-outside.json
  src/features/expressions/shared-tests/functions/component/in-hidden-row.json
  src/features/form/layout/LayoutsContext.tsx
  src/features/form/layout/makeLayoutLookups.ts
  src/features/form/layout/utils/makeIndexedId.test.ts
  src/features/form/layout/utils/makeIndexedId.ts
  src/features/form/layout/utils/repeating.ts
  src/features/options/castOptionsToStrings.ts
  src/features/options/useGetOptions.ts
  src/features/options/useSourceOptions.ts
  src/features/validation/ValidationStorePlugin.tsx
  src/features/validation/callbacks/onGroupCloseValidation.ts
  src/features/validation/selectors/deepValidationsForNode.ts
  src/hooks/delayedSelectors.ts
  src/layout/Cards/CardsPlugin.tsx
  src/layout/Grid/GridRowsPlugin.tsx
  src/layout/Group/GroupComponent.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/Generator/LikertRowsPlugin.tsx
  src/layout/Likert/Summary/LargeLikertSummaryContainer.tsx
  src/layout/RepeatingGroup/Summary/LargeGroupSummaryContainer.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/useTableNodes.ts
  src/layout/Tabs/TabsPlugin.tsx
  src/test/allApps.ts
  src/utils/layout/DataModelLocation.tsx
  src/utils/layout/LayoutNode.ts
  src/utils/layout/LayoutObject.ts
  src/utils/layout/LayoutPage.ts
  src/utils/layout/LayoutPages.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/GeneratorDataSources.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/NodeDefPlugin.tsx
  src/utils/layout/plugins/NonRepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
  src/utils/layout/useExpressionDataSources.ts
  src/utils/layout/useNodeItem.ts
  src/utils/layout/useNodeTraversal.ts
  src/utils/options.ts
  test/e2e/integration/frontend-test/validation.ts
Labels: kind/bug

#3097 Fixing 2 sources of flakiness in Cypress tests
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/navigation-test/navigation.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: ignore-for-release

#3099 Making component validation plain hooks
  src/features/form/layout/LayoutsContext.tsx
  src/features/form/layout/makeLayoutLookups.ts
  src/features/formData/FormDataWrite.tsx
  src/features/validation/StoreValidationsInNode.tsx
  src/features/validation/ValidationPlugin.tsx
  src/features/validation/index.ts
  src/features/validation/nodeValidation/emptyFieldValidation.ts
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/features/validation/validationContext.tsx
  src/layout/Address/index.tsx
  src/layout/Address/useAddressValidation.ts
  src/layout/Checkboxes/index.tsx
  src/layout/Datepicker/index.tsx
  src/layout/Datepicker/useDatepickerValidation.ts
  src/layout/Dropdown/index.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUpload/useValidateMinNumberOfAttachments.ts
  src/layout/FileUploadWithTag/index.tsx
  src/layout/FileUploadWithTag/useValidateMissingTag.ts
  src/layout/LayoutComponent.tsx
  src/layout/Likert/index.tsx
  src/layout/LikertItem/index.tsx
  src/layout/List/index.tsx
  src/layout/List/useValidateListIsEmpty.ts
  src/layout/MultipleSelect/index.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/RepeatingGroup/index.tsx
  src/layout/RepeatingGroup/useValidateRepGroupMinCount.ts
  src/layout/Subform/index.tsx
  src/layout/Subform/useValidateSubform.ts
  src/layout/index.ts
  src/utils/layout/generator/GeneratorDataSources.tsx
Labels: kind/other

#3096 Add Divider component
  src/layout/Divider/DividerComponent.tsx
  src/layout/Divider/config.ts
  src/layout/Divider/index.tsx
  src/layout/Summary2/config.tsx
  test/e2e/integration/component-library/divider.ts
Labels: kind/product-feature

#3109 Script to run all test apps and cypress tests locally
  .gitignore
  package.json
  scripts/cypress-run-all.ts
  template.env
Labels: kind/other, ignore-for-release

#3108 Cleanup after recent refactoring
  src/codegen/ComponentConfig.ts
  src/components/form/Form.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/features/devtools/components/NodeInspector/DefaultNodeInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorDataField.tsx
  src/features/expressions/shared-functions.test.tsx
  src/features/form/dynamics/HiddenComponentsProvider.tsx
  src/features/form/layout/makeLayoutLookups.ts
  src/features/validation/selectors/bindingValidationsForNode.ts
  src/layout/Cards/CardsPlugin.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Dropdown/index.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/GridRowsPlugin.tsx
  src/layout/Grid/GridSummary.tsx
  src/layout/Group/GroupComponent.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/Generator/LikertRowsPlugin.tsx
  src/layout/Likert/Summary/LargeLikertSummaryContainer.tsx
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/LikertItem/index.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupEditContext.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupsEditContainer.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupFocusContext.tsx
  src/layout/RepeatingGroup/Summary/LargeGroupSummaryContainer.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTable.tsx
  src/layout/Summary2/SummaryComponent2/ComponentSummary.tsx
  src/layout/Tabs/Tabs.tsx
  src/layout/Tabs/TabsPlugin.tsx
  src/layout/Tabs/TabsSummary.tsx
  src/layout/layout.ts
  src/utils/layout/LayoutNode.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/GeneratorErrorBoundary.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/NonRepeatingChildrenPlugin.tsx
  src/utils/layout/types.ts
  src/utils/layout/useDataModelBindingTranspose.ts
  test/e2e/integration/frontend-test/mobile.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/other

#3069 Subform table expressions and navigation
  src/components/label/Label.tsx
  src/components/presentation/NavBar.tsx
  src/components/presentation/Presentation.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/core/contexts/processingContext.tsx
  src/core/loading/Loader.tsx
  src/features/expressions/expression-functions.ts
  src/features/expressions/index.ts
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/navigation/AppNavigation.module.css
  src/features/navigation/AppNavigation.tsx
  src/features/navigation/PopoverNavigation.tsx
  src/features/navigation/SidebarNavigation.tsx
  src/features/navigation/components/Page.module.css
  src/features/navigation/components/Page.tsx
  src/features/navigation/components/PageGroup.module.css
  src/features/navigation/components/PageGroup.tsx
  src/features/navigation/components/SubformsForPage.module.css
  src/features/navigation/components/SubformsForPage.tsx
  src/features/navigation/components/TaskGroup.module.css
  src/features/navigation/components/TaskGroup.tsx
  src/features/navigation/utils.ts
  src/features/receipt/ReceiptContainer.tsx
  src/features/validation/expressionValidation/ExpressionValidation.tsx
  src/layout/Subform/SubformCellContent.tsx
  src/layout/Subform/SubformComponent.tsx
  src/layout/Subform/Summary/SubformSummaryComponent.tsx
  src/layout/Subform/Summary/SubformSummaryComponent2.tsx
  src/layout/Subform/Summary/SubformSummaryTable.tsx
  src/layout/Subform/config.ts
  src/layout/Subform/utils.ts
  src/layout/Summary2/CommonSummaryComponents/EditButton.tsx
  src/utils/layout/useExpressionDataSources.ts
  test/README.md
  test/e2e/integration/navigation-test/navigation.ts
  test/e2e/integration/subform-test/subform.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: kind/product-feature

#3112 Filter app:owned data elements from shown attachments in local receipt
  src/features/processEnd/confirm/containers/ConfirmPage.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/utils/attachmentsUtils.test.ts
  src/utils/attachmentsUtils.ts
Labels: kind/product-feature

#3107 converts timestamp string to zoned date and formats
  src/app-components/Datepicker/DatePickerInput.tsx
  src/app-components/DynamicForm/DynamicForm.tsx
  src/features/expressions/expression-functions.ts
  src/layout/Date/DateComponent.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Datepicker/useDatepickerValidation.ts
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/layout/Payment/PaymentReceiptDetails/PaymentReceiptDetails.tsx
  src/layout/SigneeList/SigneeListSummary.tsx
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
Labels: kind/bug

#2951 Feat/265 url param instantiation
  src/features/datamodel/DataModelsProvider.tsx
  src/features/datamodel/useBindingSchema.tsx
  src/features/datamodel/utils.ts
  src/layout/InstantiationButton/InstantiationButton.tsx
  src/utils/urls/appUrlHelper.ts
  test/e2e/integration/stateless-app/instantiate-from-query-params.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/feature-request, kind/product-feature

#3130 Fixing summary title variables lookup by referencing the target node
  src/layout/Group/SummaryGroupComponent.tsx
Labels: kind/bug

#3138 Fixing missing codelists for `optionLabel` function
  src/features/options/CodeListsProvider.tsx
  test/e2e/integration/frontend-test/attachments-in-group.ts
Labels: kind/bug

#3136 Renaming new binding in `List` from `saveToList` to `group`
  src/layout/List/ListComponent.tsx
  src/layout/List/ListSummary.tsx
  src/layout/List/config.ts
  src/layout/List/index.tsx
  src/layout/List/useValidateListIsEmpty.ts
  test/e2e/integration/component-library/list.ts
Labels: kind/other

#3144 Fixes for organization logo
  src/components/presentation/Header.tsx
  src/components/presentation/OrganisationLogo/OrganisationLogo.module.css
  src/features/pdf/PDFView.module.css
  src/features/pdf/PdfView2.tsx
  src/hooks/useAppLogo.ts
  test/e2e/integration/component-library/pdf.ts
Labels: kind/bug

#3143 Fixing support for markdown in multiple labels
  src/components/label/LabelContent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/utils/layout/useLabel.tsx
  test/e2e/integration/frontend-test/pdf.ts
Labels: kind/bug

#3155 Removing old design system
  package.json
  src/components/form/MessageBanner.module.css
  src/components/form/MessageBanner.test.tsx
  src/features/instantiate/containers/PartySelection.module.css
  src/features/instantiate/containers/PartySelection.tsx
  src/index.css
  src/index.tsx
  yarn.lock
Labels: kind/other

#3160 Allowing more components to be rendered in cards
  src/layout/Accordion/config.ts
  src/layout/AccordionGroup/config.ts
  src/layout/AttachmentList/config.ts
  src/layout/FileUpload/config.ts
  src/layout/FileUploadWithTag/config.ts
  src/layout/Grid/config.ts
  src/layout/InstanceInformation/config.ts
  src/layout/Likert/config.ts
  src/layout/List/config.ts
  src/layout/Map/config.ts
  src/layout/OrganisationLookup/config.ts
  src/layout/PersonLookup/config.ts
  src/layout/RepeatingGroup/config.ts
  src/layout/Subform/config.ts
  src/layout/Summary2/config.tsx
Labels: kind/product-feature

#3150 Support translation for summary2 title
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
Labels: kind/bug

#3141 ExternalApi on SimpleTable does not support path parameter
  src/layout/SimpleTable/ApiTable.tsx
Labels: kind/bug

#3166 Adding current data model path to expression validation
  src/features/validation/expressionValidation/ExpressionValidation.tsx
Labels: kind/bug

#3142 Removes duplicate valid parties calculation
  src/features/instantiate/containers/PartySelection.tsx
  src/features/party/PartiesProvider.tsx
  src/features/party/partyProviderUtils.test.ts
  src/features/party/partyProviderUtils.ts
  src/features/pdf/PDFWrapper.test.tsx
  src/features/processEnd/confirm/containers/Confirm.test.tsx
  src/features/processEnd/confirm/containers/Confirm.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/hooks/usePromptForParty.ts
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
Labels: kind/other

#3161 Replacing `@navikt/ds-icons` with `@navikt/aksel-icons`
  package.json
  src/components/presentation/BackNavigationButton.tsx
  src/components/presentation/ExpandWidthButton.tsx
  src/features/devtools/DevToolsPanel.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
  src/features/footer/components/shared/FooterIcon.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/layout/FileUpload/Error/FailedAttachments.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupsEditContainer.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.test.tsx
  src/layout/RepeatingGroup/Summary/__snapshots__/SummaryRepeatingGroup.test.tsx.snap
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/layout/SimpleTable/SimpleTableComponent.tsx
  src/layout/Subform/SubformComponent.tsx
  src/layout/Summary/EditButton.tsx
  src/layout/Summary2/CommonSummaryComponents/EditButton.tsx
  yarn.lock
Labels: kind/other

#3196 Show unknown error when uncaught exception happens in process next
  src/core/errorHandling/DisplayErrorProvider.tsx
  src/features/instance/useProcessNext.tsx
  src/index.tsx
  test/e2e/integration/frontend-test/process-next.ts
Labels: kind/bug

#3202 Treating null as empty string in `stringReplace`
  src/features/expressions/expression-functions.ts
  src/features/expressions/shared-tests/functions/stringReplace/replace-with-null.json
Labels: kind/bug

#3214 Fixing displayData as used in GridSummary.tsx, adding regression test
  src/layout/Grid/GridSummary.tsx
  test/e2e/integration/component-library/grid.ts
Labels: kind/bug
