Repository Altinn/app-frontend-react, pull requests merged in 2025-04, with the labels that each got.

#3215 Fix GeoJSON point rendering
  src/features/pdf/PDFView.module.css
  src/layout/Map/Map.tsx
  src/layout/Map/MapComponent.module.css
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/pdf.ts
Labels: kind/bug, backport

#3217 Checking for backport labels
  .github/pull_request_template.md
  .github/workflows/check-label-added.yml
Labels: ignore-for-release, backport-ignore

#3192 More shared expression tests, syncing with backend
  src/features/expressions/errors.ts
  src/features/expressions/shared-tests/functions/component/find-first-row.json
  src/features/expressions/shared-tests/functions/component/in-hidden-row-from-outside.json
  src/features/expressions/shared-tests/functions/component/with-component-index.json
  src/features/expressions/shared-tests/functions/dataModel/in-group.json
  src/features/expressions/shared-tests/functions/dataModel/with-indexes-without-layout.json
  src/features/expressions/shared-tests/functions/dataModel/with-indexes.json
Labels: ignore-for-release, backport-ignore

#3210 Removing MUI
  package.json
  src/components/AltinnCollapsable.module.css
  src/components/AltinnCollapsable.tsx
  src/components/AltinnCollapsableList.tsx
  src/components/AltinnSpinner.module.css
  src/components/AltinnSpinner.tsx
  src/components/altinnParty.tsx
  src/components/molecules/AltinnCollapsibleAttachments.module.css
  src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/components/molecules/AltinnInformationPaper.tsx
  src/components/molecules/AltinnSubstatus.module.css
  src/components/molecules/AltinnSubstatus.test.tsx
  src/components/molecules/AltinnSubstatus.tsx
  src/components/presentation/Presentation.tsx
  src/global.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  yarn.lock
Labels: kind/other, backport-ignore

#3219 Fixing rare case of `Node with id ... not found`
  src/layout/Grid/GridSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
Labels: kind/bug, backport

#3240 Update URL for expression doc in dev tools
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
Labels: kind/other, backport-ignore

#3223 Fixes Summary2 LayoutSet-component in pdf
  src/components/ReadyForPrint.tsx
  src/core/contexts/dataLoadingContext.tsx
  src/core/loading/LoadingContext.tsx
  src/features/entrypoint/Entrypoint.tsx
  src/features/instance/InstanceContext.tsx
  src/features/instantiate/containers/InstantiationContainer.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/pdf/PdfView2.tsx
  src/test/renderWithProviders.tsx
  src/utils/layout/NodesContext.tsx
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/subform-test/subform.ts
Labels: kind/other, backport-ignore

#3243 Update renovate config
  renovate.json
Labels: ignore-for-release, backport-ignore

#3242 Remove autocomplete from dropdown and multiselect
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/Dropdown/config.ts
  src/layout/MultipleSelect/MultipleSelectComponent.test.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/MultipleSelect/config.ts
Labels: kind/other, backport-ignore

#3220 Fix AppHeader with InstanceOwner
  src/__mocks__/getInstanceDataMock.ts
  src/components/presentation/AppHeader/AppHeader.module.css
  src/components/presentation/AppHeader/AppHeader.test.tsx
  src/components/presentation/AppHeader/AppHeader.tsx
  src/components/presentation/AppHeader/AppHeaderMenu.module.css
  src/components/presentation/AppHeader/AppHeaderMenu.tsx
  src/components/presentation/Presentation.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/features/party/PartiesProvider.tsx
  src/features/pdf/PDFWrapper.test.tsx
  src/features/processEnd/confirm/containers/Confirm.test.tsx
  src/features/processEnd/confirm/containers/Confirm.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.test.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.tsx
  src/features/processEnd/confirm/helpers/returnConfirmSummaryObject.ts
  src/features/receipt/ReceiptContainer.test.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/hooks/usePromptForParty.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Custom/CustomWebComponent.tsx
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/queries/queries.ts
  src/queries/types.ts
  src/types/shared.ts
  src/utils/party.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/bug, kind/incident-C, backport

#3232 add expression support for organisation instance owner name
  src/features/expressions/expression-functions.ts
  src/features/expressions/shared-tests/functions/instanceContext/instanceOwnerNameOrg.json
  src/features/expressions/shared-tests/functions/instanceContext/instanseOwnerNamePerson.json
  src/features/instance/InstanceContext.tsx
  src/features/party/PartiesProvider.tsx
  src/types/shared.ts
  src/utils/instanceDataSources.test.ts
  src/utils/instanceDataSources.ts
Labels: kind/product-feature, backport-ignore

#3248 Delete unused code
  src/__mocks__/getApplicationSettingsMock.ts
  src/app-components/Datepicker/utils/dateHelpers.ts
  src/components/AltinnIcon.tsx
  src/components/form/FullWidthGroupWrapper.tsx
  src/components/form/SelectOptionItem.module.css
  src/components/form/SelectOptionItem.tsx
  src/core/loading/LoadingContext.tsx
  src/features/applicationMetadata/appMetadataUtils.ts
  src/features/applicationSettings/applicationSettingsTypes.ts
  src/features/customValidation/types.ts
  src/features/datamodel/useDataModelSchemaQuery.ts
  src/features/datamodel/utils.ts
  src/features/devtools/components/FeatureToggles/FeatureToggles.module.css
  src/features/devtools/components/FeatureToggles/FeatureToggles.tsx
  src/features/devtools/components/NodeInspector/NodeHierarchy.tsx
  src/features/expressions/shared.ts
  src/features/footer/types.ts
  src/features/form/layout/utils/repeating.ts
  src/features/form/layoutSets/useCurrentLayoutSet.ts
  src/features/instance/InstanceContext.tsx
  src/features/instance/useProcessNextTasks.ts
  src/features/language/textResources/resourcesAsMap.ts
  src/features/language/useLanguage.ts
  src/features/options/CodeListsProvider.tsx
  src/features/processEnd/confirm/helpers/returnConfirmSummaryObject.ts
  src/features/validation/index.ts
  src/hooks/delayedSelectors.ts
  src/layout/FormComponentContext.tsx
  src/layout/Likert/LikertTestUtils.tsx
  src/layout/index.ts
  src/layout/layout.ts
  src/types/index.ts
  src/types/shared.ts
  src/utils/layout/plugins/NodeDataPlugin.tsx
  src/utils/layout/plugins/NodeDefPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  src/utils/layout/useNodeItem.ts
  src/utils/splitDashedKey.ts
  src/utils/urls/appUrlHelper.ts
  tsconfig.json
Labels: kind/other, backport-ignore

#3254 Add `--no-wait` option to afd purge command
  .github/scripts/purge-frontdoor-cache.sh
Labels: ignore-for-release, backport-ignore

#3258 added size, textAlign and fullWidth to button components
  src/app-components/Button/Button.tsx
  src/layout/Button/ButtonComponent.tsx
  src/layout/Button/config.ts
  src/layout/Link/LinkComponent.tsx
  src/layout/Link/config.ts
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/layout/PrintButton/PrintButtonComponent.tsx
  test/e2e/integration/component-library/button.ts
  test/e2e/integration/component-library/link.ts
Labels: kind/feature-request, kind/product-feature, backport-ignore

#3266 Fixes valid parties not being flattened
  src/features/party/PartiesProvider.tsx
  src/features/party/partyUtils.ts
Labels: kind/bug, kind/incident-B, backport

#3267 Backport flatten parties
  src/features/party/PartiesProvider.tsx
  src/features/party/partyUtils.ts
Labels: kind/bug, backport-ignore

#3268 Removing limitations for PDFPreviewButton
  src/components/PDFGeneratorPreview/PDFGeneratorPreview.tsx
Labels: kind/bug, backport

#3265 Change label fontsize on Date, Number, Text and Option component
  src/app-components/Date/Date.module.css
  src/app-components/Number/Number.module.css
  src/app-components/Text/Text.module.css
  src/layout/Date/DateComponent.tsx
  src/layout/Number/NumberComponent.tsx
  src/layout/Option/Option.module.css
  src/layout/Option/OptionComponent.tsx
  src/layout/Text/TextComponent.tsx
Labels: kind/bug, backport

#3270 add workaround for dev-server
  webpack.config.development.js
Labels: ignore-for-release, backport-ignore

#3260 Fixing rare error message when nodes are rebuilt
  .github/pull_request_template.md
  src/layout/Summary/ValidateSummary.tsx
  src/utils/layout/NodesContext.tsx
Labels: kind/bug, backport

#3271 Test external-api in pdf
  test/e2e/integration/component-library/pdf.ts
Labels: ignore-for-release, backport-ignore

#3169 Allow user to choose which party to sign on behalf of
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/SigningStatusPanel/PanelAwaitingCurrentUserSignature.tsx
  src/layout/SigningStatusPanel/api.ts
  src/queries/queries.ts
Labels: kind/feature-request, kind/product-feature, backport-ignore

#3272 Fixing broken form data when going back via signing rejection
  src/features/formData/useFormDataQuery.tsx
  src/features/instance/ProcessContext.tsx
  src/features/instance/useProcessNext.tsx
  src/hooks/useNavigatePage.ts
  test/e2e/integration/signing-test/double-signing.ts
  test/e2e/integration/signing-test/reject.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/apps/signing-test/signing-login.ts
Labels: kind/bug, backport

#3264 Sync with azure cdn directly
  .github/scripts/release.sh
  .github/scripts/revert.sh
  .github/scripts/sync-index.sh
  .github/workflows/pr-actions.yml
  .github/workflows/release.yml
  .github/workflows/revert.yml
Labels: ignore-for-release, backport-ignore

#3279 Test roll-back with dry-run
  .github/workflows/revert.yml
Labels: ignore-for-release, backport-ignore

#3280 Revert "Test roll-back with dry-run"
  .github/workflows/revert.yml
Labels: ignore-for-release, backport-ignore

#3287 Fix: '1.00' marked as invalid data in an Input field
  src/features/formData/FormDataWriteStateMachine.tsx
  src/features/formData/convertData.ts
  src/features/formData/useDataModelBindings.ts
  src/features/validation/invalidDataValidation/InvalidDataValidation.tsx
  src/layout/Input/InputComponent.test.tsx
  src/layout/Input/InputComponent.tsx
  test/e2e/integration/frontend-test/components.ts
Labels: kind/bug, backport

#3319 Rename SigningStatusPanel -> SigningActions
  src/layout/SigningActions/OnBehalfOfChooser.tsx
  src/layout/SigningActions/PanelAwaitingCurrentUserSignature.tsx
  src/layout/SigningActions/PanelAwaitingOtherSignatures.tsx
  src/layout/SigningActions/PanelNoActionRequired.tsx
  src/layout/SigningActions/PanelSigning.tsx
  src/layout/SigningActions/PanelSubmit.tsx
  src/layout/SigningActions/SigningActions.module.css
  src/layout/SigningActions/SigningActionsComponent.test.tsx
  src/layout/SigningActions/SigningActionsComponent.tsx
  src/layout/SigningActions/SubmitSigningButton.tsx
  src/layout/SigningActions/api.ts
  src/layout/SigningActions/config.ts
  src/layout/SigningActions/index.tsx
  src/layout/SigningActions/utils.test.ts
  src/layout/SigningActions/utils.ts
Labels: kind/other, backport-ignore

#3325 Use the same date format in instance information as in receipt
  src/app-components/Datepicker/utils/dateHelpers.ts
  src/features/receipt/ReceiptContainer.tsx
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
Labels: kind/bug, backport

#3324 Adds error messages instead of disabled button
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/SigneeList/api.test.ts
  src/layout/SigneeList/api.ts
  src/layout/SigningActions/OnBehalfOfChooser.tsx
  src/layout/SigningActions/PanelAwaitingCurrentUserSignature.tsx
  src/layout/SigningActions/api.ts
Labels: kind/other, backport-ignore

#3323 Flattening language files, adding eslint rule to catch broken text key references
  eslint.config.mjs
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/language/LangDataSourcesProvider.tsx
  src/features/language/useLanguage.ts
  src/language/eslint.js
  src/language/languages.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Address/AddressComponent.tsx
  src/layout/Custom/CustomWebComponent.tsx
  src/layout/List/ListComponent.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/types/shared.ts
  src/utils/formatDateLocale.ts
Labels: kind/bug, backport-ignore
