Repository Altinn/app-frontend-react, pull requests merged in 2025-05, with the labels that each got.

#3236 Bind List/MultipleSelect/Checkboxes to a repeating group
  src/app-components/Label/Label.tsx
  src/components/label/LabelContent.tsx
  src/features/alertOnChange/DeleteWarningPopover.module.css
  src/features/alertOnChange/DeleteWarningPopover.tsx
  src/features/devtools/layoutValidation/types.ts
  src/features/saveToGroup/ObjectToGroupLayoutValidator.tsx
  src/features/saveToGroup/layoutValidation.ts
  src/features/saveToGroup/useSaveToGroup.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Checkboxes/CheckboxesContainerComponent.test.tsx
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Checkboxes/MultipleChoiceSummary.tsx
  src/layout/Checkboxes/config.ts
  src/layout/Checkboxes/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/List/ListComponent.tsx
  src/layout/List/ListSummary.tsx
  src/layout/List/config.ts
  src/layout/List/index.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/layout/MultipleSelect/config.ts
  src/layout/MultipleSelect/index.tsx
  src/layout/Summary2/CommonSummaryComponents/MultipleValueSummary.tsx
  test/e2e/integration/component-library/checkboxes.ts
  test/e2e/integration/component-library/list.ts
  test/e2e/integration/component-library/multiple-select.ts
Labels: kind/product-feature, backport-ignore

#3090 Feat/additional dataflags in datepicker
  src/app-components/Datepicker/utils/dateHelpers.test.ts
  src/app-components/Datepicker/utils/dateHelpers.ts
  src/layout/Datepicker/config.ts
  src/types/index.ts
Labels: kind/product-feature, backport-ignore

#3340 Validate when entering subform
  src/features/navigation/components/SubformsForPage.tsx
  src/hooks/useNavigatePage.ts
  src/layout/Subform/SubformComponent.tsx
Labels: kind/bug, backport

#3320 Adding width, size and position props to rep group add buttons
  src/codegen/Common.ts
  src/layout/Button/ButtonComponent.tsx
  src/layout/Button/config.ts
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/CustomButton/config.ts
  src/layout/Link/LinkComponent.tsx
  src/layout/Link/config.ts
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/config.ts
  test/e2e/integration/component-library/repeating-group.ts
Labels: kind/product-feature, backport-ignore

#3345 Feature/signing-bugfix
  src/layout/SigningActions/utils.test.ts
  src/layout/SigningActions/utils.ts
Labels: kind/bug, backport-ignore

#3347 Fixing repeated instantiation bug
  src/features/instantiate/InstantiationContext.tsx
  src/features/instantiate/containers/InstantiateContainer.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/layout/InstantiationButton/InstantiationButton.tsx
Labels: kind/bug, backport-ignore

#3357 Bringing back `4.19.0-pr.1090.deleted-parties.bbe09450` v2
  .github/workflows/pr-actions.yml
Labels: kind/bug, backport-ignore

#3358 Revert "Bringing back `4.19.0-pr.1090.deleted-parties.bbe09450` v2"
  .github/workflows/pr-actions.yml
Labels: kind/other, backport-ignore

#3359 Fix release include-regex
  .github/scripts/release.sh
Labels: ignore-for-release, backport-ignore

#3365 Support both spelling types for contribut[or/er]
  src/types/shared.ts
  src/utils/attachmentsUtils.test.ts
  src/utils/attachmentsUtils.ts
Labels: kind/bug, backport-ignore

#3380 Fixing rare broken row-removal in PATCH
  src/features/formData/jsonPatch/createPatch.test.ts
  src/features/formData/jsonPatch/createPatch.ts
  test/e2e/integration/component-library/checkboxes.ts
  test/e2e/integration/component-library/multiple-select.ts
Labels: kind/bug, backport

#3391 Setting inputMode for Input components when autocomplete or variant h…
  src/app-components/Datepicker/DatePickerInput.tsx
  src/app-components/Datepicker/Datepicker.tsx
  src/app-components/Input/Input.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
  src/layout/Datepicker/config.ts
  src/layout/Input/InputComponent.tsx
  src/layout/OrganisationLookup/OrganisationLookupComponent.tsx
  src/layout/PersonLookup/PersonLookupComponent.tsx
  src/utils/dateUtils.ts
Labels: kind/product-feature, backport-ignore

#3394 Accessibility fixes for Datepicker
  src/app-components/Datepicker/DatePickerCalendar.tsx
  src/app-components/Datepicker/DatePickerInput.tsx
  src/app-components/Datepicker/Datepicker.tsx
  src/app-components/DynamicForm/DynamicForm.tsx
  src/layout/Datepicker/DatepickerComponent.tsx
Labels: kind/bug, backport

#3396 Multiline text for `TextArea` components in Summary
  src/layout/Summary/SummaryItemSimple.module.css
  src/layout/Summary/SummaryItemSimple.tsx
  src/layout/TextArea/index.tsx
  test/e2e/integration/component-library/text-area.ts
Labels: kind/product-feature, backport-ignore

#3405 Fetching missed code list used in `optionLabel` expression
  src/features/options/CodeListsProvider.tsx
  test/e2e/integration/frontend-test/attachments-in-group.ts
  test/e2e/integration/frontend-test/summary.ts
Labels: kind/bug, backport-ignore
