Repository Altinn/app-frontend-react, pull requests merged in 2025-02, with the labels that each got.

#2950 update apptable to support Lang element to display when there is no data
  src/app-components/Table/Table.module.css
  src/app-components/Table/Table.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/SigneeList/SigneeListComponent.tsx
Labels: kind/product-feature

#2964 Removes empty space under video and audio in cards on position bottom
  src/layout/Audio/Audio.tsx
  src/layout/ComponentStructureWrapper.tsx
  src/layout/Video/Video.tsx
Labels: kind/bug

#2965 Better fuzz testing for PDF generation
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/subform-test/subform.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
  test/e2e/support/index.ts
  test/e2e/support/start-app-instance.ts
Labels: kind/other

#2926 Feature/list component with checkboxes
  src/layout/List/ListComponent.module.css
  src/layout/List/ListComponent.tsx
  src/layout/List/ListSummary.tsx
  src/layout/List/config.ts
  src/layout/List/index.tsx
Labels: kind/product-feature

#2974 Show signing button if sign access
  src/layout/SigningStatusPanel/PanelAwaitingOtherSignatures.tsx
  src/layout/SigningStatusPanel/PanelNoActionRequired.tsx
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.tsx
Labels: kind/product-feature

#2975 Refactoring the party filter, properly support subunits and bankruptcy estates
  src/__mocks__/getPartyMock.ts
  src/features/party/partyProviderUtils.test.ts
  src/features/party/partyProviderUtils.ts
  src/types/shared.ts
Labels: kind/bug

#2980 Use Designsystemet instead of altinn/designsystem for Pagination
  src/app-components/Pagination/Pagination.module.css
  src/app-components/Pagination/Pagination.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/List/ListComponent.module.css
  src/layout/List/ListComponent.tsx
  test/e2e/integration/frontend-test/list-component.ts
  test/e2e/pageobjects/datalist.ts
Labels: kind/other

#2936 Signing CTA error state
  src/app-components/Panel/Panel.module.css
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/SigneeList/SigneeListError.tsx
  src/layout/SigningStatusPanel/PanelSigning.tsx
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.test.tsx
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.tsx
  src/layout/SigningStatusPanel/config.ts
Labels: kind/product-feature

#2986 Reduces required length of last name in person lookup from 2 to 1
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/PersonLookup/validation.ts
  test/e2e/integration/component-library/personlookup.ts
Labels: kind/bug

#2982 Warning about `FileUpload` components with duplicate bindings
  src/features/attachments/StoreAttachmentsInNode.tsx
  src/hooks/useShallowObjectMemo.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/FileUpload/FileUploadComponent.test.tsx
  src/layout/FileUpload/FileUploadLayoutValidator.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUploadWithTag/index.tsx
  src/utils/layout/NodesContext.tsx
Labels: kind/bug

#2970 Fix page navigation when using returnUrl
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataWrite.tsx
  src/hooks/useIsProcessing.ts
  src/hooks/useNavigatePage.ts
  src/layout/NavigationBar/NavigationBarComponent.module.css
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/utils/layout/NodesContext.tsx
  test/e2e/integration/component-library/summary-of-previous-task.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/support/custom.ts
Labels: kind/bug

#2987 including current party in headers for POST stateless/data
  src/features/formData/FormDataWrite.tsx
  src/queries/queries.ts
  src/utils/urls/appUrlHelper.ts
Labels: kind/bug

#2992 Fix flaky auto save test and add spinner to back button
  src/components/presentation/NavBar.tsx
  src/features/formData/FormDataWrite.tsx
  src/hooks/useNavigatePage.ts
  test/e2e/integration/frontend-test/auto-save-behavior.ts
Labels: kind/other

#2994 Fix validation exception in receipt
  src/features/validation/backendValidation/backendValidationQuery.ts
Labels: kind/bug

#2995 Fix add subform race condition
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/Subform/SubformComponent.tsx
  src/utils/promisify.ts
  test/e2e/integration/subform-test/subform.ts
Labels: kind/bug

#2985 Allow instantiation retry after failed attempt
  src/features/instantiate/InstantiationContext.tsx
Labels: kind/bug

#2991 Ignore more when running sonar project scan
  sonar-project.properties
Labels: kind/other, ignore-for-release

#2999 Adding tests for re-instantiation, fixing rare eternal loading
  .github/workflows/unit-tests.yml
  src/features/instantiate/InstantiationContext.tsx
  src/features/instantiate/containers/InstantiateContainer.tsx
  test/e2e/integration/frontend-test/party-selection.ts
  test/e2e/integration/stateless-app/party-selection.ts
  test/e2e/pageobjects/party-mocks.ts
Labels: kind/bug

#3004 `optionLabel` expression function
  schemas/json/layout/expression.schema.v1.json
  src/core/loading/LoadingRegistry.tsx
  src/features/expressions/expression-functions.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/shared-tests/functions/optionLabel/error-not-found.json
  src/features/expressions/shared-tests/functions/optionLabel/simple.json
  src/features/expressions/shared-tests/functions/optionLabel/translated.json
  src/features/expressions/shared.ts
  src/features/form/FormContext.tsx
  src/features/options/CodeListsProvider.tsx
  src/features/options/useGetOptionsQuery.ts
  src/index.tsx
  src/queries/staticOptionsPrefetcher.tsx
  src/test/renderWithProviders.tsx
  src/utils/layout/generator/GeneratorDataSources.tsx
  src/utils/layout/useExpressionDataSources.ts
Labels: kind/product-feature

#3013 Fix for rare duplicate instantiation
  src/components/PDFGeneratorPreview/PDFGeneratorPreview.tsx
  src/features/instance/InstanceContext.tsx
  src/features/instance/ProcessContext.tsx
  src/features/instantiate/containers/InstantiateContainer.tsx
  test/e2e/integration/frontend-test/party-selection.ts
Labels: kind/bug

#3014 renames partyId param to instanceOwnerPartyId
  src/App.tsx
  src/components/form/Form.tsx
  src/features/instance/InstanceContext.tsx
  src/features/instance/ProcessContext.tsx
  src/features/payment/PaymentProvider.tsx
  src/features/routing/AppRoutingContext.tsx
  src/features/useCurrentPartyRoles.ts
  src/hooks/useNavigatePage.ts
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/queries/appPrefetcher.ts
  src/test/renderWithProviders.tsx
  src/test/routerUtils.tsx
Labels: kind/other, ignore-for-release

#3016 Signing CTA fixes
  src/layout/SigneeList/api.ts
  src/layout/SigningStatusPanel/PanelAwaitingCurrentUserSignature.tsx
  src/layout/SigningStatusPanel/PanelSigning.tsx
  src/layout/SigningStatusPanel/PanelSubmit.tsx
Labels: kind/bug

#3017 try to fix map loading before snapshot
  test/e2e/integration/frontend-test/components.ts
Labels: area/test, ignore-for-release

#3022 Fixing Summary2 + Subform with option-components
  src/core/loading/LoadingRegistry.tsx
  src/features/form/FormContext.tsx
  src/index.tsx
  src/test/renderWithProviders.tsx
  test/e2e/integration/subform-test/subform.ts
Labels: kind/bug

#3021 Fix map not centered in PDF
  src/layout/Map/Map.tsx
  src/layout/Map/MapComponent.module.css
  test/e2e/support/custom.ts
Labels: kind/bug

#3030 Fix missing submit button when user can sign, but isn't required
  src/app-components/Table/Table.tsx
  src/layout/SigningDocumentList/SigningDocumentListComponent.tsx
  src/layout/SigningStatusPanel/PanelAwaitingCurrentUserSignature.tsx
  src/layout/SigningStatusPanel/PanelSigning.tsx
  src/layout/SigningStatusPanel/PanelSubmit.tsx
  src/layout/SigningStatusPanel/SigningStatusPanel.module.css
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.test.tsx
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.tsx
  src/layout/SigningStatusPanel/SubmitSigningButton.tsx
Labels: kind/product-feature

#3035 make dev tools close button less annoying
  src/features/devtools/DevTools.module.css
  src/features/devtools/DevToolsPanel.tsx
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.tsx
  src/features/devtools/components/NodeInspector/NodeInspector.tsx
Labels: ignore-for-release

#3036 Invalidate all signing querie on serveraction sign
  src/features/payment/usePerformPaymentMutation.ts
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/SigneeList/api.ts
  src/layout/SigningStatusPanel/PanelAwaitingCurrentUserSignature.tsx
  src/queries/queries.ts
Labels: kind/bug

#3029 Cypress test for end-to-end testing dates and `formatDate`
  test/e2e/integration/component-library/date-formatDate.ts
Labels: ignore-for-release

#3025 Removing more node traversal usages
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/expressions/errors.ts
  src/features/expressions/expression-functions.ts
  src/features/expressions/index.test.ts
  src/features/expressions/index.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/types.ts
  src/features/form/dynamics/HiddenComponentsProvider.tsx
  src/features/language/useLanguage.ts
  src/features/options/evalQueryParameters.ts
  src/features/options/useGetOptions.ts
  src/features/options/useGetOptionsQuery.ts
  src/features/options/useSourceOptions.ts
  src/features/validation/expressionValidation/ExpressionValidation.tsx
  src/utils/layout/all.test.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/generator/useEvalExpression.ts
  src/utils/layout/useDataModelBindingTranspose.ts
  src/utils/layout/useExpressionDataSources.ts
  src/utils/layout/useNodeTraversal.ts
Labels: kind/other

#3031 Fixing form data locking race condition
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/devtools/components/DownloadXMLButton/DownloadXMLButton.tsx
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataWrite.tsx
  src/features/formData/FormDataWriteProxies.tsx
  src/features/formData/FormDataWriteStateMachine.tsx
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/Subform/SubformComponent.tsx
  src/test/renderWithProviders.tsx
Labels: kind/bug

#3044 Updates signee notification status from backend
  src/layout/SigneeList/SigneeListComponent.test.tsx
  src/layout/SigneeList/SigneeListSummary.tsx
  src/layout/SigneeList/SigneeStateTag.test.tsx
  src/layout/SigneeList/SigneeStateTag.tsx
  src/layout/SigneeList/api.test.ts
  src/layout/SigneeList/api.ts
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.test.tsx
Labels: kind/other

#3007 Feat/list checkboxes
  src/layout/List/ListComponent.module.css
  src/layout/List/ListComponent.tsx
  src/layout/List/ListSummary.tsx
  src/layout/List/config.ts
  src/layout/List/index.tsx
  test/e2e/integration/component-library/list.ts
Labels: kind/product-feature

#3045 updates the signing pdf with styling and signature timestamp
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/SigneeList/SigneeListComponent.module.css
  src/layout/SigneeList/SigneeListComponent.test.tsx
  src/layout/SigneeList/SigneeListSummary.module.css
  src/layout/SigneeList/SigneeListSummary.test.tsx
  src/layout/SigneeList/SigneeListSummary.tsx
  src/layout/SigneeList/SigneeStateTag.test.tsx
  src/layout/SigneeList/api.test.ts
  src/layout/SigneeList/api.ts
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.test.tsx
Labels: kind/product-feature

#3063 Validate that custom PDF layout exists
  src/features/pdf/PdfView2.tsx
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/support/global.ts
  test/e2e/support/index.ts
Labels: kind/bug
