Repository Altinn/app-frontend-react, pull requests merged in 2025-06, with the labels that each got.

#3412 Date format pdf
  src/layout/InstanceInformation/InstanceInformationComponent.tsx
  src/utils/dateUtils.test.ts
Labels: kind/other, backport-ignore

#3429 Remove max-height to not clip sub units
  src/components/AltinnCollapsable.module.css
  src/components/AltinnCollapsable.tsx
Labels: kind/bug, backport

#3423 added option to open link in new tab
  src/layout/SimpleTable/SimpleTableComponent.tsx
  src/layout/SimpleTable/config.ts
Labels: kind/product-feature, backport-ignore

#3434 Brukerstyrt signing cypress test
  .github/workflows/cypress.yml
  src/features/applicationMetadata/types.ts
  src/features/language/useLanguage.ts
  src/queries/queries.ts
  src/types/index.ts
  test/e2e/integration/anonymous-stateless-app/anonymous.ts
  test/e2e/integration/anonymous-stateless-app/auto-save-behavior.ts
  test/e2e/integration/anonymous-stateless-app/options.ts
  test/e2e/integration/anonymous-stateless-app/validation.ts
  test/e2e/integration/frontend-test/instantiation.ts
  test/e2e/integration/frontend-test/party-selection.ts
  test/e2e/integration/frontend-test/self-identified-user.ts
  test/e2e/integration/signering-brukerstyrt/signing.ts
  test/e2e/integration/stateless-app/party-selection.ts
  test/e2e/pageobjects/app-frontend.ts
  test/e2e/support/apps/signing-test/signing-login.ts
  test/e2e/support/auth.ts
  test/e2e/support/fail-on-console-log.ts
  test/e2e/support/global.ts
  test/e2e/support/start-app-instance.ts
  test/e2e/support/utils.ts
Labels: kind/other, backport-ignore

#3431 added summary2 support for cards
  src/layout/Cards/CardsSummary.tsx
  src/layout/Cards/index.tsx
Labels: kind/product-feature, backport-ignore

#3430 added summary2 support for accordion
  src/layout/Accordion/SummaryAccordion.module.css
  src/layout/Accordion/SummaryAccordion.tsx
  src/layout/Accordion/index.tsx
  src/layout/AccordionGroup/SummaryAccordionGroupComponent.tsx
  src/layout/AccordionGroup/index.tsx
  test/e2e/integration/component-library/accordion-group.ts
  test/e2e/integration/component-library/accordion.ts
  test/e2e/integration/component-library/title-tag-updates.ts
Labels: kind/bug, backport-ignore

#3432 Rewriting `rows` state for `RepeatingGroup` and `Likert`
  src/codegen/ComponentConfig.ts
  src/features/devtools/components/NodeInspector/NodeHierarchy.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorDataField.tsx
  src/features/devtools/components/NodeInspector/NodeInspectorTextResourceBindings.tsx
  src/features/displayData/useDisplayData.ts
  src/features/form/layout/makeLayoutLookups.ts
  src/features/formData/FormDataWrite.tsx
  src/features/saveToGroup/useSaveToGroup.ts
  src/layout/Cards/CardsPlugin.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Grid/GridRowsPlugin.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/Generator/LikertGeneratorChildren.tsx
  src/layout/Likert/Generator/LikertRowsPlugin.tsx
  src/layout/Likert/LikertComponent.tsx
  src/layout/Likert/Summary/LikertSummaryComponent.tsx
  src/layout/Likert/Summary2/LikertSummary.tsx
  src/layout/Likert/rowUtils.ts
  src/layout/MultipleSelect/index.tsx
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupEditContext.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupsEditContainer.tsx
  src/layout/RepeatingGroup/Pagination/RepeatingGroupPagination.tsx
  src/layout/RepeatingGroup/Providers/OpenByDefaultProvider.test.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupContext.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupFocusContext.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/layout/RepeatingGroup/config.ts
  src/layout/RepeatingGroup/index.tsx
  src/layout/RepeatingGroup/types.ts
  src/layout/RepeatingGroup/useValidateRepGroupMinCount.ts
  src/layout/RepeatingGroup/utils.ts
  src/layout/Tabs/TabsPlugin.tsx
  src/utils/formLayout.ts
  src/utils/layout/DataModelLocation.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/CommitQueue.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/generator/NodeRepeatingChildren.tsx
  src/utils/layout/plugins/NodeDefPlugin.tsx
  src/utils/layout/plugins/NonRepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  src/utils/layout/plugins/RepeatingChildrenStorePlugin.tsx
  src/utils/layout/useNodeItem.ts
  test/e2e/integration/frontend-test/group.ts
Labels: kind/other, backport-ignore

#3442 Fix/api table open in new tab
  src/layout/SimpleTable/ApiTable.tsx
Labels: kind/bug, backport-ignore

#3457 add ApiTable summary mode support
  src/layout/SimpleTable/ApiTableSummary.tsx
  src/layout/SimpleTable/index.tsx
Labels: kind/bug, ignore-for-release, backport-ignore

#3463 Backports #3455
  src/components/LandmarkShortcuts.tsx
  src/features/navigation/AppNavigation.tsx
  src/features/navigation/SidebarNavigation.tsx
Labels: kind/other, backport-ignore

#3454 Feat/expression on validation message
  src/features/validation/expressionValidation/ExpressionValidation.test.tsx
  src/features/validation/expressionValidation/ExpressionValidation.tsx
  src/features/validation/expressionValidation/shared-expression-validation-tests/many-errors-direct.json
  src/features/validation/index.ts
  src/layout/GenericComponent.tsx
Labels: org/ssb, kind/product-feature, backport-ignore

#3462 Refactor: Make node object required in `useNodeItem()`
  src/features/devtools/components/NodeInspector/NodeHierarchy.tsx
  src/features/form/layout/utils/makeIndexedId.ts
  src/features/pdf/PdfView2.tsx
  src/features/validation/ComponentValidations.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/Cards/CardsSummary.tsx
  src/layout/Cards/index.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/GenericComponent.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/GridSummary.tsx
  src/layout/Grid/GridSummaryComponent.tsx
  src/layout/Grid/tools.ts
  src/layout/Group/SummaryGroupComponent.test.tsx
  src/layout/Group/SummaryGroupComponent.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/Summary/LikertSummaryComponent.tsx
  src/layout/LikertItem/LikertItemComponent.tsx
  src/layout/NavigationButtons/NavigationButtonsComponent.tsx
  src/layout/PersonLookup/PersonLookupComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.test.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableTitle.tsx
  src/layout/Subform/Summary/SubformSummaryComponent2.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary/SummaryContent.tsx
  src/layout/Tabs/TabsSummaryComponent.tsx
  src/layout/Tabs/index.tsx
  src/utils/formComponentUtils.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/useNodeItem.ts
Labels: kind/other, backport-ignore

#3472 Adds support for showing data type description in attachment list
  src/components/atoms/AltinnAttachment.module.css
  src/components/atoms/AltinnAttachments.test.tsx
  src/components/atoms/AltinnAttachments.tsx
  src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/components/organisms/AttachmentGroupings.tsx
  src/features/applicationMetadata/types.ts
  src/features/language/LanguageProvider.tsx
  src/features/language/useLanguage.ts
  src/layout/AttachmentList/AttachmentListComponent.test.tsx
  src/layout/AttachmentList/AttachmentListComponent.tsx
  src/layout/AttachmentList/config.ts
  src/layout/Datepicker/DatepickerComponent.test.tsx
  src/layout/Group/__snapshots__/SummaryGroupComponent.test.tsx.snap
  src/layout/RepeatingGroup/Summary/__snapshots__/SummaryRepeatingGroup.test.tsx.snap
  src/layout/SigningActions/SigningActionsComponent.test.tsx
  src/queries/queries.ts
  src/types/index.ts
  src/types/shared.ts
  src/utils/attachmentsUtils.test.ts
  src/utils/attachmentsUtils.ts
  test/e2e/support/global.ts
Labels: kind/product-feature, backport-ignore

#3487 Refactor: Rewriting data model validation to a hook
  src/codegen/ComponentConfig.ts
  src/features/devtools/layoutValidation/types.ts
  src/features/saveToGroup/layoutValidation.ts
  src/layout/AddToList/index.tsx
  src/layout/Address/index.tsx
  src/layout/Checkboxes/index.tsx
  src/layout/Custom/index.tsx
  src/layout/Datepicker/index.tsx
  src/layout/Dropdown/index.tsx
  src/layout/FileUpload/index.tsx
  src/layout/FileUpload/utils/useFileUploaderDataBindingsValidation.ts
  src/layout/FileUploadWithTag/index.tsx
  src/layout/Input/index.tsx
  src/layout/LayoutComponent.tsx
  src/layout/Likert/index.tsx
  src/layout/LikertItem/index.tsx
  src/layout/List/index.tsx
  src/layout/Map/index.tsx
  src/layout/MultipleSelect/index.tsx
  src/layout/OrganisationLookup/index.tsx
  src/layout/PersonLookup/index.tsx
  src/layout/RadioButtons/index.tsx
  src/layout/RepeatingGroup/index.tsx
  src/layout/SimpleTable/index.tsx
  src/layout/Tabs/index.tsx
  src/layout/TextArea/index.tsx
  src/utils/layout/generator/validation/NodePropertiesValidation.tsx
  src/utils/layout/generator/validation/hooks.ts
Labels: kind/other, backport-ignore

#3499 Add arrow navigation to language selector
  src/components/presentation/LanguageSelector.tsx
Labels: kind/bug, backport-ignore

#3402 Fixes for embedded FormProvider
  src/features/form/FormContext.tsx
  src/features/form/dynamics/HiddenComponentsProvider.tsx
  src/features/options/RunOptionsEffects.tsx
  src/layout/Subform/Summary/SubformSummaryComponent2.tsx
  src/layout/Summary2/SummaryComponent2/TaskSummaryWrapper.tsx
  src/utils/layout/NodesContext.tsx
Labels: kind/other, backport-ignore

#3506 Fixes sizes for HeaderComponent
  src/layout/Header/HeaderComponent.tsx
  test/e2e/integration/frontend-test/custom-button.ts
Labels: kind/bug, backport-ignore
