Repository Altinn/app-frontend-react, pull requests merged in 2025-01, with the labels that each got.

#2854 Fixing the flaky percy snapshots (disabled nav-buttons)
  test/e2e/integration/frontend-test/group.ts
  test/e2e/support/custom.ts
Labels: ignore-for-release

#2859 Fix future issues with processing layout-sets
  src/core/contexts/queryContext.tsx
  src/utils/layout/LayoutPage.ts
Labels: kind/bug

#2860 Installing `cypress-fail-on-console-error` + console error fixes
  package.json
  src/app-components/Button/Button.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/features/logging.ts
  src/features/options/useGetOptions.ts
  src/features/subformData/useSubformMutations.tsx
  src/global.ts
  src/hooks/delayedSelectors.ts
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/test/allApps.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/all.test.tsx
  src/utils/layout/plugins/RepeatingChildrenPlugin.tsx
  test/e2e/support/fail-on-console-log.ts
  test/e2e/support/index.ts
  test/e2e/support/start-app-instance.ts
  yarn.lock
Labels: kind/bug

#2847 disabling roles api call if api version is too low
  src/features/useCurrentPartyRoles.ts
Labels: kind/product-feature

#2865 Updates eslint react key rule and fixes errors
  eslint.config.mjs
  src/components/PDFGeneratorPreview/PDFGeneratorPreview.tsx
  src/features/devtools/components/DevToolsLogs/DevToolsLogs.tsx
  src/features/devtools/components/FeatureToggles/FeatureToggles.tsx
  src/layout/GenericComponent.tsx
Labels: kind/bug

#2867 Broken deep validations in nested repeating groups
  src/features/validation/ValidationStorePlugin.tsx
  src/features/validation/selectors/deepValidationsForNode.ts
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug

#2870 updates font sizes for print and group component heading
  src/layout/Group/GroupComponent.tsx
  src/styles/shared.css
Labels: kind/other

#2807 Signee List Component
  package.json
  src/app-components/Table/Table.tsx
  src/components/form/caption/Caption.module.css
  src/components/form/caption/Caption.tsx
  src/features/instantiate/containers/InvalidSubformLayoutError.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/OrganisationLookup/OrganisationLookupComponent.tsx
  src/layout/SigneeList/SigneeListComponent.module.css
  src/layout/SigneeList/SigneeListComponent.test.tsx
  src/layout/SigneeList/SigneeListComponent.tsx
  src/layout/SigneeList/SigneeListError.tsx
  src/layout/SigneeList/SigneeStateTag.test.tsx
  src/layout/SigneeList/SigneeStateTag.tsx
  src/layout/SigneeList/api.ts
  src/layout/SigneeList/apit.test.ts
  src/layout/SigneeList/config.ts
  src/layout/SigneeList/index.tsx
  src/types/index.ts
  yarn.lock
Labels: kind/product-feature

#2875 Fixing mutation of options causing broken `optionFilter` when used along with `source` options
  src/features/options/useGetOptions.ts
  test/e2e/integration/frontend-test/group-pets.ts
Labels: kind/bug

#2868 refetching roles when party and instance changes
  src/features/useCurrentPartyRoles.ts
Labels: kind/bug

#2877 More info in assertion failure output for pdf test
  test/e2e/integration/frontend-test/pdf.ts
Labels: kind/other

#2878 updates way of intercepting requests
  test/e2e/integration/frontend-test/pdf.ts
Labels: kind/other

#2881 Fixes to RepeatingGroup Table Summary2 CSS
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.module.css
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
Labels: kind/bug

#2891 Sets base font size for pdf to 10px
  src/styles/shared.css
Labels: kind/bug

#2840 Add summary2 for "Custom" component
  src/layout/Custom/CustomWebComponent.tsx
  src/layout/Custom/index.tsx
  src/layout/Grid/GridSummary.tsx
  src/layout/RepeatingGroup/Summary2/RepeatingGroupTableSummary/RepeatingGroupTableSummary.tsx
Labels: external-contribution-❤️, kind/product-feature

#2889 Handle missing profile when the logged in client in not a user (e.g. service owner)
  src/__mocks__/getPartyMock.ts
  src/features/instantiate/containers/InstantiateContainer.tsx
  src/features/language/LanguageProvider.tsx
  src/features/pdf/PDFWrapper.test.tsx
  src/features/profile/ProfileProvider.tsx
  src/test/renderWithProviders.tsx
Labels: kind/other

#2900 Help text bubble size affected by component title length
  src/app-components/Label/Label.module.css
Labels: kind/bug

#2906 Validate and warn mismatch between `format` and `timeStamp`
  src/layout/Datepicker/index.tsx
Labels: kind/other

#2903 Adding code for finding app frontend/backend versions
  src/test/allApps.ts
  src/utils/layout/all.test.tsx
Labels: ignore-for-release

#2904 Automatically cleaning up generated files
  package.json
  src/app-components/Label/types.ts
  src/codegen/clean-generated.ts
  src/codegen/run.ts
Labels: kind/other, ignore-for-release

#2908 Fix `formatMinimum` and `formatMaximum` behavior
  src/features/validation/schemaValidation/SchemaValidation.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/Datepicker/index.tsx
Labels: kind/bug

#2905 Rewriting most remaining MUI usage
  src/components/AltinnLoader.module.css
  src/components/AltinnSpinner.module.css
  src/components/AltinnSpinner.tsx
  src/components/LandmarkShortcuts.module.css
  src/components/LandmarkShortcuts.tsx
  src/components/ViewportWrapper.tsx
  src/components/altinnError.module.css
  src/components/altinnParty.module.css
  src/components/altinnParty.tsx
  src/components/form/OptionalIndicator.tsx
  src/components/logo/AltinnLogo.tsx
  src/components/message/ErrorPaper.module.css
  src/components/molecules/AltinnCollapsibleAttachments.module.css
  src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/components/molecules/AltinnInformationPaper.module.css
  src/components/molecules/AltinnInformationPaper.tsx
  src/components/organisms/AltinnReceipt.module.css
  src/components/organisms/AltinnReceipt.tsx
  src/components/organisms/AltinnReceiptSimple.tsx
  src/components/presentation/Presentation.test.tsx
  src/components/presentation/Presentation.tsx
  src/components/table/AltinnSummaryTable.module.css
  src/components/table/AltinnSummaryTable.tsx
  src/features/devtools/DevTools.module.css
  src/features/devtools/components/FeatureToggles/FeatureToggles.module.css
  src/features/devtools/components/LayoutInspector/LayoutInspector.module.css
  src/features/devtools/components/NodeInspector/NodeInspector.module.css
  src/features/devtools/components/OpenDevToolsButton/OpenDevToolsButton.module.css
  src/features/instantiate/containers/InstantiateContainer.tsx
  src/features/instantiate/containers/InstantiationContainer.tsx
  src/features/instantiate/containers/PartySelection.module.css
  src/features/instantiate/containers/PartySelection.tsx
  src/features/processEnd/feedback/Feedback.tsx
  src/index.css
  src/index.tsx
  src/layout/Checkboxes/MultipleChoiceSummary.module.css
  src/layout/Checkboxes/MultipleChoiceSummary.tsx
  src/layout/Checkboxes/__snapshots__/MultipleChoiceSummary.test.tsx.snap
  src/layout/FileUpload/DropZone/DropzoneComponent.module.css
  src/layout/FileUpload/DropZone/DropzoneComponent.tsx
  src/layout/FileUpload/FileUploadTable/AttachmentFileName.module.css
  src/layout/FileUpload/FileUploadTable/FileTableComponent.module.css
  src/layout/FileUpload/FileUploadTable/FileTableRow.tsx
  src/layout/FileUpload/Summary/AttachmentSummaryComponent.module.css
  src/layout/FileUploadWithTag/EditWindowComponent.module.css
  src/layout/Group/SummaryGroupComponent.module.css
  src/layout/Likert/Summary/LikertSummaryComponent.module.css
  src/layout/Map/MapComponentSummary.tsx
  src/layout/Map/Summary2/MapSummary.tsx
  src/layout/NavigationBar/NavigationBarComponent.module.css
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/OrganisationLookup/OrganisationLookupComponent.tsx
  src/layout/RepeatingGroup/Summary/SummaryRepeatingGroup.module.css
  src/layout/Subform/Summary/SubformSummaryComponent2.module.css
  src/layout/Summary/SummaryContent.module.css
  src/styles/shared.css
  src/test/renderWithProviders.tsx
  src/theme/altinnAppTheme.tsx
  test/e2e/support/fail-on-console-log.ts
Labels: kind/other

#2914 Fixed some typos and string values in css.
  src/components/message/ErrorPaper.module.css
  src/index.css
  src/layout/Checkboxes/CheckboxesContainerComponent.module.css
  test/e2e/integration/frontend-test/party-selection.ts
Labels: ignore-for-release

#2913 InnerGrid is overwritten by xs:12 in ComponentStructoreWrapper
  src/app-components/Label/Label.module.css
  src/layout/ComponentStructureWrapper.tsx
Labels: kind/bug

#2910 Removes documents to sign filter
  src/layout/SigningDocumentList/SigningDocumentListComponent.tsx
  src/layout/SigningDocumentList/api.ts
Labels: kind/bug

#2343 Dropping dependency updates for v3
  renovate.json
Labels: kind/other, ignore-for-release

#2921 Fixes unique key console error for summartyerrors
  src/layout/Summary/SummaryComponent.tsx
Labels: kind/bug

#2922 Refactors backend validation query function file for readability
  src/features/validation/backendValidation/BackendValidation.tsx
  src/features/validation/backendValidation/backendValidationQuery.ts
  src/features/validation/backendValidation/backendValidationUtils.ts
  src/features/validation/callbacks/onPageNavigationValidation.ts
  src/features/validation/validationContext.tsx
  src/hooks/useNavigatePage.ts
Labels: kind/other

#2920 Issues in Custom component
  src/layout/Custom/CustomWebComponent.tsx
Labels: kind/bug

#2918 Added language to doPerformAction in CustomButtonComponent.tsx
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/queries/queries.ts
Labels: kind/bug

#2917 Synchronizing shared expression tests with backend
  src/features/displayData/displayData.test.ts
  src/features/expressions/expression-functions.ts
  src/features/expressions/shared-functions-exist.test.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/shared-tests/functions/argv/arg-can-be-null.json
  src/features/expressions/shared-tests/functions/argv/error-no-args.json
  src/features/expressions/shared-tests/functions/argv/error-no-such-arg.json
  src/features/expressions/shared-tests/functions/argv/simple-0.json
  src/features/expressions/shared-tests/functions/argv/simple-1.json
  src/features/expressions/shared-tests/functions/dataModel/array-is-null.json
  src/features/expressions/shared-tests/functions/dataModel/direct-reference-in-group.json
  src/features/expressions/shared-tests/functions/dataModel/direct-reference-in-nested-group.json
  src/features/expressions/shared-tests/functions/dataModel/direct-reference-in-nested-group2.json
  src/features/expressions/shared-tests/functions/dataModel/direct-reference-in-nested-group3.json
  src/features/expressions/shared-tests/functions/dataModel/direct-reference-in-nested-group4.json
  src/features/expressions/shared-tests/functions/dataModel/in-group.json
  src/features/expressions/shared-tests/functions/dataModel/in-nested-group.json
  src/features/expressions/shared-tests/functions/dataModel/null-is-null.json
  src/features/expressions/shared-tests/functions/dataModel/null.json
  src/features/expressions/shared-tests/functions/dataModel/object-is-null.json
  src/features/expressions/shared-tests/functions/dataModel/simple-lookup-equals.json
  src/features/expressions/shared-tests/functions/dataModel/simple-lookup-is-null.json
  src/features/expressions/shared-tests/functions/dataModel/simple-lookup-is-null2.json
  src/features/expressions/shared-tests/functions/dataModel/simple-lookup.json
  src/features/expressions/shared-tests/functions/dataModelMultiple/component-lookup-non-default-model.json
  src/features/expressions/shared-tests/functions/dataModelMultiple/component-lookup-non-existing-model.json
  src/features/expressions/shared-tests/functions/dataModelMultiple/dataModel-non-default-model.json
  src/features/expressions/shared-tests/functions/dataModelMultiple/dataModel-non-existing-model.json
  src/features/expressions/shared-tests/functions/displayValue/type-Accordion.json
  src/features/expressions/shared-tests/functions/displayValue/type-AccordionGroup.json
  src/features/expressions/shared-tests/functions/displayValue/type-AddToList.json
  src/features/expressions/shared-tests/functions/displayValue/type-Address.json
  src/features/expressions/shared-tests/functions/displayValue/type-ButtonGroup.json
  src/features/expressions/shared-tests/functions/displayValue/type-Cards.json
  src/features/expressions/shared-tests/functions/displayValue/type-Checkboxes.json
  src/features/expressions/shared-tests/functions/displayValue/type-Custom.json
  src/features/expressions/shared-tests/functions/displayValue/type-Date.json
  src/features/expressions/shared-tests/functions/displayValue/type-Datepicker.json
  src/features/expressions/shared-tests/functions/displayValue/type-Dropdown.json
  src/features/expressions/shared-tests/functions/displayValue/type-FileUpload.json
  src/features/expressions/shared-tests/functions/displayValue/type-FileUploadWithTag.json
  src/features/expressions/shared-tests/functions/displayValue/type-Grid.json
  src/features/expressions/shared-tests/functions/displayValue/type-Group.json
  src/features/expressions/shared-tests/functions/displayValue/type-Input.json
  src/features/expressions/shared-tests/functions/displayValue/type-Likert.json
  src/features/expressions/shared-tests/functions/displayValue/type-LikertItem.json
  src/features/expressions/shared-tests/functions/displayValue/type-List.json
  src/features/expressions/shared-tests/functions/displayValue/type-Map.json
  src/features/expressions/shared-tests/functions/displayValue/type-MultipleSelect.json
  src/features/expressions/shared-tests/functions/displayValue/type-Number.json
  src/features/expressions/shared-tests/functions/displayValue/type-OrganisationLookup.json
  src/features/expressions/shared-tests/functions/displayValue/type-PersonLookup.json
  src/features/expressions/shared-tests/functions/displayValue/type-RadioButtons.json
  src/features/expressions/shared-tests/functions/displayValue/type-RepeatingGroup.json
  src/features/expressions/shared-tests/functions/displayValue/type-SimpleTable.json
  src/features/expressions/shared-tests/functions/displayValue/type-Subform.json
  src/features/expressions/shared-tests/functions/displayValue/type-Tabs.json
  src/features/expressions/shared-tests/functions/displayValue/type-Text.json
  src/features/expressions/shared-tests/functions/displayValue/type-TextArea.json
Labels: kind/other

#2927 Improve PR release workflow
  .github/workflows/pr-actions.yml
Labels: kind/other, ignore-for-release

#2928 Remove 'v' prefix in PR release url
  .github/workflows/pr-actions.yml
Labels: kind/other, ignore-for-release

#2931 Fix/party-id-of-signee
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.tsx
Labels: kind/bug

#2930 Signing backend validation
  src/features/validation/backendValidation/backendValidationQuery.ts
  src/layout/SigningStatusPanel/PanelSubmit.tsx
  src/layout/SigningStatusPanel/SigningStatusPanelComponent.tsx
Labels: kind/product-feature

#2933 Improved search in Dropdown and MultipleSelect
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/FileUploadWithTag/EditWindowComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/utils/options.ts
Labels: kind/other

#2943 Fix Input size in repeating group with mode showAll
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
Labels: kind/bug

#2901 Fix payment loading for custom payment pages
  src/features/form/FormContext.tsx
  src/features/payment/PaymentProvider.tsx
  src/layout/Payment/PaymentComponent.tsx
Labels: kind/bug

#2935 Move helptext component to app-components from designsystem
  src/app-components/HelpText/HelpText.test.tsx
  src/app-components/HelpText/HelpText.tsx
  src/app-components/HelpText/HelpTextIcon.test.tsx
  src/app-components/HelpText/HelpTextIcon.tsx
  src/app-components/HelpText/Helptext.module.css
  src/app-components/Label/Label.module.css
  src/components/form/HelpTextContainer.module.css
  src/components/form/HelpTextContainer.test.tsx
  src/components/form/HelpTextContainer.tsx
  src/components/form/RadioButton.tsx
  src/components/form/caption/Caption.tsx
  src/components/label/LabelContent.tsx
  src/layout/Address/AddressComponent.tsx
  src/layout/Checkboxes/WrappedCheckbox.tsx
  src/layout/Header/HeaderComponent.tsx
  src/layout/Paragraph/ParagraphComponent.tsx
  src/utils/layout/useLabel.tsx
  test/e2e/integration/frontend-test/number-text-date.ts
Labels: kind/other

#2939 Render signe state for signee list summary, await fetching queries before #readyforprint
  src/components/ReadyForPrint.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/SigneeList/SigneeListSummary.tsx
Labels: kind/product-feature

#2948 Reworking how expression functions are defined
  src/features/expressions/expression-functions.ts
  src/features/expressions/index.test.ts
  src/features/expressions/index.ts
  src/features/expressions/schema.test.ts
  src/features/expressions/shared-functions-exist.test.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/expressions/shared-tests/functions/if/fail-else-as-expr.json
  src/features/expressions/types.ts
  src/features/expressions/validation.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
Labels: kind/other

#2957 Allowing more components to show up inside an Accordion
  src/layout/ActionButton/config.ts
  src/layout/AddToList/config.ts
  src/layout/Address/config.ts
  src/layout/Alert/config.ts
  src/layout/AttachmentList/config.ts
  src/layout/ButtonGroup/config.ts
  src/layout/Checkboxes/config.ts
  src/layout/Custom/config.ts
  src/layout/CustomButton/config.ts
  src/layout/Datepicker/config.ts
  src/layout/Dropdown/config.ts
  src/layout/FileUpload/config.ts
  src/layout/FileUploadWithTag/config.ts
  src/layout/Grid/config.ts
  src/layout/Group/config.ts
  src/layout/Header/config.ts
  src/layout/IFrame/config.ts
  src/layout/Input/config.ts
  src/layout/InstanceInformation/config.ts
  src/layout/InstantiationButton/config.ts
  src/layout/Likert/config.ts
  src/layout/Link/config.ts
  src/layout/List/config.ts
  src/layout/Map/config.ts
  src/layout/MultipleSelect/config.ts
  src/layout/PDFPreviewButton/config.ts
  src/layout/Panel/config.ts
  src/layout/PaymentDetails/config.ts
  src/layout/PrintButton/config.ts
  src/layout/RadioButtons/config.ts
  src/layout/RepeatingGroup/config.ts
  src/layout/SimpleTable/config.ts
  src/layout/Subform/config.ts
  src/layout/Summary/config.ts
  src/layout/TextArea/config.ts
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/plugins/NonRepeatingChildrenPlugin.tsx
  src/utils/layout/types.ts
Labels: kind/bug

#2958 Make sure options are loaded in PDF
  src/features/options/OptionsPlugin.tsx
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/support/custom.ts
  test/e2e/support/index.ts
Labels: kind/bug
