Repository Altinn/app-frontend-react, pull requests merged in 2025-10, with the labels that each got.

#3744 Implementing `textOverflow.lineWrap` in RepeatingGroup
  src/layout/RepeatingGroup/RepeatingGroup.module.css
  src/utils/formComponentUtils.test.ts
  src/utils/formComponentUtils.ts
Labels: kind/bug, backport-ignore, squad/utforming

#3759 Restore loading state for server action in custom button
  src/layout/CustomButton/CustomButtonComponent.tsx
  test/e2e/integration/frontend-test/custom-button.ts
Labels: kind/bug, backport

#3753 Fixing navigation issues after validating attachment tags
  src/features/attachments/AttachmentsStorePlugin.tsx
  src/features/formData/FormDataWrite.tsx
  src/features/validation/backendValidation/BackendValidation.tsx
  src/features/validation/backendValidation/useUpdateIncrementalValidations.ts
  src/features/validation/validationContext.tsx
  test/e2e/integration/expression-validation-test/tags-validation.ts
  test/e2e/pageobjects/app-frontend.ts
Labels: kind/bug, backport-ignore

#3746 Fix for `pageBreak` bug in repeating groups
  src/layout/Summary/SummaryComponent.tsx
  test/e2e/integration/frontend-test/pdf.ts
  test/e2e/integration/multiple-datamodels-test/saving.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
Labels: kind/bug, backport

#3768 Adding dynamic height with overflow/scrolling for PopoverNavigation
  snapshots.js
  src/features/navigation/PopoverNavigation.tsx
Labels: kind/bug, backport-ignore
