Repository Altinn/app-frontend-react, pull requests merged in 2025-07, with the labels that each got.

#3508 Feature/3404 minmax num attachments expression support
  src/layout/FileUpload/FileUploadComponent.test.tsx
  src/layout/FileUpload/config.ts
  src/layout/FileUpload/index.tsx
  src/layout/FileUpload/useValidateMinNumberOfAttachments.ts
  src/layout/FileUploadWithTag/index.tsx
Labels: kind/feature-request, kind/product-feature, kind/incident-B, backport

#3505 Feature/3212 optional edit button text sub form
  src/layout/Subform/SubformComponent.tsx
  src/layout/Subform/config.ts
  src/layout/Subform/utils.ts
  test/e2e/integration/subform-test/tableEditButton.ts
Labels: kind/feature-request, kind/product-feature, backport

#3513 Fixes attachment list title disappearing
  src/components/atoms/AltinnAttachments.test.tsx
  src/components/atoms/AltinnAttachments.tsx
  src/components/atoms/AttachmentHeader.tsx
  src/components/molecules/AltinnCollapsibleAttachments.test.tsx
  src/components/molecules/AltinnCollapsibleAttachments.tsx
  src/components/organisms/AltinnReceipt.test.tsx
  src/components/organisms/AltinnReceipt.tsx
  src/components/organisms/AttachmentGroupings.module.css
  src/components/organisms/AttachmentGroupings.test.tsx
  src/components/organisms/AttachmentGroupings.tsx
  src/layout/AttachmentList/AttachmentListComponent.tsx
Labels: kind/bug, backport-ignore

#3528 Refactor: simplify process handling with action-specific hooks
  src/components/message/ErrorReport.test.tsx
  src/features/instance/useProcessNext.tsx
  src/features/instance/useProcessQuery.ts
  src/features/payment/PaymentProvider.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.test.tsx
  src/features/processEnd/confirm/containers/ConfirmPage.tsx
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/Button/ButtonComponent.tsx
  src/layout/Payment/PaymentComponent.tsx
  src/layout/SigningActions/PanelSigning.tsx
  src/layout/SigningActions/SubmitSigningButton.tsx
  src/queries/types.ts
  src/setupTests.ts
  src/test/renderWithProviders.tsx
  src/test/routerUtils.tsx
Labels: kind/other, backport-ignore

#3222 React v19 (with react-compiler)
  eslint.config.mjs
  package.json
  src/app-components/Button/Button.tsx
  src/components/ViewportWrapper.tsx
  src/components/form/Form.tsx
  src/components/presentation/Presentation.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/core/contexts/AppQueriesProvider.tsx
  src/core/contexts/processingContext.tsx
  src/core/contexts/taskStoreContext.tsx
  src/core/contexts/zustandContext.tsx
  src/features/alertOnChange/useAlertOnChange.ts
  src/features/displayData/useDisplayData.ts
  src/features/expressions/shared-functions.test.tsx
  src/features/form/layout/NavigateToNode.tsx
  src/features/formData/FormData.test.tsx
  src/features/instantiate/containers/PartySelection.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/language/useLanguage.ts
  src/features/options/useGetOptions.ts
  src/features/processEnd/confirm/containers/ConfirmPage.tsx
  src/features/processEnd/feedback/Feedback.tsx
  src/features/receipt/ReceiptContainer.tsx
  src/features/routing/AppRoutingContext.tsx
  src/features/validation/StoreValidationsInNode.tsx
  src/features/validation/nodeValidation/useNodeValidation.ts
  src/hooks/delayedSelectors.ts
  src/hooks/useAsRef.ts
  src/hooks/useLocalStorageState.ts
  src/hooks/useShallowMemo.ts
  src/hooks/useStateDeepEqual.ts
  src/hooks/useWaitForState.ts
  src/index.tsx
  src/layout/AddToList/AddToList.tsx
  src/layout/Grid/GridComponent.tsx
  src/layout/Grid/GridSummary.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupsEditContainer.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupFocusContext.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/layout/Subform/utils.ts
  src/layout/index.ts
  src/setupTests.ts
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/GeneratorErrorBoundary.tsx
  src/utils/layout/generator/LayoutSetGenerator.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/generator/validation/NodePropertiesValidation.tsx
  src/utils/layout/useExpressionDataSources.ts
  src/utils/layout/useNodeItem.ts
  webpack.common.js
  yarn.lock
Labels: kind/other, backport-ignore

#3539 Removes instantiationcontext in favor of direct hook usage
  src/features/instance/InstanceContext.tsx
  src/features/instantiate/InstantiationContext.tsx
  src/features/instantiate/InstantiationError.tsx
  src/features/instantiate/containers/InstantiateContainer.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/instantiate/useInstantiation.tsx
  src/index.tsx
  src/layout/InstantiationButton/InstantiationButton.tsx
  src/queries/queries.ts
  src/test/renderWithProviders.tsx
Labels: kind/other, backport-ignore

#3544 Removing routing context
  src/App.tsx
  src/components/ReadyForPrint.tsx
  src/components/form/Form.tsx
  src/components/form/LinkToPotentialNode.tsx
  src/components/presentation/BackNavigationButton.tsx
  src/components/presentation/Progress.tsx
  src/components/wrappers/ProcessWrapper.tsx
  src/core/ui/RenderStart.tsx
  src/features/applicationMetadata/ApplicationMetadataProvider.tsx
  src/features/devtools/components/DevNavigationButtons/DevNavigationButtons.tsx
  src/features/devtools/components/ExpressionPlayground/ExpressionPlayground.tsx
  src/features/expressions/expression-functions.ts
  src/features/form/FormContext.tsx
  src/features/form/layout/LayoutsContext.tsx
  src/features/formData/FormData.test.tsx
  src/features/formData/FormDataReaders.tsx
  src/features/instance/InstanceContext.tsx
  src/features/instance/useProcessNext.tsx
  src/features/instance/useProcessQuery.ts
  src/features/instance/useProcessTaskId.ts
  src/features/instantiate/containers/PartySelection.tsx
  src/features/instantiate/selection/InstanceSelection.test.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/features/instantiate/useInstantiation.tsx
  src/features/navigation/AppNavigation.test.tsx
  src/features/navigation/AppNavigation.tsx
  src/features/navigation/NavigationEffectContext.tsx
  src/features/navigation/components/Page.tsx
  src/features/navigation/components/PageGroup.tsx
  src/features/navigation/utils.ts
  src/features/payment/PaymentProvider.tsx
  src/features/propagateTraceWhenPdf/index.ts
  src/features/receipt/ReceiptContainer.tsx
  src/features/routing/AppRoutingContext.tsx
  src/hooks/navigation.ts
  src/hooks/useIsPdf.ts
  src/hooks/useNavigatePage.ts
  src/index.tsx
  src/layout/ActionButton/ActionButtonComponent.tsx
  src/layout/Button/ButtonComponent.tsx
  src/layout/CustomButton/CustomButtonComponent.tsx
  src/layout/FileUpload/FileUploadComponent.tsx
  src/layout/InstantiationButton/InstantiationButton.tsx
  src/layout/NavigationBar/NavigationBarComponent.tsx
  src/layout/Payment/PaymentComponent.tsx
  src/layout/Subform/SubformComponent.tsx
  src/layout/Subform/SubformWrapper.tsx
  src/layout/Subform/Summary/SubformSummaryTable.tsx
  src/layout/Summary/SummaryComponent.tsx
  src/layout/Summary2/SummaryComponent2/TaskSummaryWrapper.tsx
  src/test/renderWithProviders.tsx
  test/e2e/integration/component-library/address.ts
  test/e2e/integration/expression-validation-test/expression-validation.ts
  test/e2e/integration/frontend-test/navigation.ts
  test/e2e/support/formFiller.ts
Labels: kind/other, backport-ignore

#3551 Using profile directly from query instead of complex provider chains
  src/features/entrypoint/Entrypoint.tsx
  src/features/expressions/shared-functions.test.tsx
  src/features/form/layoutSets/LayoutSetsProvider.tsx
  src/features/instantiate/instantiateHeader/InstantiateHeader.tsx
  src/features/language/Lang.test.tsx
  src/features/language/LanguageProvider.tsx
  src/features/profile/ProfileProvider.tsx
  src/features/stateless/getAllowAnonymous.ts
  src/layout/FileUpload/DropZone/DropzoneComponent.test.tsx
  src/queries/appPrefetcher.ts
  src/queries/types.ts
  src/setupTests.ts
  src/test/renderWithProviders.tsx
Labels: kind/other, backport-ignore

#3534 Feature: service task
  src/__mocks__/getProcessDataMock.ts
  src/features/instance/InstanceContext.tsx
  src/features/instance/useProcessNext.tsx
  src/layout/Button/ButtonComponent.tsx
  src/layout/CustomButton/CustomButtonComponent.test.tsx
  src/types/shared.ts
  src/utils/formLayout.ts
  src/utils/network/sharedNetworking.ts
Labels: kind/product-feature, backport-ignore

#3555 test
  test/e2e/integration/anonymous-stateless-app/anonymous.ts
Labels: kind/other, backport
