Repository Altinn/app-frontend-react, pull requests merged in 2025-08, with the labels that each got.

#3576 Fixes datepicker cy test relying on specific current date
  test/e2e/integration/component-library/date-picker.ts
Labels: kind/other, backport-ignore

#3529 Fix/3043 accordion summary not working
  src/app-components/Accordion/AccordionItem.module.css
  src/app-components/Accordion/AccordionItem.tsx
  src/layout/Accordion/Accordion.tsx
  src/layout/Accordion/AccordionItem.tsx
  src/layout/Summary2/CommonSummaryComponents/LayoutSetSummaryAccordion.tsx
Labels: kind/bug, backport

#3547 Remove clear from Dropdown
  package.json
  src/app-components/Button/Button.tsx
  src/layout/Dropdown/DropdownComponent.module.css
  src/layout/Dropdown/DropdownComponent.test.tsx
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/MultipleSelect/MultipleSelectComponent.tsx
  src/utils/options.ts
  test/e2e/integration/component-library/dropdown.ts
  test/e2e/integration/component-library/multiple-select.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/group-pets.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
  yarn.lock
Labels: kind/other, backport-ignore

#3550 React compiler build fixes
  src/core/contexts/taskStoreContext.tsx
  src/features/alertOnChange/useAlertOnChange.ts
  src/layout/Dropdown/DropdownComponent.tsx
  src/layout/LayoutComponent.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupContext.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  webpack.common.js
  webpack.config.development.js
  webpack.config.production.js
Labels: ignore-for-release, backport-ignore

#3542 Using cypress snapshot testing for data models
  eslint.config.mjs
  package.json
  snapshots.js
  test/e2e/integration/anonymous-stateless-app/anonymous.ts
  test/e2e/integration/anonymous-stateless-app/validation.ts
  test/e2e/integration/component-library/accordion-group.ts
  test/e2e/integration/component-library/accordion.ts
  test/e2e/integration/component-library/address.ts
  test/e2e/integration/component-library/button.ts
  test/e2e/integration/component-library/divider.ts
  test/e2e/integration/component-library/grid.ts
  test/e2e/integration/component-library/link.ts
  test/e2e/integration/component-library/repeating-group.ts
  test/e2e/integration/component-library/text-area.ts
  test/e2e/integration/frontend-test/all-process-steps.ts
  test/e2e/integration/frontend-test/attachments-in-group.ts
  test/e2e/integration/frontend-test/cards.ts
  test/e2e/integration/frontend-test/components.ts
  test/e2e/integration/frontend-test/footer.ts
  test/e2e/integration/frontend-test/grid.ts
  test/e2e/integration/frontend-test/group-pets.ts
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/hide-row-in-group.ts
  test/e2e/integration/frontend-test/likert.ts
  test/e2e/integration/frontend-test/list-component.ts
  test/e2e/integration/frontend-test/on-entry.ts
  test/e2e/integration/frontend-test/party-selection.ts
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/signing-test/double-signing.ts
  test/e2e/integration/stateless-app/receipt.ts
  test/e2e/integration/stateless-app/stateless.ts
  test/e2e/support/custom.ts
  test/e2e/support/global.ts
  test/e2e/support/index.ts
  yarn.lock
Labels: kind/other, backport-ignore

#3605 Auto backport demo fail
  src/app-components/Datepicker/Datepicker.tsx
Labels: backport

#3589 Page navigation screen reader improvements
  src/features/navigation/AppNavigation.test.tsx
  src/features/navigation/AppNavigation.tsx
  src/features/navigation/components/Page.tsx
  src/features/navigation/components/PageGroup.tsx
  src/features/navigation/utils.ts
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  test/e2e/integration/navigation-test/navigation.ts
  test/e2e/support/global.ts
Labels: area/accessibility, kind/other, backport

#3590 hiding progress bar before pages is properly loaded
  src/components/presentation/Progress.tsx
Labels: kind/bug, backport-ignore

#3595 Fix/better-landmarks
  src/components/LandmarkShortcuts.tsx
  src/components/presentation/NavBar.test.tsx
  src/features/instantiate/instantiateHeader/InstantiateHeader.tsx
  src/features/navigation/SidebarNavigation.module.css
  src/features/navigation/SidebarNavigation.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
Labels: kind/bug, backport-ignore

#3611 Fix broken aria references in table
  src/layout/Checkboxes/CheckboxesContainerComponent.tsx
  src/layout/Input/InputComponent.tsx
  src/layout/RadioButtons/ControlledRadioGroup.tsx
Labels: kind/bug, backport-ignore

#3615 Schema for `removeWhenHidden` property
  src/codegen/ComponentConfig.ts
Labels: kind/other, backport

#3552 Improving performance when having lots of components
  src/features/attachments/StoreAttachmentsInNode.tsx
  src/features/validation/StoreValidationsInNode.tsx
  src/features/validation/ValidationStorePlugin.tsx
  src/features/validation/callbacks/onGroupCloseValidation.ts
  src/features/validation/validationContext.tsx
  src/layout/RepeatingGroup/Container/RepeatingGroupContainer.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupEditContainer.test.tsx
  src/layout/RepeatingGroup/EditContainer/RepeatingGroupsEditContainer.tsx
  src/layout/RepeatingGroup/Pagination/RepeatingGroupPagination.tsx
  src/layout/RepeatingGroup/Providers/OpenByDefaultProvider.test.tsx
  src/layout/RepeatingGroup/Providers/OpenByDefaultProvider.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupContext.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupFocusContext.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTableRow.tsx
  src/utils/layout/NodesContext.tsx
  src/utils/layout/generator/GeneratorContext.tsx
  src/utils/layout/generator/GeneratorStages.tsx
  src/utils/layout/generator/NodeGenerator.tsx
  src/utils/layout/hidden.ts
  test/e2e/integration/frontend-test/group.ts
  test/e2e/integration/frontend-test/options.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/integration/signing-test/reject.ts
  test/e2e/support/custom.ts
Labels: kind/other, backport-ignore

#3593 Fixing flaky navigation handling
  src/core/ui/useResetScrollPosition.ts
  src/hooks/useNavigatePage.ts
  src/index.tsx
  src/layout/GenericComponent.tsx
  test/e2e/integration/frontend-test/summary.ts
  test/e2e/integration/frontend-test/validation.ts
  test/e2e/support/custom.ts
Labels: kind/bug, backport-ignore

#3618 Fix/accessibility-issues-in-list-component
  src/app-components/Pagination/Pagination.tsx
  src/features/instantiate/selection/InstanceSelection.tsx
  src/language/texts/en.ts
  src/language/texts/nb.ts
  src/language/texts/nn.ts
  src/layout/List/ListComponent.tsx
  test/e2e/pageobjects/datalist.ts
Labels: kind/bug, backport-ignore

#3623 Adds script for running specified cypress tests until failure and save logs (for flaky tests)
  cypress.config.js
  package.json
  scripts/debug-flaky-cypress.sh
  test/e2e/support/index.ts
  yarn.lock
Labels: kind/other, backport-ignore

#3606 Minor performance optimizations for large repeating groups
  src/core/contexts/queryContext.tsx
  src/features/datamodel/DataModelsProvider.tsx
  src/features/form/layout/LayoutsContext.tsx
  src/features/form/layoutSets/LayoutSetsProvider.tsx
  src/features/form/layoutSettings/LayoutSettingsContext.tsx
  src/features/language/textResources/TextResourcesProvider.tsx
  src/layout/RepeatingGroup/Providers/RepeatingGroupContext.tsx
  src/layout/RepeatingGroup/Table/RepeatingGroupTable.tsx
  src/layout/RepeatingGroup/useTableComponentIds.ts
  src/layout/RepeatingGroup/utils.ts
Labels: kind/other, backport-ignore
